Repository Tealium/tealium-swift, changes with the labels that .github/labeler.yml gives for each.
All labels: core, datalayer, consent, storage, media, visitorservice, location, attribution, autotracking, lifecycle, remotecommands, collect, tagmanagement, tests, sampleapps

Fix media integration sleep tests
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumMediaIntegrationTests-iOS.xcscheme
  support/tests/test_tealium_media/TealiumMediaIntegrationTests.swift
Labels: tests

Cleanup autotracking tests and use a separate delegate on each test
  support/tests/test_tealium_autotracking/AutotrackingModuleTests.swift
Labels: tests

[MT-1278] Fix tests failing due to TealiumContext reuse (#303)
  .github/workflows/test.yml
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumMediaIntegrationTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumTagManagementIntegrationTests-iOS.xcscheme
  support/tests/TestTealiumHelper.swift
  support/tests/test_tealium_attribution/TealiumAttributionDataTests.swift
  support/tests/test_tealium_autotracking/AutotrackingModuleTests.swift
  support/tests/test_tealium_core/TealiumDelegateProxyTests.swift
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
  support/tests/test_tealium_core/consent_manager/ConsentManagerTests.swift
  support/tests/test_tealium_media/TealiumMediaIntegrationTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandsModuleTests.swift
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  support/tests/test_tealium_visitorservice/mocks/MockTealiumVisitorServiceManager.swift
  tealium/collectors/autotracking/AutotrackingModule.swift
  tealium/core/TealiumContext.swift
Labels: core, autotracking, tests

Version 2.10.0
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

Update samples
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile
  samples/VisitorServiceDemo/Podfile.lock
  support/tests/test_tealium_tagmanagement/TagManagementModuleTests.swift
Labels: tests, sampleapps

Update samples
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile
  samples/VisitorServiceDemo/Podfile.lock
  support/tests/test_tealium_tagmanagement/TagManagementModuleTests.swift
Labels: tests, sampleapps

[MT-1278] Fix tests failing due to TealiumContext reuse (#303)
  .github/workflows/test.yml
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumMediaIntegrationTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumTagManagementIntegrationTests-iOS.xcscheme
  support/tests/TestTealiumHelper.swift
  support/tests/test_tealium_attribution/TealiumAttributionDataTests.swift
  support/tests/test_tealium_autotracking/AutotrackingModuleTests.swift
  support/tests/test_tealium_core/TealiumDelegateProxyTests.swift
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
  support/tests/test_tealium_core/consent_manager/ConsentManagerTests.swift
  support/tests/test_tealium_media/TealiumMediaIntegrationTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandsModuleTests.swift
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  support/tests/test_tealium_visitorservice/mocks/MockTealiumVisitorServiceManager.swift
  tealium/collectors/autotracking/AutotrackingModule.swift
  tealium/core/TealiumContext.swift
Labels: core, autotracking, tests

Version 2.10.0
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

[MT-1275] WKWebViewConfig comparison fix (#298)
  support/tests/test_tealium_core/TealiumConfigTests.swift
  tealium/core/TealiumConfig.swift
Labels: core, tests

[MT-1271] Expose TagManagement webview to allow isInspectable changes on XCode 14.3+ (#299)
  .swiftlint_tests.yml
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-macOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-tvOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-watchOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumVisitorServiceTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumVisitorServiceTests-macOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumVisitorServiceTests-tvOS.xcscheme
  support/tests/test_tealium_autotracking/AutotrackingModuleTests.swift
  support/tests/test_tealium_tagmanagement/MockTagManagementWebView.swift
  support/tests/test_tealium_tagmanagement/TagManagementWKWebViewTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  tealium/dispatchers/tagmanagement/TagManagementExtensions.swift
  tealium/dispatchers/tagmanagement/TagManagementProtocol.swift
  tealium/dispatchers/tagmanagement/TagManagementWKWebView.swift
Labels: tagmanagement, tests

[MT-1276] Apply doNotBackup flag when migrating from a folder to another (#300)
  support/tests/test_tealium_core/TealiumDiskTests.swift
  tealium/core/storage/TealiumDiskStorage.swift
Labels: core, storage, tests

Remove excluded keys from migration
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/MigratorTests.swift
  tealium/core/utils/Migrator.swift
Labels: core, tests

Add more keys
  tealium/core/utils/Migrator.swift
Labels: core

Move consent removal for after the migration too
  support/tests/test_tealium_core/MigratorTests.swift
  tealium/core/utils/Migrator.swift
Labels: core, tests

Version 2.10.1
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

[MT-1333] remove app_version from objc migration (#305)
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/MigratorTests.swift
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
  tealium/core/utils/Migrator.swift
Labels: core, tests

Move +load method into a specific loader class, entirely defined in objective-c, to avoid crash on XCode 15 beta
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/core/objc/TealiumDelegateProxyLoader.h
  tealium/core/objc/TealiumDelegateProxyLoader.m
Labels: core

Move +load method into a specific loader class (#308)
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/core/objc/TealiumDelegateProxyLoader.h
  tealium/core/objc/TealiumDelegateProxyLoader.m
Labels: core

Move +load method into a specific loader class (#308)
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/core/objc/TealiumDelegateProxyLoader.h
  tealium/core/objc/TealiumDelegateProxyLoader.m
Labels: core

[MT-1333] remove app_version from objc migration (#305)
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/MigratorTests.swift
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
  tealium/core/utils/Migrator.swift
Labels: core, tests

POC of backup for critical data
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/appdata/VisitorIdMigratorTests.swift
  support/tests/test_tealium_core/appdata/VisitorIdProviderTests.swift
  support/tests/test_tealium_core/datalayer/DataLayerManagerTests.swift
  tealium/collectors/lifecycle/Lifecycle.swift
  tealium/collectors/lifecycle/LifecycleModule.swift
  tealium/core/TealiumContext.swift
  tealium/core/appdata/AppDataModule.swift
  tealium/core/appdata/VisitorIdMigrator.swift
  tealium/core/appdata/VisitorIdProvider.swift
  tealium/core/storage/TealiumBackupStorage.swift
Labels: core, storage, lifecycle, tests

Remove applicationSupport from appleTV
  tealium/core/storage/Disk/Disk+InternalHelpers.swift
  tealium/core/storage/Disk/Disk.swift
  tealium/core/storage/TealiumDiskStorage.swift
Labels: core, storage

Add consent preferences backup
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
  support/tests/test_tealium_core/consent_manager/ConsentManagerTests.swift
  tealium/core/consentmanager/ConsentManager.swift
  tealium/core/consentmanager/ConsentManagerModule.swift
  tealium/core/consentmanager/ConsentPreferencesStorage.swift
Labels: core, consent, tests

Updated device names & bumped minimum OS versions of all targets
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/CoreMocks.swift
  tealium/core/TealiumConstants.swift
  tealium/core/TealiumDelegateProxy.swift
  tealium/core/datalayer/DataLayerExtensions.swift
  tealium/core/devicedata/device-names.json
  tealium/core/utils/Migrator.swift
  tealium/core/utils/TealiumNetworkUtils.swift
  tealium/dispatchers/tagmanagement/TagManagementWKNavigationDelegate.swift
Labels: core, datalayer, tagmanagement, tests

Updated tests
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/device_data/DeviceDataTests.swift
Labels: tests

updated macos version for tests
  .github/workflows/test.yml
Labels: none

minor code update to fix warning
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumTagManagementTests-iOS.xcscheme
  tealium/core/TealiumDelegateProxy.swift
  tealium/core/utils/TealiumNetworkUtils.swift
Labels: core

updated podfile watchos/tvos versions
  samples/TealiumSwiftExample/Podfile
  samples/TealiumSwiftExample/Podfile.lock
Labels: sampleapps

updated coocapods target versions
  tealium-swift.podspec
Labels: none

attempt to fix failing tests
  samples/TealiumSwiftExample/Podfile
  samples/TealiumSwiftExample/Podfile.lock
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
Labels: tests, sampleapps

First attempt to disable the module on config.isEnabled change
  tealium/core/ModulesManager.swift
Labels: core

Make sure collectors are also removed when config is disabled and add tests
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
  tealium/core/ModulesManager.swift
Labels: core, tests

Fix warnings in tests
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
Labels: tests

Fix tests for MacOS
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
Labels: tests

Fix labeler version to 4.3.0 to avoid breaking changes on new majors
  .github/workflows/pr-labeler.yml
Labels: none

Make sure to reset config's shouldUseRremotePublishSettings
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
Labels: tests

increase timeout for failing tagmanagement test
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
Labels: tests

Remove applicationSupport from appleTV
  tealium/core/storage/Disk/Disk+InternalHelpers.swift
  tealium/core/storage/Disk/Disk.swift
  tealium/core/storage/TealiumDiskStorage.swift
Labels: core, storage

Add test for default location on TVOS and the other platforms
  support/tests/test_tealium_core/TealiumDiskTests.swift
Labels: tests

Fix labeler version to 4.3.0 to avoid breaking changes on new majors
  .github/workflows/pr-labeler.yml
Labels: none

.github/labeler.yml:

core:
  - tealium/core/**/*
datalayer:
  - tealium/core/datalayer/*     
consent:
  - tealium/core/consentmanager/*
storage:
  - tealium/core/storage/*
media:
  - tealium/collectors/media/*
visitorservice:
  - tealium/collectors/visitorservice/*
location:
  - tealium/collectors/location/*
attribution:
  - tealium/collectors/attribution/*
autotracking:
  - tealium/collectors/autotracking/*
lifecycle:
  - tealium/collectors/lifecycle/*
remotecommands:
  - tealium/dispatchers/remotecommands/*
collect:
  - tealium/dispatchers/collect/*
tagmanagement:
  - tealium/dispatchers/tagmanagement/*
tests:
  - support/tests/**/*
sampleapps:
  - samples/**/*
