Repository Tealium/tealium-swift, changes with the labels that .github/labeler.yml gives for each.
All labels: core, datalayer, consent, storage, media, visitorservice, location, attribution, autotracking, lifecycle, remotecommands, collect, tagmanagement, tests, sampleapps

[MT-770] missing wait on UITest
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingIOSUITests.swift
Labels: tests

[MT-770] change UITests
  builder/AutoTracking Test/ContentView.swift
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingIOSUITests.swift
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingMacOSUITests.swift
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingTvOSUITests.swift
Labels: tests

Improve a log and guard on weak self
  tealium/collectors/location/TealiumLocationManager.swift
Labels: location

[MT-813] make scene delegate swizzling happen even if app is already active
  tealium/core/TealiumDelegateProxy.swift
Labels: core

[MT-813] reuse common handleDeepLink method
  tealium/core/TealiumDelegateProxy.swift
Labels: core

[MT-813] avoid guard let to block default scene delegate method
  tealium/core/TealiumDelegateProxy.swift
Labels: core

Cherry pick from [MT-677]
  tealium/core/utils/TealiumQueues.swift
Labels: core

New logic for TealiumDelegateProxy swizzling
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/core/TealiumDelegateProxy.swift
Labels: core

[MT-813] add category of delegate proxy to swizzle as soon as the class is loaded
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/core/TealiumDelegateProxy+Swizzle.h
  tealium/core/TealiumDelegateProxy+Swizzle.m
  tealium/core/TealiumDelegateProxy.swift
Labels: core

[MT-770] fix UIViewController swizzle and add tests for it
  builder/AutoTracking Test/ContentView.swift
  builder/AutoTracking Test/ViewControllerTest.swift
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingIOSUITests.swift
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingMacOSUITests.swift
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingTvOSUITests.swift
  tealium/collectors/autotracking/UIViewController+TealiumTracker.h
  tealium/collectors/autotracking/UIViewController+TealiumTracker.m
Labels: autotracking, tests

Make TealiumDelegateProxy swizzle usable from cocoapods
  tealium-swift.podspec
  tealium/core/TealiumDelegateProxy+Swizzle.h
  tealium/core/TealiumDelegateProxy+Swizzle.m
Labels: core

[MT-813] Make sceneDelegate swizzling work in time for first deeplink
  tealium/core/TealiumDelegateProxy.swift
Labels: core

[MT-813] add swizzling method
  tealium/core/TealiumDelegateProxy.swift
Labels: core

[MT-813] make swizzling safer
  tealium/core/TealiumDelegateProxy.swift
Labels: core

[MT-813] fix willConnectToSession for closed application (userActivity instead of urlContexts)
  tealium/core/TealiumDelegateProxy.swift
Labels: core

[MT-813] Reassign scene delegate
  tealium/core/TealiumDelegateProxy.swift
Labels: core

[MT-813] Add selectors and reorganize in extensions
  tealium/core/TealiumDelegateProxy.swift
Labels: core

[MT-813] Move UIScene extension into a separate file
  tealium/core/TealiumDelegateProxy.swift
  tealium/core/UIScene+TealiumDelegateGetter.swift
Labels: core

[MT-813] fix current tests
  builder/iOSTealiumTest/iOSTealiumTest.entitlements
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/AppDelegateProxyTests.swift
  support/tests/test_tealium_core/UIApplication+ManualContinueActivity.h
  support/tests/test_tealium_core/UIApplication+ManualContinueActivity.m
  tealium/core/TealiumDelegateProxy.swift
  tealium/core/datalayer/DataLayerManagerProtocol.swift
Labels: core, datalayer, tests

[MT-813] remove test target
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/test/AppDelegate.swift
  builder/test/Assets.xcassets/AccentColor.colorset/Contents.json
  builder/test/Assets.xcassets/AppIcon.appiconset/Contents.json
  builder/test/Assets.xcassets/Contents.json
  builder/test/Base.lproj/LaunchScreen.storyboard
  builder/test/Base.lproj/Main.storyboard
  builder/test/Info.plist
  builder/test/SceneDelegate.swift
  builder/test/ViewController.swift
  builder/test/test.entitlements
Labels: none

[MT-813] Split AppDelegateTests from SceneDelegateTests
  builder/AppDelegateTest/AppDelegate.swift
  builder/AppDelegateTest/Assets.xcassets/AccentColor.colorset/Contents.json
  builder/AppDelegateTest/Assets.xcassets/AppIcon.appiconset/Contents.json
  builder/AppDelegateTest/Assets.xcassets/Contents.json
  builder/AppDelegateTest/Base.lproj/LaunchScreen.storyboard
  builder/AppDelegateTest/Base.lproj/Main.storyboard
  builder/AppDelegateTest/Info.plist
  builder/AppDelegateTest/ViewController.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/AppDelegateTest.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumSceneDelegateProxyTests-iOS.xcscheme
  support/tests/test_tealium_core/TealiumDelegateProxyTests.swift
  support/tests/test_tealium_core/UIApplication+ManualContinueActivity.h
  support/tests/test_tealium_core/UIApplication+ManualContinueActivity.m
Labels: tests

[MT-813] Add sceneConnection tests
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAppDelegateProxyTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumSceneDelegateProxyTests-iOS.xcscheme
  support/tests/test_tealium_core/SceneDelegateProxyTests.swift
  support/tests/test_tealium_core/TealiumDelegateProxyTests.swift
  support/tests/test_tealium_core/UIApplication+ManualContinueActivity.h
  support/tests/test_tealium_core/UIApplication+ManualContinueActivity.m
Labels: tests

[MT-813] make sceneEnabled private(set)
  tealium/core/TealiumDelegateProxy.swift
Labels: core

Improve reliability on DataLayer test
  support/tests/test_tealium_core/datalayer/DataLayerManagerTests.swift
Labels: tests

[MT-813] Deprecate appDelegateProxyEnabled flag
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAppDelegateProxyTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumSceneDelegateProxyTests-iOS.xcscheme
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
  tealium/core/Tealium.swift
  tealium/core/TealiumConfig.swift
  tealium/core/TealiumDelegateProxy.swift
Labels: core, tests

[MT-813] Don't remove ALL contexts from the delegateProxy when 1 tealium instance is deallocated
  support/tests/test_tealium_core/TealiumDelegateProxyTests.swift
  tealium/core/Tealium.swift
  tealium/core/TealiumDelegateProxy.swift
Labels: core, tests

[MT-770] Remove autotrackingMode and make autotrackingDelegate weak
  tealium/collectors/autotracking/AutoTrackingExtensions.swift
  tealium/collectors/autotracking/AutotrackingModule.swift
Labels: autotracking

[MT-770] add tests for blocklist and weak delegate
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_autotracking/AutotrackingConfigTests.swift
  support/tests/test_tealium_autotracking/AutotrackingModuleTests.swift
  support/tests/test_tealium_autotracking/blocklist.json
  tealium/collectors/autotracking/AutotrackingModule.swift
Labels: autotracking, tests

[MT-770] Exchange implementations instead of just replacing one
  tealium/collectors/autotracking/UIViewController+Tealium.swift
Labels: autotracking

[MT-770] always call super class and better check for TealiumViewController
  tealium/collectors/autotracking/UIViewController+Tealium.swift
Labels: autotracking

Revert changes to TealiumHelper
  builder/iOSTealiumTest/TealiumHelper.swift
Labels: none

[MT-770] Rename AutoTracking Test to AutoTrackingIOSTest
  builder/AutoTracking Test/Info.plist
  builder/AutoTracking Test/blocklist.json
  builder/AutoTrackingIOSTest/Assets.xcassets/AccentColor.colorset/Contents.json
  builder/AutoTrackingIOSTest/Assets.xcassets/AppIcon.appiconset/Contents.json
  builder/AutoTrackingIOSTest/Assets.xcassets/Contents.json
  builder/AutoTrackingIOSTest/AutoTrackingIOSTestApp.swift
  builder/AutoTrackingIOSTest/Preview Content/Preview Assets.xcassets/Contents.json
  builder/AutoTrackingIOSTest/TextContent.swift
  builder/AutoTrackingIOSTest/ViewControllerTest.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/AutoTracking Test.xcscheme
Labels: none

[MT-770] Fix test schemes
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-watchOS.xcscheme
Labels: none

Remove unused file JourneyEventsModule
  builder/iOSTealiumTest/TealiumHelper.swift
  tealium/collectors/journeyevents/JourneyEventsModule.swift
Labels: none

[MT-813] Scenedelegate fix (#230)
  builder/AppDelegateTest/AppDelegate.swift
  builder/AppDelegateTest/Assets.xcassets/AccentColor.colorset/Contents.json
  builder/AppDelegateTest/Assets.xcassets/AppIcon.appiconset/Contents.json
  builder/AppDelegateTest/Assets.xcassets/Contents.json
  builder/AppDelegateTest/Base.lproj/LaunchScreen.storyboard
  builder/AppDelegateTest/Base.lproj/Main.storyboard
  builder/AppDelegateTest/Info.plist
  builder/AppDelegateTest/ViewController.swift
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/iOSTealiumTest/iOSTealiumTest.entitlements
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/AppDelegateTest.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumSceneDelegateProxyTests-iOS.xcscheme
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/AppDelegateProxyTests.swift
  support/tests/test_tealium_core/SceneDelegateProxyTests.swift
  support/tests/test_tealium_core/TealiumDelegateProxyTests.swift
  support/tests/test_tealium_core/UIApplication+ManualContinueActivity.h
  support/tests/test_tealium_core/UIApplication+ManualContinueActivity.m
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
  support/tests/test_tealium_core/datalayer/DataLayerManagerTests.swift
  tealium-swift.podspec
  tealium/core/Tealium.swift
  tealium/core/TealiumAppDelegateProxy.swift
  tealium/core/TealiumConfig.swift
  tealium/core/TealiumDelegateProxy+Swizzle.h
  tealium/core/TealiumDelegateProxy+Swizzle.m
  tealium/core/TealiumDelegateProxy.swift
  tealium/core/UIScene+TealiumDelegateGetter.swift
  tealium/core/datalayer/DataLayerManagerProtocol.swift
  tealium/core/utils/TealiumQueues.swift
Labels: core, datalayer, tests

Remove AppDelegateTest sample
  builder/AppDelegateTest/AppDelegate.swift
  builder/AppDelegateTest/Assets.xcassets/AccentColor.colorset/Contents.json
  builder/AppDelegateTest/Assets.xcassets/AppIcon.appiconset/Contents.json
  builder/AppDelegateTest/Assets.xcassets/Contents.json
  builder/AppDelegateTest/Base.lproj/LaunchScreen.storyboard
  builder/AppDelegateTest/Base.lproj/Main.storyboard
  builder/AppDelegateTest/Info.plist
  builder/AppDelegateTest/ViewController.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
Labels: none

Version 2.5.0
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

[MT-848] try to split objc target with spm
  Package.swift
Labels: none

[MT-848] move objc files into subfolder
  Package.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/core/objc/TealiumDelegateProxy+Swizzle.h
  tealium/core/objc/TealiumDelegateProxy+Swizzle.m
Labels: core

[MT-848] fix core library name
  Package.swift
Labels: none

.github/labeler.yml:

core:
  - tealium/core/**/*
datalayer:
  - tealium/core/datalayer/*     
consent:
  - tealium/core/consentmanager/*
storage:
  - tealium/core/storage/*
media:
  - tealium/collectors/media/*
visitorservice:
  - tealium/collectors/visitorservice/*
location:
  - tealium/collectors/location/*
attribution:
  - tealium/collectors/attribution/*
autotracking:
  - tealium/collectors/autotracking/*
lifecycle:
  - tealium/collectors/lifecycle/*
remotecommands:
  - tealium/dispatchers/remotecommands/*
collect:
  - tealium/dispatchers/collect/*
tagmanagement:
  - tealium/dispatchers/tagmanagement/*
tests:
  - support/tests/**/*
sampleapps:
  - samples/**/*
