Repository Tealium/tealium-swift, changes with the labels that .github/labeler.yml gives for each.
All labels: core, datalayer, consent, storage, media, visitorservice, location, attribution, autotracking, lifecycle, remotecommands, collect, tagmanagement, tests, sampleapps

[MT-784] add test for expires after a specific date
  support/tests/test_tealium_core/datalayer/DataLayerTests.swift
Labels: tests

[MT-784] improve a failable test
  support/tests/test_tealium_core/datalayer/DataLayerManagerTests.swift
  tealium/core/datalayer/SessionManager.swift
Labels: core, datalayer, tests

[MT-797] make RemoteHTTPCommand use the relative RemoteCommandsManager urlSession
  support/tests/test_tealium_remotecommands/RemoteCommandsModuleTests.swift
  support/tests/test_tealium_remotecommands/RemoteHTTPCommandTests.swift
  support/tests/test_tealium_remotecommands/mocks/MockRemoteCommandsManager.swift
  support/tests/test_tealium_remotecommands/mocks/MockURLSession.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandProtocols.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
  tealium/dispatchers/remotecommands/RemoteCommandsModule.swift
  tealium/dispatchers/remotecommands/RemoteHTTPCommand.swift
Labels: remotecommands, tests

Revert "[WIP] Try to add watchOS app extension"
  builder/AutoTrackingWatchOSTest Extension/Assets.xcassets/Complication.complicationset/Circular.imageset/Contents.json
  builder/AutoTrackingWatchOSTest Extension/Assets.xcassets/Complication.complicationset/Contents.json
  builder/AutoTrackingWatchOSTest Extension/Assets.xcassets/Complication.complicationset/Extra Large.imageset/Contents.json
  builder/AutoTrackingWatchOSTest Extension/Assets.xcassets/Complication.complicationset/Graphic Bezel.imageset/Contents.json
  builder/AutoTrackingWatchOSTest Extension/Assets.xcassets/Complication.complicationset/Graphic Circular.imageset/Contents.json
  builder/AutoTrackingWatchOSTest Extension/Assets.xcassets/Complication.complicationset/Graphic Corner.imageset/Contents.json
  builder/AutoTrackingWatchOSTest Extension/Assets.xcassets/Complication.complicationset/Graphic Extra Large.imageset/Contents.json
  builder/AutoTrackingWatchOSTest Extension/Assets.xcassets/Complication.complicationset/Graphic Large Rectangular.imageset/Contents.json
  builder/AutoTrackingWatchOSTest Extension/Assets.xcassets/Complication.complicationset/Modular.imageset/Contents.json
  builder/AutoTrackingWatchOSTest Extension/Assets.xcassets/Complication.complicationset/Utilitarian.imageset/Contents.json
  builder/AutoTrackingWatchOSTest Extension/Assets.xcassets/Contents.json
  builder/AutoTrackingWatchOSTest Extension/ComplicationController.swift
  builder/AutoTrackingWatchOSTest Extension/ContentView.swift
  builder/AutoTrackingWatchOSTest Extension/Info.plist
  builder/AutoTrackingWatchOSTest Extension/Preview Content/Preview Assets.xcassets/Contents.json
  builder/AutoTrackingWatchOSTest Extension/tealium_swiftApp.swift
  builder/AutoTrackingWatchOSTest/Assets.xcassets/AccentColor.colorset/Contents.json
  builder/AutoTrackingWatchOSTest/Assets.xcassets/AppIcon.appiconset/Contents.json
  builder/AutoTrackingWatchOSTest/Assets.xcassets/Contents.json
  builder/AutoTrackingWatchOSTest/Info.plist
  builder/tealium-swift.xcodeproj/project.pbxproj
Labels: none

[MT-770] add a UIViewController protocol to ease autotracking for custom view controllers
  tealium/collectors/autotracking/TealiumViewController.swift
Labels: autotracking

[MT-770] change info.plist flag that prevents UIViewController swizzling
  tealium/collectors/autotracking/UIViewController+Tealium.swift
Labels: autotracking

[MT-796] avoid registering to lowPowerNotificationObserver if batterySaver is not enabled
  support/tests/test_tealium_core/dispatch_manager/DispatchManagerTests.swift
  tealium/core/dispatchmanager/TealiumDispatchQueueExtensions.swift
Labels: core, tests

Use macos-11 and therefore xcode 12.5 on CICD
  .github/workflows/test.yml
Labels: none

Use later of iOS simulator version
  .github/workflows/test.yml
Labels: none

[MT-770] revert ios 11 to ios 9
  .github/workflows/test.yml
  Package.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/TealiumInstanceManagerTests.swift
  tealium-swift.podspec
  tealium/core/TealiumInstanceManager.swift
Labels: core, tests

added dequeue request
  tealium/core/consentmanager/ConsentManager.swift
Labels: core, consent

Select xcode version for missed jobs
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: none

Try to force macos-11 as latest still defaults to 10.15
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: none

[MT-770] Wait for existence to allow slower CICD tests to work
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingIOSUITests.swift
Labels: tests

Try to fix code signing
  builder/tealium-swift.xcodeproj/project.pbxproj
Labels: none

Added test to make sure queued requests are released on consent granted
  support/tests/test_tealium_core/consent_manager/ConsentManagerTests.swift
  support/tests/test_tealium_core/consent_manager/MockConsentDelegate.swift
Labels: tests

[MT-770] Fix swift import from obj-c with cocoapods
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftExample.xcscheme
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample (Notification).xcscheme
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample.xcscheme
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/WidgetExampleExtension.xcscheme
  samples/VisitorServiceDemo/Podfile.lock
  tealium/collectors/autotracking/UIViewController+Tealium.swift
  tealium/collectors/autotracking/UIViewController+TealiumTracker.m
Labels: autotracking, sampleapps

[MT-770] wait directly for both didappear of wrapper and real view controller
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingIOSUITests.swift
Labels: tests

Mt 784 (#221)
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/datalayer/DataLayerManagerTests.swift
  support/tests/test_tealium_core/datalayer/DataLayerTests.swift
  support/tests/test_tealium_core/datalayer/MockEventDataDiskStorage.swift
  support/tests/test_tealium_core/datalayer/SessionManagerTests.swift
  tealium/core/datalayer/DataLayer.swift
  tealium/core/datalayer/DataLayerCollection.swift
  tealium/core/datalayer/DataLayerManagerProtocol.swift
  tealium/core/datalayer/Expiry.swift
  tealium/core/datalayer/SessionManager.swift
Labels: core, datalayer, tests

[MT-797] make RemoteHTTPCommand use the relative RemoteCommandsManager urlSession (#222)
  support/tests/test_tealium_remotecommands/RemoteCommandsModuleTests.swift
  support/tests/test_tealium_remotecommands/RemoteHTTPCommandTests.swift
  support/tests/test_tealium_remotecommands/mocks/MockRemoteCommandsManager.swift
  support/tests/test_tealium_remotecommands/mocks/MockURLSession.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandProtocols.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
  tealium/dispatchers/remotecommands/RemoteCommandsModule.swift
  tealium/dispatchers/remotecommands/RemoteHTTPCommand.swift
Labels: remotecommands, tests

[MT-796] avoid registering to lowPowerNotificationObserver if batterySaver is not enabled (#224)
  support/tests/test_tealium_core/dispatch_manager/DispatchManagerTests.swift
  tealium/core/dispatchmanager/TealiumDispatchQueueExtensions.swift
Labels: core, tests

Mt 798 (#225)
  support/tests/test_tealium_core/consent_manager/ConsentManagerTests.swift
  support/tests/test_tealium_core/consent_manager/MockConsentDelegate.swift
  tealium/core/consentmanager/ConsentManager.swift
Labels: core, consent, tests

Version 2.4.6
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile.lock
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core, sampleapps

Add missing schemes to Swift sample
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftExample.xcscheme
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample Extension.xcscheme
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample.xcscheme
Labels: sampleapps

Remove unwanted reference on autotrackingUITest target from any other test target
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAppDelegateProxyTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAttributionTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumCollectTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumCollectTests-macOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumCollectTests-tvOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumCoreTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumCoreTests-macOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumCoreTests-tvOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumLifecycleTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumLifecycleTests-macOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumLifecycleTests-tvOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumLocationTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumMediaTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumMediaTests-macOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumMediaTests-tvOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumRemoteCommandsTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumTagManagementTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumTraceTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumVisitorServiceTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumVisitorServiceTests-macOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumVisitorServiceTests-tvOS.xcscheme
Labels: none

Fix MockInMemoryDataLayer conformance to the protocl
  support/tests/test_tealium_core/MockInMemoryDataLayer.swift
Labels: tests

Make some tests more reliable by removing parallelism
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-macOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-tvOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-watchOS.xcscheme
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
Labels: tests

Try to add autotracking ui tests
  .github/workflows/test.yml
Labels: none

Remove some step to simplify and see if it works
  .github/workflows/test.yml
Labels: none

Revert autotracking ui tests
  .github/workflows/test.yml
Labels: none

Re-add autotracking ui tests
  .github/workflows/test.yml
Labels: none

Fix destinations for UITests
  .github/workflows/test.yml
Labels: none

Fix test targets having missing build target
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-macOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-tvOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-watchOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingUITests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingUITests-macOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingUITests-tvOS.xcscheme
Labels: none

[MT-677] add subscribeOnce to observables
  builder/iOSTealiumTest/TealiumHelper.swift
  support/tests/test_tealium_core/PubSubTests.swift
  tealium/core/pubsub/PubSub.swift
  tealium/core/pubsub/PubSubProtocols.swift
Labels: core, tests

[MT-770] move autotracking blocklist fetching out of main thread
  support/tests/test_tealium_autotracking/AutotrackingModuleTests.swift
  tealium/collectors/autotracking/AutotrackingModule.swift
Labels: autotracking, tests

[MT-770] improve JSONLoader
  tealium/collectors/autotracking/AutotrackingModule.swift
  tealium/core/utils/JSONEncoderDecoder.swift
Labels: core, autotracking

Move GeofenceData to a clearer GeofenceProvider
  tealium/collectors/location/Geofences.swift
  tealium/collectors/location/TealiumLocationConstants.swift
  tealium/collectors/location/TealiumLocationManager.swift
Labels: location

Make GeofenceProvider request geofences off of the main thread
  support/tests/test_tealium_location/TealiumLocationTests.swift
  tealium/collectors/location/Geofences.swift
  tealium/collectors/location/TealiumLocationManager.swift
Labels: location, tests

[MT-770] improve test reliability and error messages
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingIOSUITests.swift
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingMacOSUITests.swift
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingTvOSUITests.swift
Labels: tests

[MT-770] improve more the reliability and error clarity
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingIOSUITests.swift
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingMacOSUITests.swift
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingTvOSUITests.swift
Labels: tests

.github/labeler.yml:

core:
  - tealium/core/**/*
datalayer:
  - tealium/core/datalayer/*     
consent:
  - tealium/core/consentmanager/*
storage:
  - tealium/core/storage/*
media:
  - tealium/collectors/media/*
visitorservice:
  - tealium/collectors/visitorservice/*
location:
  - tealium/collectors/location/*
attribution:
  - tealium/collectors/attribution/*
autotracking:
  - tealium/collectors/autotracking/*
lifecycle:
  - tealium/collectors/lifecycle/*
remotecommands:
  - tealium/dispatchers/remotecommands/*
collect:
  - tealium/dispatchers/collect/*
tagmanagement:
  - tealium/dispatchers/tagmanagement/*
tests:
  - support/tests/**/*
sampleapps:
  - samples/**/*
