Repository Tealium/tealium-swift, changes with the labels that .github/labeler.yml gives for each.
All labels: core, datalayer, consent, storage, media, visitorservice, location, attribution, autotracking, lifecycle, remotecommands, collect, tagmanagement, tests, sampleapps

.github/labeler.yml:

core:
  - tealium/core/**/*
datalayer:
  - tealium/core/datalayer/*     
consent:
  - tealium/core/consentmanager/*
storage:
  - tealium/core/storage/*
media:
  - tealium/collectors/media/*
visitorservice:
  - tealium/collectors/visitorservice/*
location:
  - tealium/collectors/location/*
attribution:
  - tealium/collectors/attribution/*
autotracking:
  - tealium/collectors/autotracking/*
lifecycle:
  - tealium/collectors/lifecycle/*
remotecommands:
  - tealium/dispatchers/remotecommands/*
collect:
  - tealium/dispatchers/collect/*
tagmanagement:
  - tealium/dispatchers/tagmanagement/*
tests:
  - support/tests/**/*
sampleapps:
  - samples/**/*

Reverse package resolved for continuous integration
  builder/tealium-swift.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: none

Reverse package resolved for continuous integration
  builder/tealium-swift.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: none

Fix dispatch manager for diskStorage
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
  tealium/core/dispatchmanager/DispatchManager.swift
Labels: core, tests

Fix dispatch manager for diskStorage
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
  tealium/core/dispatchmanager/DispatchManager.swift
Labels: core, tests

Fix dispatch manager for diskStorage
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
  tealium/core/dispatchmanager/DispatchManager.swift
Labels: core, tests

Use JSON strings to communicate with the javascript engine
  tealium/core/Extensions.swift
Labels: core

[MT-1082] improve sample
  builder/iOSTealiumTest/ContentView.swift
  builder/tealium-swift.xcworkspace/xcshareddata/swiftpm/Package.resolved
  samples/TealiumSwiftExample/TealiumSwiftExample/Supporting Views/TealiumTextField.swift
  tealium/core/appdata/VisitorIdentityListener.swift
Labels: core, sampleapps

Reverse package resolved for continuous integration
  builder/tealium-swift.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: none

[MT-1115] Make all_views and all_events map for each missing view/event in remote commands
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_remotecommands/RemoteCommandsManagerTests.swift
  support/tests/test_tealium_remotecommands/TealiumRemoteCommandTests.swift
  support/tests/test_tealium_remotecommands/stubs/allEventsCommands.json
  tealium/core/TealiumConstants.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
Labels: core, remotecommands, tests

Don't embed swift standard library in Core and Media
  builder/tealium-swift.xcodeproj/project.pbxproj
Labels: none

Fix code formatting
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
Labels: remotecommands

[MT-1130] Remove useless atomics and make sure everything runs on the same queue
  support/tests/test_tealium_visitorservice/VisitorServiceManagerTests.swift
  tealium/collectors/visitorservice/VisitorServiceManager.swift
  tealium/collectors/visitorservice/VisitorServiceRetriever.swift
  tealium/core/datalayer/DataLayerExtensions.swift
Labels: core, datalayer, visitorservice, tests

[MT-1130] remove the visitorId parameter from the requestVisitorProfile method
  support/tests/test_tealium_visitorservice/VisitorServiceManagerTests.swift
  support/tests/test_tealium_visitorservice/mocks/MockTealiumVisitorServiceManager.swift
  tealium/collectors/visitorservice/VisitorServiceManager.swift
  tealium/collectors/visitorservice/VisitorServiceModule.swift
Labels: visitorservice, tests

[MT-1130] remove stateTimer from visitorServiceManager
  tealium/collectors/visitorservice/VisitorServiceManager.swift
Labels: visitorservice

[MT-1130] take conditions on fetches out of retriever
  support/tests/test_tealium_visitorservice/VisitorServiceManagerTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceRetrieverTests.swift
  support/tests/test_tealium_visitorservice/mocks/MockTealiumVisitorServiceManager.swift
  tealium/collectors/visitorservice/VisitorServiceManager.swift
  tealium/collectors/visitorservice/VisitorServiceModule.swift
  tealium/collectors/visitorservice/VisitorServiceRetriever.swift
Labels: visitorservice, tests

[MT-1130] Move the conditional check up to the module
  support/tests/test_tealium_visitorservice/VisitorServiceManagerTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  support/tests/test_tealium_visitorservice/mocks/MockTealiumVisitorServiceManager.swift
  tealium/collectors/visitorservice/VisitorServiceManager.swift
  tealium/collectors/visitorservice/VisitorServiceModule.swift
Labels: visitorservice, tests

[MT-1130] LastFetch gets updated even on profile with same eventCount
  builder/iOSTealiumTest/ContentView.swift
  builder/iOSTealiumTest/TealiumHelper.swift
  tealium/collectors/visitorservice/VisitorServiceManager.swift
Labels: visitorservice

[MT-1082] Add onDataRemoved and rename onNewDataAdded to onDataUpdated
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/MockInMemoryDataLayer.swift
  support/tests/test_tealium_core/datalayer/MockDataLayerManager.swift
  tealium/core/appdata/VisitorIdentityListener.swift
  tealium/core/datalayer/DataLayer.swift
  tealium/core/datalayer/DataLayerExtensions.swift
  tealium/core/datalayer/DataLayerManagerProtocol.swift
Labels: core, datalayer, tests

[MT-1082] refactor delete methods
  tealium/core/datalayer/DataLayer.swift
Labels: core, datalayer

[MT-1082] add tests and fix condition on expired items
  support/tests/test_tealium_core/datalayer/DataLayerManagerTests.swift
  tealium/core/datalayer/DataLayer.swift
Labels: core, datalayer, tests

Fix session manager usage
  tealium/core/ModulesManager.swift
  tealium/core/datalayer/DataLayerManagerProtocol.swift
Labels: core, datalayer

Rewrite mapPayload in remote command
  tealium/dispatchers/remotecommands/RemoteCommand.swift
Labels: remotecommands

[MT-1086] improve replay subject with clear method
  tealium/core/pubsub/PubSub.swift
Labels: core

[MT-1082] Hash the currentVisitorId and make sure it gets deleted if the identity is removed from the datalayer and clearStoredVisitorIds is called
  support/tests/test_tealium_core/TealiumExtensionTests.swift
  support/tests/test_tealium_core/appdata/VisitorIdProviderTests.swift
  tealium/core/appdata/VisitorIdProvider.swift
  tealium/core/appdata/VisitorIdentityListener.swift
  tealium/core/datalayer/DataLayerExtensions.swift
  tealium/core/pubsub/PubSub.swift
Labels: core, datalayer, tests

Make all events have tealium_event_type: event
  support/tests/test_tealium_remotecommands/RemoteCommandsModuleTests.swift
  tealium/collectors/media/MediaDispatch.swift
  tealium/core/TealiumRequests.swift
  tealium/core/consentmanager/ConsentManager.swift
  tealium/core/datalayer/TealiumTrace.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/tagmanagement/TagManagementModule.swift
Labels: core, datalayer, consent, media, remotecommands, tagmanagement, tests

[MT-1115] Make all_events and all_views add on top of other commands
  support/tests/test_tealium_remotecommands/TealiumRemoteCommandTests.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
Labels: remotecommands, tests

[MT-11130] polish
  builder/iOSTealiumTest/TealiumHelper.swift
  tealium/collectors/visitorservice/VisitorServiceManager.swift
Labels: visitorservice

typo
  support/tests/test_tealium_remotecommands/RemoteCommandsManagerTests.swift
Labels: tests

[MT-1082] Migrate UUID to dataLayer and VisitorId to the VisitorIdStorage
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/TealiumExtensionTests.swift
  support/tests/test_tealium_core/appdata/TealiumAppDataTests.swift
  support/tests/test_tealium_core/appdata/VisitorIdMigratorTests.swift
  support/tests/test_tealium_core/appdata/VisitorIdProviderTests.swift
  support/tests/test_tealium_core/appdata/VisitorIdStorageTests.swift
  tealium/core/appdata/AppData.swift
  tealium/core/appdata/AppDataModule.swift
  tealium/core/appdata/VisitorIdMigrator.swift
  tealium/core/appdata/VisitorIdProvider.swift
  tealium/core/appdata/VisitorIdStorage.swift
Labels: core, tests

[MT-1082] Remove context to make tests more reliable
  support/tests/test_tealium_core/appdata/VisitorIdProviderTests.swift
  tealium/core/appdata/AppDataModule.swift
  tealium/core/appdata/VisitorIdProvider.swift
Labels: core, tests

Add back a / in the end of filename for disk storage
  tealium/core/storage/TealiumDiskStorage.swift
Labels: core, storage

Add test for disk storage filepath
  support/tests/test_tealium_core/TealiumDiskTests.swift
Labels: tests

[MT-1082] Save visitorIdStorage when it's not read from disk at launch
  tealium/core/appdata/VisitorIdProvider.swift
Labels: core

[MT-1130] avoid old timer for visitorProfile to cause profile update for last visitorId
  tealium/collectors/visitorservice/VisitorServiceManager.swift
Labels: visitorservice

[MT-1082] rename setVisitorId to publishVisitorId(_:andUpdateStorage:)
  support/tests/test_tealium_core/appdata/VisitorIdProviderTests.swift
  tealium/core/appdata/VisitorIdProvider.swift
Labels: core, tests

Try to make UITests on apple tv more reliable
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingTvOSUITests.swift
Labels: tests

Try to make UITests on apple tv more reliable
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingTvOSUITests.swift
Labels: tests

Remove GSPlayer and SPM usage in the media samples
  builder/iOSTealiumMediaTest/video/AVPlayer+Extensions.swift
  builder/iOSTealiumMediaTest/video/AVPlayerItem+Extensions.swift
  builder/iOSTealiumMediaTest/video/CustomVideoPlayer.swift
  builder/iOSTealiumMediaTest/video/String+Extensions.swift
  builder/iOSTealiumMediaTest/video/VideoPlayerView.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcworkspace/xcshareddata/swiftpm/Package.resolved
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumMediaExample/TealiumMediaExample.xcodeproj/project.pbxproj
  samples/TealiumMediaExample/TealiumMediaExample.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: sampleapps

Try to make CI clean and build until PIF is generated
  .github/workflows/build.yml
Labels: none

Fix build yaml
  .github/workflows/build.yml
Labels: none
