Repository Tealium/tealium-swift, changes with the labels that .github/labeler.yml gives for each.
All labels: core, datalayer, consent, storage, media, visitorservice, location, attribution, autotracking, lifecycle, remotecommands, collect, tagmanagement, tests, sampleapps

[MT-675] Some polishing
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/collectors/media/BackgroundTimeoutMediaBehaviorPlugin.swift
  tealium/collectors/media/EarlyEndContentMediaTrackingPlugin.swift
  tealium/collectors/media/MediaSessionPlugin.swift
  tealium/collectors/media/OtherMediaSessionPlugins.swift
  tealium/collectors/media/SessionMediaTrackingPlugin.swift
Labels: media

[MT-675] added some additionalInfo to the objects
  tealium/collectors/media/AdPlaybackMediaSessionPlugin.swift
  tealium/collectors/media/MediaContent.swift
  tealium/collectors/media/MediaSessionModels.swift
  tealium/collectors/media/MediaSessionPlugin.swift
  tealium/collectors/media/PlaybackMediaTrackingPlugin.swift
Labels: media

[MT-675] rename EarlyEnd plugin, add getter for data layer keys, fix state observers
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/collectors/media/EarlyEndContentMediaBehaviorPlugin.swift
  tealium/collectors/media/MediaSessionPlugin.swift
  tealium/collectors/media/MilestoneMediaTrackingPlugin.swift
  tealium/collectors/media/OtherMediaSessionPlugins.swift
  tealium/collectors/media/PlaybackMediaTrackingPlugin.swift
  tealium/collectors/media/SummaryMediaTrackingPlugin.swift
Labels: media

fixed tests & made sure updateConsentCookie is always called on startup
  support/tests/test_tealium_core/consent_manager/ConsentManagerTests.swift
  tealium/core/consentmanager/ConsentManager.swift
Labels: core, consent, tests

Bumped versions for release
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

Merge request updates
  tealium/core/TealiumConfig.swift
  tealium/core/consentmanager/ConsentManagerModule.swift
Labels: core, consent

Remove call to track consent even when ConsentManager is initalized, … (#267)
  support/tests/test_tealium_core/consent_manager/ConsentManagerTests.swift
  tealium/core/consentmanager/ConsentManager.swift
Labels: core, consent, tests

Updated xcode version to latest-stable in github workflows
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: none

Updated Attributor to call updatePostbackConversionValue instead for … (#269)
  .github/workflows/build.yml
  .github/workflows/test.yml
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumInAppPurchaseTests-tvOS.xcscheme
  support/tests/test_tealium_inapppurchase/TealiumInAppPurchaseModuleTests.swift
  tealium/collectors/attribution/Attributor.swift
Labels: attribution, tests

Added test for consent category key override
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
Labels: tests

Added config to override consent categories key (#268)
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
  tealium/core/TealiumConfig.swift
  tealium/core/TealiumConstants.swift
  tealium/core/consentmanager/ConsentManagerModule.swift
Labels: core, consent, tests

Cherry Pick extensions for PubSub
  tealium/core/pubsub/PubSub.swift
  tealium/core/pubsub/PubSubProtocols.swift
Labels: core

Remove call to track consent even when ConsentManager is initalized, … (#267)
  support/tests/test_tealium_core/consent_manager/ConsentManagerTests.swift
  tealium/core/consentmanager/ConsentManager.swift
Labels: core, consent, tests

Updated Attributor to call updatePostbackConversionValue instead for … (#269)
  .github/workflows/build.yml
  .github/workflows/test.yml
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumInAppPurchaseTests-tvOS.xcscheme
  support/tests/test_tealium_inapppurchase/TealiumInAppPurchaseModuleTests.swift
  tealium/collectors/attribution/Attributor.swift
Labels: attribution, tests

Bumped versions for release
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

[MT-1086] Add queryParams sharedState in the context and make reloads safer
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcworkspace/xcshareddata/swiftpm/Package.resolved
  support/tests/test_tealium_tagmanagement/MockTagManagementWebView.swift
  tealium/core/TealiumContext.swift
  tealium/core/utils/URL+Tealium.swift
  tealium/dispatchers/tagmanagement/TagManagementModule.swift
  tealium/dispatchers/tagmanagement/TagManagementProtocol.swift
  tealium/dispatchers/tagmanagement/TagManagementWKWebView.swift
Labels: core, tagmanagement, tests

Improve TagManagement code and Thread safety
  builder/tealium-swift.xcworkspace/xcshareddata/swiftpm/Package.resolved
  support/tests/test_tealium_tagmanagement/TagManagementModuleTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementWKWebViewTests.swift
  tealium/core/connectivity/LegacyConnectivityMonitor.swift
  tealium/core/dispatchmanager/DispatchManager.swift
  tealium/dispatchers/tagmanagement/TagManagementModule.swift
  tealium/dispatchers/tagmanagement/TagManagementWKNavigationDelegate.swift
  tealium/dispatchers/tagmanagement/TagManagementWKWebView.swift
Labels: core, tagmanagement, tests

[MT-1086] Make tag management wait and ask for additional query parameters to add to the webview URL
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/TealiumExtensionTests.swift
  support/tests/test_tealium_tagmanagement/MockTagManagementWebView.swift
  support/tests/test_tealium_tagmanagement/TagManagementUrlBuilderTests.swift
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
  tealium/core/TealiumContext.swift
  tealium/core/utils/URL+Tealium.swift
  tealium/dispatchers/tagmanagement/TagManagementModule.swift
  tealium/dispatchers/tagmanagement/TagManagementProtocol.swift
  tealium/dispatchers/tagmanagement/TagManagementUrlBuilder.swift
Labels: core, tagmanagement, tests

[MT-1086] improve replay subject with clear method
  tealium/core/pubsub/PubSub.swift
Labels: core

[MT-1086] move queryParameterProvider protocol in core
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/core/protocols/QueryParameterProvider.swift
  tealium/core/pubsub/PubSub.swift
  tealium/dispatchers/tagmanagement/TagManagementProtocol.swift
  tealium/dispatchers/tagmanagement/TagManagementUrlBuilder.swift
Labels: core, tagmanagement

[MT-1109] Create some sample extension possibilities
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcworkspace/xcshareddata/swiftpm/Package.resolved
  tealium/core/Extensions.swift
Labels: core

Fix comments/uncomments
  tealium/core/Extensions.swift
Labels: core

Add example of callback and async method
  tealium/core/Extensions.swift
Labels: core

[MT-1082] create some VisitorSwitcher class to help with the switching in the visitorService module
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcworkspace/xcshareddata/swiftpm/Package.resolved
  tealium/collectors/visitorservice/VisitorSwitcher.swift
  tealium/core/datalayer/DataLayer.swift
  tealium/core/datalayer/DataLayerManagerProtocol.swift
Labels: core, datalayer, visitorservice

[MT-1082] Move the visitor switcher to the AppDataModule
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/MockDiskStorage.swift
  support/tests/test_tealium_attribution/AttributionMockDiskStorage.swift
  support/tests/test_tealium_core/consent_manager/ConsentMockDiskStorage.swift
  support/tests/test_tealium_core/datalayer/MockEventDataDiskStorage.swift
  support/tests/test_tealium_core/datalayer/MockHDLDiskStorage.swift
  support/tests/test_tealium_core/dispatch_manager/DispatchQueueMockDiskStorage.swift
  support/tests/test_tealium_lifecycle/LifecycleMockDiskStorage.swift
  support/tests/test_tealium_location/MockLocationDiskStorage.swift
  support/tests/test_tealium_remotecommands/mocks/MockRemoteCommandsDiskStorage.swift
  tealium/core/appdata/AppDataModule.swift
  tealium/core/appdata/VisitorSwitcher.swift
  tealium/core/storage/TealiumDiskStorage.swift
  tealium/core/storage/TealiumDiskStorageProtocol.swift
Labels: core, storage, tests

[MT-1082] create a VisitorIdProvider
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/core/appdata/AppDataModule.swift
  tealium/core/appdata/AppDataModuleExtensions.swift
  tealium/core/appdata/VisitorIdProvider.swift
  tealium/core/appdata/VisitorIdentityListener.swift
  tealium/core/appdata/VisitorSwitcher.swift
  tealium/core/pubsub/ToAnyObservable.swift
Labels: core

[MT-1082] hash identities when saved to the visitorIdMap
  tealium/core/appdata/AppDataModuleExtensions.swift
  tealium/core/appdata/VisitorIdProvider.swift
Labels: core

Make PubSub observers respect order of subscription
  tealium/core/pubsub/PubSub.swift
  tealium/core/pubsub/PubSubProtocols.swift
Labels: core

[MT-1082] persist only when necessary
  tealium/core/appdata/AppDataModule.swift
  tealium/core/appdata/VisitorIdProvider.swift
Labels: core

[MT-1082] add testing to the sample app and fix some Unit Tests
  builder/iOSTealiumTest/ContentView.swift
  builder/iOSTealiumTest/TealiumHelper.swift
  samples/TealiumSwiftExample/TealiumSwiftExample/Supporting Views/TealiumTextField.swift
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/MockInMemoryDataLayer.swift
  support/tests/test_tealium_core/TealiumDiskTests.swift
  support/tests/test_tealium_core/TealiumExtensionTests.swift
  support/tests/test_tealium_core/appdata/TealiumAppDataTests.swift
  support/tests/test_tealium_core/datalayer/MockDataLayerManager.swift
Labels: tests, sampleapps

Make duplicate Collectors and Dispatchers not being initialized more than once
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
  tealium/core/ModulesManager.swift
  tealium/core/appdata/AppDataModule.swift
  tealium/core/storage/TealiumDiskStorageConfig.swift
Labels: core, storage, tests

[MT-1082] optimize code and reads/writes to disk
  support/tests/test_tealium_core/TealiumExtensionTests.swift
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
  support/tests/test_tealium_core/appdata/TealiumAppDataTests.swift
  tealium/core/appdata/AppDataModule.swift
Labels: core, tests

[MT-1082] Make existingVisitorId only work for actual first absolute launch
  support/tests/test_tealium_core/TealiumExtensionTests.swift
  support/tests/test_tealium_core/appdata/TealiumAppDataTests.swift
  tealium/core/appdata/AppDataModule.swift
Labels: core, tests

[MT-1082] Add some tests for VisitorIdentityListener
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/appdata/VisitorIdProviderTests.swift
  support/tests/test_tealium_core/appdata/VisitorIdentityListenerTests.swift
  tealium/core/appdata/VisitorIdProvider.swift
Labels: core, tests

[MT-1082] Fix clearStoredVisitorIds and expose it from tealium instance
  tealium/core/appdata/AppDataModule.swift
  tealium/core/appdata/VisitorIdProvider.swift
  tealium/core/datalayer/DataLayerExtensions.swift
Labels: core, datalayer

[MT-1082] Improve visitorIdProvider testability and add tests
  support/tests/MockDiskStorage.swift
  support/tests/test_tealium_core/TealiumExtensionTests.swift
  support/tests/test_tealium_core/appdata/VisitorIdProviderTests.swift
  support/tests/test_tealium_core/appdata/VisitorIdentityListenerTests.swift
  tealium/core/appdata/AppDataModule.swift
  tealium/core/appdata/VisitorIdProvider.swift
Labels: core, tests

[MT-1082] Make clearStoredVisitorIds also reset the current visitorId
  support/tests/test_tealium_core/appdata/VisitorIdProviderTests.swift
  tealium/core/appdata/VisitorIdProvider.swift
Labels: core, tests

[MT-1082] Add some documentation
  tealium/core/appdata/AppDataModule.swift
  tealium/core/appdata/AppDataModuleExtensions.swift
  tealium/core/datalayer/DataLayerExtensions.swift
Labels: core, datalayer

[MT-1082] fix test for clearStoredIds
  support/tests/test_tealium_core/TealiumExtensionTests.swift
Labels: tests

Reverse package resolved for continuous integration
  builder/tealium-swift.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: none

.github/labeler.yml:

core:
  - tealium/core/**/*
datalayer:
  - tealium/core/datalayer/*     
consent:
  - tealium/core/consentmanager/*
storage:
  - tealium/core/storage/*
media:
  - tealium/collectors/media/*
visitorservice:
  - tealium/collectors/visitorservice/*
location:
  - tealium/collectors/location/*
attribution:
  - tealium/collectors/attribution/*
autotracking:
  - tealium/collectors/autotracking/*
lifecycle:
  - tealium/collectors/lifecycle/*
remotecommands:
  - tealium/dispatchers/remotecommands/*
collect:
  - tealium/dispatchers/collect/*
tagmanagement:
  - tealium/dispatchers/tagmanagement/*
tests:
  - support/tests/**/*
sampleapps:
  - samples/**/*
