Repository Tealium/tealium-swift, changes with the labels that .github/labeler.yml gives for each.
All labels: core, datalayer, consent, storage, media, visitorservice, location, attribution, autotracking, lifecycle, remotecommands, collect, tagmanagement, tests, sampleapps

Remove location out of macCatalist too
  tealium/collectors/location/Geofences.swift
  tealium/collectors/location/LocationDelegate.swift
  tealium/collectors/location/TealiumLocationConstants.swift
Labels: location

Remove useless getSuperclasses method
  tealium/collectors/autotracking/UIViewController+Tealium.swift
Labels: autotracking

Fix building with xcode < 13
  tealium/core/connectivity/LegacyConnectivityMonitor.swift
  tealium/core/consentmanager/ConsentManagerModule.swift
  tealium/core/pubsub/PubSub.swift
Labels: core, consent

Update samples podfile.lock and improve logs on AnyEncodable error
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile.lock
  tealium/core/utils/AnyCodable/AnyEncodable.swift
Labels: core, sampleapps

Fix build library for distribution and podspec for autotracking
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium-swift.podspec
Labels: none

Improve podspec exclusion files for all platforms
  builder/AutoTrackingMacOSTest/AutoTrackingMacOSTest.entitlements
  tealium-swift.podspec
Labels: none

Add support for UIKit autotracking on tvOS too
  builder/AutoTrackingIOSTest/ContentView.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingTvOSUITests.swift
  tealium-swift.podspec
  tealium/collectors/autotracking/TealiumViewController.swift
  tealium/collectors/autotracking/UIViewController+Tealium.swift
  tealium/collectors/autotracking/objc/UIViewController+TealiumTracker.h
  tealium/collectors/autotracking/objc/UIViewController+TealiumTracker.m
Labels: autotracking, tests

Fix autotrackingkey to CamelCase
  tealium/collectors/autotracking/AutoTrackingExtensions.swift
Labels: autotracking

Add swiftlint to every library target
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/core/Tealium.swift
  tealium/core/utils/TealiumLifecycleEventsDelegate.swift
  tealium/core/utils/TealiumLifecycleListeners.swift
Labels: core

Remove lowPowerNotificationObserver to remove a leak
  tealium/core/dispatchmanager/DispatchManager.swift
Labels: core

Fix warnings on TealiumSwiftExample
  samples/TealiumSwiftExample/Podfile
  samples/TealiumSwiftExample/Podfile.lock
Labels: sampleapps

[MT-770] Fix Autotracking block behavior
  support/tests/test_tealium_autotracking/AutotrackingModuleTests.swift
  tealium/collectors/autotracking/AutotrackingModule.swift
Labels: autotracking, tests

Make a safer autotracking test
  support/tests/test_tealium_autotracking/AutotrackingModuleTests.swift
Labels: tests

[MT-857] Remove wrong usage of backgroundConcurrentQueue
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  tealium/collectors/visitorservice/VisitorServiceModule.swift
  tealium/core/utils/TealiumNetworkUtils.swift
  tealium/core/utils/TealiumRepeatingTimer.swift
  tealium/dispatchers/tagmanagement/TagManagementModule.swift
  tealium/dispatchers/tagmanagement/TagManagementWKWebView.swift
Labels: core, visitorservice, tagmanagement, tests

[MT-857] fix tests
  support/tests/test_tealium_tagmanagement/TagManagementModuleTests.swift
Labels: tests

fixed url swallowing issue
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/core/TealiumConstants.swift
  tealium/core/TealiumDelegateProxy.swift
Labels: core

fixed visitor service tests
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
Labels: tests

[MT-875] fix import of Swift files from Obj-C in case of static library
  tealium/collectors/autotracking/objc/UIViewController+TealiumTracker.m
  tealium/core/objc/TealiumDelegateProxy+Swizzle.m
Labels: core

[MT-857] Remove readWrite from ConsentPreference
  tealium/core/consentmanager/ConsentPreferencesStorage.swift
Labels: core, consent

App delegate proxy swizzled methods return the original implementation value to the OS
  tealium/core/TealiumDelegateProxy.swift
Labels: core

[MT-857] improve test reliability
  support/tests/test_tealium_core/TealiumInstanceManagerTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementModuleTests.swift
Labels: tests

[MT-876] add dispatch on backgroundSerialQueue to avoid changing config object on different threads
  support/tests/test_tealium_core/PublishSettingsTests.swift
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
Labels: core, tests

Remove UITests for VisitorServiceDemo from github actions
  .github/workflows/test.yml
  samples/VisitorServiceDemo/TealiumVisitorProfileDemoUITests/TealiumVisitorProfileDemoUITests.swift
Labels: sampleapps

Improve reliability of TvOS UI tests.
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingTvOSUITests.swift
Labels: tests

Bump podspec version
  tealium-swift.podspec
Labels: none

2.5.1 (#241)
  .github/workflows/test.yml
  builder/tealium-swift.xcodeproj/project.pbxproj
  samples/VisitorServiceDemo/TealiumVisitorProfileDemoUITests/TealiumVisitorProfileDemoUITests.swift
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingTvOSUITests.swift
  support/tests/test_tealium_core/PublishSettingsTests.swift
  support/tests/test_tealium_core/TealiumInstanceManagerTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementModuleTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  tealium-swift.podspec
  tealium/collectors/autotracking/objc/UIViewController+TealiumTracker.m
  tealium/collectors/visitorservice/VisitorServiceModule.swift
  tealium/core/TealiumConstants.swift
  tealium/core/TealiumDelegateProxy.swift
  tealium/core/consentmanager/ConsentPreferencesStorage.swift
  tealium/core/objc/TealiumDelegateProxy+Swizzle.m
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
  tealium/core/utils/TealiumNetworkUtils.swift
  tealium/core/utils/TealiumRepeatingTimer.swift
  tealium/dispatchers/tagmanagement/TagManagementModule.swift
  tealium/dispatchers/tagmanagement/TagManagementWKWebView.swift
Labels: core, consent, visitorservice, tagmanagement, tests, sampleapps

[DOC-781] fix typo in gatherTrackData's retrieveCachedData parameter
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
  tealium/core/ModulesManager.swift
  tealium/core/Tealium.swift
Labels: core, tests

Re added test scheme
  builder/TealiumCollectTests-iOS copy-Info.plist
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumInAppPurchaseTests-iOS.xcscheme
Labels: none

Removed duplicate plists and fixed tests
  builder/TealiumAttribution copy-Info.plist
  builder/TealiumAttribution copy2-Info.plist
  builder/TealiumAttributionTests-iOS copy-Info.plist
  builder/TealiumCollectTests-iOS copy-Info.plist
  support/tests/test_tealium_inapppurchase/TealiumInAppPurchaseModuleTests.swift
Labels: tests

Removed deleted file references and fixed some warnings
  builder/iOSTealiumTest/ContentView.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
Labels: none

Bumped min version of iap tests to 14.1
  builder/tealium-swift.xcodeproj/project.pbxproj
Labels: none

Removed disk storage and relocated constants
  tealium/collectors/inapppurchase/InAppPurchaseConstants.swift
  tealium/collectors/inapppurchase/InAppPurchaseExtensions.swift
  tealium/collectors/inapppurchase/InAppPurchaseModule.swift
Labels: none

WIP: Change lifecycle delegates to use the new pub/sub stuff
  builder/iOSTealiumTest/ContentView.swift
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_lifecycle/LifecycleModuleTests.swift
  tealium/collectors/lifecycle/LifecycleModule.swift
  tealium/collectors/media/MediaModule.swift
  tealium/core/dispatchmanager/DispatchManager.swift
  tealium/core/dispatchmanager/TealiumDispatchQueueExtensions.swift
  tealium/core/location/Geofences.swift
  tealium/core/location/LocationDelegate.swift
  tealium/core/location/LocationManagerProtocols.swift
  tealium/core/location/LocationModule.swift
  tealium/core/location/TealiumLocationConstants.swift
  tealium/core/location/TealiumLocationExtensions.swift
  tealium/core/location/TealiumLocationManager.swift
  tealium/core/utils/TealiumLifecycleListeners.swift
Labels: core, media, lifecycle, tests

Accidentally moved directory, fixing that.
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/collectors/location/Geofences.swift
  tealium/collectors/location/LocationDelegate.swift
  tealium/collectors/location/LocationManagerProtocols.swift
  tealium/collectors/location/LocationModule.swift
  tealium/collectors/location/TealiumLocationConstants.swift
  tealium/collectors/location/TealiumLocationExtensions.swift
  tealium/collectors/location/TealiumLocationManager.swift
Labels: location

Removed test code in demo app
  builder/iOSTealiumTest/ContentView.swift
  builder/iOSTealiumTest/TealiumHelper.swift
  tealium/core/utils/TealiumLifecycleListeners.swift
Labels: core

Code cleanup
  tealium/collectors/lifecycle/LifecycleModule.swift
Labels: lifecycle

Code cleanup
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/core/utils/TealiumLifecycleListeners.swift
Labels: core

[MT-879] add a workaround for lowPowerModeEnabled internal crash in iOS
  tealium/core/dispatchmanager/TealiumDispatchQueueExtensions.swift
Labels: core

[MT-779] add remote_commands to the data layer
  builder/iOSTealiumTest/TealiumHelper.swift
  support/tests/CoreMocks.swift
  support/tests/test_tealium_collect/CollectModuleTests.swift
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandsModuleTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementModuleTests.swift
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
  tealium/core/ModulesManager.swift
  tealium/core/TealiumRequests.swift
  tealium/core/consentmanager/ConsentManagerModule.swift
  tealium/core/protocols/Dispatcher.swift
  tealium/dispatchers/collect/CollectModule.swift
  tealium/dispatchers/remotecommands/RemoteCommandProtocols.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
  tealium/dispatchers/remotecommands/RemoteCommandsModule.swift
  tealium/dispatchers/tagmanagement/TagManagementModule.swift
Labels: core, consent, remotecommands, collect, tagmanagement, tests

[MT-779] improve name and version collection
  tealium/dispatchers/remotecommands/RemoteCommandProtocols.swift
  tealium/dispatchers/remotecommands/RemoteCommandsExtensions.swift
  tealium/dispatchers/remotecommands/RemoteCommandsModule.swift
Labels: remotecommands

.github/labeler.yml:

core:
  - tealium/core/**/*
datalayer:
  - tealium/core/datalayer/*     
consent:
  - tealium/core/consentmanager/*
storage:
  - tealium/core/storage/*
media:
  - tealium/collectors/media/*
visitorservice:
  - tealium/collectors/visitorservice/*
location:
  - tealium/collectors/location/*
attribution:
  - tealium/collectors/attribution/*
autotracking:
  - tealium/collectors/autotracking/*
lifecycle:
  - tealium/collectors/lifecycle/*
remotecommands:
  - tealium/dispatchers/remotecommands/*
collect:
  - tealium/dispatchers/collect/*
tagmanagement:
  - tealium/dispatchers/tagmanagement/*
tests:
  - support/tests/**/*
sampleapps:
  - samples/**/*
