Repository Tealium/tealium-swift, changes with the labels that .github/labeler.yml gives for each.
All labels: core, datalayer, consent, storage, media, visitorservice, location, attribution, autotracking, lifecycle, remotecommands, collect, tagmanagement, tests, sampleapps

Make remote commands name overridable and avoid version to be the app version (#263)
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_remotecommands/NameAndVersionRemoteCommandTests.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandProtocols.swift
Labels: remotecommands, tests

[MT-959] Added background location config option to the location module (#261)
  builder/AutoTrackingIOSTest/Info.plist
  builder/iOSTealiumTest/Info.plist
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_location/MockLocationManager.swift
  support/tests/test_tealium_location/TealiumLocationTests.swift
  tealium/collectors/location/LocationManagerProtocols.swift
  tealium/collectors/location/TealiumLocationExtensions.swift
  tealium/collectors/location/TealiumLocationManager.swift
Labels: location, tests

[MT-1011] Visitor id fixes (#262)
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/CoreMocks.swift
  support/tests/MockDiskStorage.swift
  support/tests/test_tealium_core/appdata/MockAppDataDiskStorage.swift
  support/tests/test_tealium_core/appdata/TealiumAppDataTests.swift
  support/tests/test_tealium_remotecommands/NameAndVersionRemoteCommandTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceManagerTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceRetrieverTests.swift
  support/tests/test_tealium_visitorservice/mocks/MockTealiumVisitorServiceManager.swift
  tealium/collectors/visitorservice/VisitorServiceManager.swift
  tealium/collectors/visitorservice/VisitorServiceModule.swift
  tealium/collectors/visitorservice/VisitorServiceRetriever.swift
  tealium/core/TealiumContext.swift
  tealium/core/appdata/AppDataModule.swift
  tealium/core/datalayer/DataLayerExtensions.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandProtocols.swift
Labels: core, datalayer, visitorservice, remotecommands, tests

Version 2.6.4
  builder/tealium-swift.xcworkspace/xcshareddata/swiftpm/Package.resolved
  builder/xcframeworks.sh
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumMediaExample/TealiumMediaExample.xcworkspace/xcshareddata/swiftpm/Package.resolved
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile.lock
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core, sampleapps

Reverse package resolved for continuous integration
  builder/tealium-swift.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: none

[MT-1011] Visitor id fixes (#262)
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/CoreMocks.swift
  support/tests/MockDiskStorage.swift
  support/tests/test_tealium_core/appdata/MockAppDataDiskStorage.swift
  support/tests/test_tealium_core/appdata/TealiumAppDataTests.swift
  support/tests/test_tealium_remotecommands/NameAndVersionRemoteCommandTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceManagerTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceRetrieverTests.swift
  support/tests/test_tealium_visitorservice/mocks/MockTealiumVisitorServiceManager.swift
  tealium/collectors/visitorservice/VisitorServiceManager.swift
  tealium/collectors/visitorservice/VisitorServiceModule.swift
  tealium/collectors/visitorservice/VisitorServiceRetriever.swift
  tealium/core/TealiumContext.swift
  tealium/core/appdata/AppDataModule.swift
  tealium/core/datalayer/DataLayerExtensions.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandProtocols.swift
Labels: core, datalayer, visitorservice, remotecommands, tests

Reverse package resolved for continuous integration
  builder/tealium-swift.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: none

[MT-959] Added background location config option to the location module (#261)
  builder/AutoTrackingIOSTest/Info.plist
  builder/iOSTealiumTest/Info.plist
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_location/MockLocationManager.swift
  support/tests/test_tealium_location/TealiumLocationTests.swift
  tealium/collectors/location/LocationManagerProtocols.swift
  tealium/collectors/location/TealiumLocationExtensions.swift
  tealium/collectors/location/TealiumLocationManager.swift
Labels: location, tests

Version 2.6.4
  builder/tealium-swift.xcworkspace/xcshareddata/swiftpm/Package.resolved
  builder/xcframeworks.sh
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumMediaExample/TealiumMediaExample.xcworkspace/xcshareddata/swiftpm/Package.resolved
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile.lock
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core, sampleapps

Allow negative dispatchExpiration to count as never expire (#264)
  support/tests/test_tealium_core/dispatch_manager/DispatchManagerTests.swift
  tealium/core/dispatchmanager/DispatchManager.swift
Labels: core, tests

[MT-1028] testing usercentrics as a dispatch validator
  builder/tealium-swift.xcworkspace/xcshareddata/swiftpm/Package.resolved
  samples/ConsentManagerDemo/ConsentManagerDemo.xcodeproj/project.pbxproj
  samples/ConsentManagerDemo/ConsentManagerDemo/TealiumHelper.swift
  samples/ConsentManagerDemo/ConsentManagerDemo/UserCentricDispatchValidator.swift
  samples/ConsentManagerDemo/ConsentManagerDemo/ViewController.swift
  samples/ConsentManagerDemo/Podfile
  samples/ConsentManagerDemo/Podfile.lock
  tealium/core/consentmanager/ConsentManagerModule.swift
  tealium/core/protocols/DispatchValidator.swift
Labels: core, consent, sampleapps

Fix compile errors on ToAnyObservable for pre built framework
  .swiftlint.yml
  tealium/collectors/autotracking/AutotrackingModule.swift
  tealium/collectors/location/TealiumLocationManager.swift
  tealium/core/TealiumInstanceManager.swift
  tealium/core/appdata/AppDataModule.swift
Labels: core, location, autotracking

Version 2.6.5
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

2.6.5 (#266)
  .swiftlint.yml
  tealium-swift.podspec
  tealium/collectors/autotracking/AutotrackingModule.swift
  tealium/collectors/location/TealiumLocationManager.swift
  tealium/core/TealiumConstants.swift
  tealium/core/TealiumInstanceManager.swift
  tealium/core/appdata/AppDataModule.swift
Labels: core, location, autotracking

Remove call to track consent even when ConsentManager is initalized, only track when the consent status is updated
  tealium/core/consentmanager/ConsentManager.swift
Labels: core, consent

Added config to override consent categories key
  tealium/core/TealiumConfig.swift
  tealium/core/TealiumConstants.swift
  tealium/core/consentmanager/ConsentManager.swift
  tealium/core/consentmanager/UserConsentPreferences.swift
Labels: core, consent

Updated Attributor to call updatePostbackConversionValue instead for devices on ios 15.4+
  tealium/collectors/attribution/Attributor.swift
Labels: attribution

[MT-675] POC of new plugin powered media session
  tealium/collectors/media/MediaSession.swift
Labels: media

Changed location of updating the dictionary
  tealium/core/TealiumConfig.swift
  tealium/core/consentmanager/ConsentManager.swift
  tealium/core/consentmanager/ConsentManagerModule.swift
  tealium/core/consentmanager/UserConsentPreferences.swift
Labels: core, consent

[MT-675] implement SummaryMediaSessionPlugin
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/collectors/media/MediaSession.swift
  tealium/collectors/media/MediaSessionPlugin.swift
  tealium/collectors/media/SummaryMediaSessionPlugin.swift
Labels: media

[MT-675] Implement mediaSession and events and notifiers
  tealium/collectors/media/MediaSessionPlugin.swift
Labels: media

[MT-675] fix tracking methods, add custom events and call the events from the session
  tealium/collectors/media/MediaSessionModels.swift
  tealium/collectors/media/MediaSessionPlugin.swift
  tealium/collectors/media/SummaryMediaSessionPlugin.swift
Labels: media

[MT-675] public create method
  tealium/collectors/media/SummaryMediaSessionPlugin.swift
Labels: media

[MT-675] implement mediaMetadata
  tealium/collectors/media/MediaSessionPlugin.swift
Labels: media

[MT-675] Implement media storage and state
  tealium/collectors/media/MediaSessionPlugin.swift
  tealium/collectors/media/SummaryMediaSessionPlugin.swift
Labels: media

[MT-675] rename MediaSessionStorage to MediaSessionDataProvider as now holds also the delegate for the QoS and Playhead
  tealium/collectors/media/MediaSessionPlugin.swift
  tealium/collectors/media/SummaryMediaSessionPlugin.swift
Labels: media

[MT-675] fix order of notifications and create two new plugins
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/collectors/media/EarlyEndContentMediaSessionPlugin.swift
  tealium/collectors/media/MediaSessionPlugin.swift
  tealium/collectors/media/MilestoneMediaSessionPlugin.swift
  tealium/collectors/media/SummaryMediaSessionPlugin.swift
Labels: media

[MT-675] reuse ping behavior in a superclass
  tealium/collectors/media/EarlyEndContentMediaSessionPlugin.swift
  tealium/collectors/media/MilestoneMediaSessionPlugin.swift
Labels: media

[MT-675] improve state variables and codable protocol
  tealium/collectors/media/MediaSessionPlugin.swift
Labels: media

[MT-675] improve ping plugin to be reused in interval media session plugin
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/collectors/media/EarlyEndContentMediaSessionPlugin.swift
  tealium/collectors/media/IntervalMediaSessionPlugin.swift
  tealium/collectors/media/MilestoneMediaSessionPlugin.swift
Labels: media

[MT-675] Add Playback and AdPlayback plugins
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/collectors/media/AdPlaybackMediaSessionPlugin.swift
  tealium/collectors/media/EarlyEndContentMediaSessionPlugin.swift
  tealium/collectors/media/MediaSessionModels.swift
  tealium/collectors/media/MediaSessionPlugin.swift
  tealium/collectors/media/PlaybackMediaSessionPlugin.swift
Labels: media

[MT-675] remove sample plugins
  tealium/collectors/media/MediaSessionPlugin.swift
  tealium/collectors/media/SummaryMediaSessionPlugin.swift
Labels: media

[MT-675] add more plugins. Session tracker still to be implemented
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/collectors/media/MediaSessionModels.swift
  tealium/collectors/media/MediaSessionPlugin.swift
  tealium/collectors/media/OtherMediaSessionPlugins.swift
  tealium/collectors/media/SessionTrackingMediaSessionPlugin.swift
Labels: media

[MT-675] Create behavior/tracking plugins and implement early end behavior plugin
  tealium/collectors/media/AdPlaybackMediaSessionPlugin.swift
  tealium/collectors/media/EarlyEndContentMediaSessionPlugin.swift
  tealium/collectors/media/IntervalMediaSessionPlugin.swift
  tealium/collectors/media/MediaSessionPlugin.swift
  tealium/collectors/media/MilestoneMediaSessionPlugin.swift
  tealium/collectors/media/OtherMediaSessionPlugins.swift
  tealium/collectors/media/PlaybackMediaSessionPlugin.swift
  tealium/collectors/media/SessionTrackingMediaSessionPlugin.swift
  tealium/collectors/media/SummaryMediaSessionPlugin.swift
Labels: media

[MT-675] Use swift KVO for state changes
  tealium/collectors/media/EarlyEndContentMediaSessionPlugin.swift
  tealium/collectors/media/IntervalMediaSessionPlugin.swift
  tealium/collectors/media/MediaSessionPlugin.swift
  tealium/collectors/media/MilestoneMediaSessionPlugin.swift
  tealium/collectors/media/OtherMediaSessionPlugins.swift
  tealium/collectors/media/PlaybackMediaSessionPlugin.swift
  tealium/collectors/media/SummaryMediaSessionPlugin.swift
  tealium/core/pubsub/PubSub.swift
  tealium/core/pubsub/PubSubProtocols.swift
Labels: core, media

[MT-675] make state updatable only from session and behavior plugins
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/collectors/media/EarlyEndContentMediaSessionPlugin.swift
  tealium/collectors/media/MediaSessionPlugin.swift
  tealium/collectors/media/MediaSessionState.swift
Labels: media

[MT-675] implement session tracking and backgroundTimeout behavior
  tealium/collectors/media/MediaSessionPlugin.swift
  tealium/collectors/media/SessionTrackingMediaSessionPlugin.swift
Labels: media

[MT-675] New naming pattern for plugins
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/collectors/media/AdPlaybackMediaSessionPlugin.swift
  tealium/collectors/media/BackgroundTimeoutMediaBehaviorPlugin.swift
  tealium/collectors/media/EarlyEndContentMediaTrackingPlugin.swift
  tealium/collectors/media/IntervalMediaTrackingPlugin.swift
  tealium/collectors/media/MilestoneMediaTrackingPlugin.swift
  tealium/collectors/media/OtherMediaSessionPlugins.swift
  tealium/collectors/media/PlaybackMediaTrackingPlugin.swift
  tealium/collectors/media/SessiionMediaTrackingPlugin.swift
  tealium/collectors/media/SummaryMediaTrackingPlugin.swift
Labels: media

Updated xcode version in github actions
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: none

Disable IAP tests for tvOS only
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumInAppPurchaseTests-tvOS.xcscheme
  support/tests/test_tealium_inapppurchase/TealiumInAppPurchaseModuleTests.swift
Labels: tests

.github/labeler.yml:

core:
  - tealium/core/**/*
datalayer:
  - tealium/core/datalayer/*     
consent:
  - tealium/core/consentmanager/*
storage:
  - tealium/core/storage/*
media:
  - tealium/collectors/media/*
visitorservice:
  - tealium/collectors/visitorservice/*
location:
  - tealium/collectors/location/*
attribution:
  - tealium/collectors/attribution/*
autotracking:
  - tealium/collectors/autotracking/*
lifecycle:
  - tealium/collectors/lifecycle/*
remotecommands:
  - tealium/dispatchers/remotecommands/*
collect:
  - tealium/dispatchers/collect/*
tagmanagement:
  - tealium/dispatchers/tagmanagement/*
tests:
  - support/tests/**/*
sampleapps:
  - samples/**/*
