Repository Tealium/tealium-swift, changes with the labels that .github/labeler.yml gives for each.
All labels: core, datalayer, consent, storage, media, visitorservice, location, attribution, autotracking, lifecycle, remotecommands, collect, tagmanagement, tests, sampleapps

.github/labeler.yml:

core:
  - tealium/core/**/*
datalayer:
  - tealium/core/datalayer/*     
consent:
  - tealium/core/consentmanager/*
storage:
  - tealium/core/storage/*
media:
  - tealium/collectors/media/*
visitorservice:
  - tealium/collectors/visitorservice/*
location:
  - tealium/collectors/location/*
attribution:
  - tealium/collectors/attribution/*
autotracking:
  - tealium/collectors/autotracking/*
lifecycle:
  - tealium/collectors/lifecycle/*
remotecommands:
  - tealium/dispatchers/remotecommands/*
collect:
  - tealium/dispatchers/collect/*
tagmanagement:
  - tealium/dispatchers/tagmanagement/*
tests:
  - support/tests/**/*
sampleapps:
  - samples/**/*

Version 2.6.0
  .github/workflows/test.yml
  Package.swift
  builder/iOSTealiumTest/Supporting Views/UIColor+Hex.swift
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumInAppPurchaseTests-tvOS.xcscheme
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile.lock
  tealium-swift.podspec
  tealium/collectors/inapppurchase/InAppPurchaseExtensions.swift
  tealium/collectors/inapppurchase/InAppPurchaseManager.swift
  tealium/collectors/inapppurchase/InAppPurchaseModule.swift
  tealium/core/TealiumConstants.swift
Labels: core, sampleapps

Fix xcframeworks path on build script to be easily used with carthage
  builder/xcframeworks.sh
Labels: none

Add Generics specification to avoid compiler errors on pre-built frameworks
  tealium/core/utils/TealiumLifecycleListeners.swift
Labels: core

Add same generic specification to a remote commands observable
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
Labels: remotecommands

Fix build framework script files naming
  builder/xcframeworks.sh
Labels: none

[MT-852] Add localized description to error enums
  tealium/core/TealiumConstants.swift
  tealium/core/datalayer/HostedDataLayer.swift
  tealium/core/storage/Disk/DiskError.swift
  tealium/core/utils/TealiumURLSession.swift
  tealium/dispatchers/remotecommands/RemoteCommandsConstants.swift
Labels: core, datalayer, remotecommands

[MT-967] add sessionCountingEnabled flag
  support/tests/test_tealium_core/datalayer/SessionManagerTests.swift
  tealium/core/TealiumConfig.swift
  tealium/core/TealiumConstants.swift
  tealium/core/datalayer/SessionManager.swift
Labels: core, datalayer, tests

Fix swiftlint warning
  tealium/core/TealiumConfig.swift
Labels: core

[MT-852] Add localized description to error enums
  tealium/core/TealiumConstants.swift
  tealium/core/datalayer/HostedDataLayer.swift
  tealium/core/storage/Disk/DiskError.swift
  tealium/core/utils/TealiumURLSession.swift
  tealium/dispatchers/remotecommands/RemoteCommandsConstants.swift
Labels: core, datalayer, remotecommands

[MT-967] add sessionCountingEnabled flag (#255)
  support/tests/test_tealium_core/datalayer/SessionManagerTests.swift
  tealium/core/TealiumConfig.swift
  tealium/core/TealiumConstants.swift
  tealium/core/datalayer/SessionManager.swift
Labels: core, datalayer, tests

Version 2.6.1
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

[MT-852] Add localized description to error enums
  tealium/core/TealiumConstants.swift
  tealium/core/datalayer/HostedDataLayer.swift
  tealium/core/storage/Disk/DiskError.swift
  tealium/core/utils/TealiumURLSession.swift
  tealium/dispatchers/remotecommands/RemoteCommandsConstants.swift
Labels: core, datalayer, remotecommands

[MT-967] add sessionCountingEnabled flag (#255)
  support/tests/test_tealium_core/datalayer/SessionManagerTests.swift
  tealium/core/TealiumConfig.swift
  tealium/core/TealiumConstants.swift
  tealium/core/datalayer/SessionManager.swift
Labels: core, datalayer, tests

Version 2.6.1
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

Avoid multiple session calls
  tealium/core/datalayer/SessionManager.swift
Labels: core, datalayer

Version 2.6.2
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

Fix SessionManagerTests
  support/tests/test_tealium_core/datalayer/SessionManagerTests.swift
Labels: tests

[MT-972] delete restart data too when deleting from DataLayer
  support/tests/test_tealium_core/datalayer/DataLayerManagerTests.swift
  tealium/core/datalayer/DataLayer.swift
Labels: core, datalayer, tests

[MT-936] improve location module getters
  support/tests/test_tealium_location/TealiumLocationTests.swift
  tealium/collectors/location/LocationModule.swift
Labels: location, tests

[MT-936] add deprecation warnings and documentation
  tealium/collectors/location/LocationModule.swift
Labels: location

[MT-972] delete restart data too when deleting from DataLayer
  support/tests/test_tealium_core/datalayer/DataLayerManagerTests.swift
  tealium/core/datalayer/DataLayer.swift
Labels: core, datalayer, tests

[MT-936] Location updates (#258)
  support/tests/test_tealium_location/TealiumLocationTests.swift
  tealium/collectors/location/LocationModule.swift
Labels: location, tests

[MT-972] fix deletete typo
  tealium/core/datalayer/DataLayer.swift
Labels: core, datalayer

Version 2.6.3
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

Make publish settings refresh wait for past api call to complete
  support/tests/test_tealium_core/PublishSettingsTests.swift
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
Labels: core, tests

Make publish settings refresh wait for past api call to complete
  support/tests/test_tealium_core/PublishSettingsTests.swift
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
Labels: core, tests

Version 2.6.3 (#259)
  support/tests/test_tealium_core/PublishSettingsTests.swift
  support/tests/test_tealium_core/datalayer/DataLayerManagerTests.swift
  support/tests/test_tealium_location/TealiumLocationTests.swift
  tealium-swift.podspec
  tealium/collectors/location/LocationModule.swift
  tealium/core/TealiumConstants.swift
  tealium/core/datalayer/DataLayer.swift
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
Labels: core, datalayer, location, tests

Added background location config option to the location module
  builder/iOSTealiumTest/Info.plist
  builder/iOSTealiumTest/TealiumHelper.swift
Labels: none

Added missing changes
  tealium/collectors/location/LocationManagerProtocols.swift
  tealium/collectors/location/TealiumLocationExtensions.swift
  tealium/collectors/location/TealiumLocationManager.swift
Labels: location

Always use new visitorIds inside visitor service classes
  support/tests/test_tealium_visitorservice/VisitorServiceManagerTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceRetrieverTests.swift
  support/tests/test_tealium_visitorservice/mocks/MockTealiumVisitorServiceManager.swift
  tealium/collectors/visitorservice/VisitorServiceManager.swift
  tealium/collectors/visitorservice/VisitorServiceModule.swift
  tealium/collectors/visitorservice/VisitorServiceRetriever.swift
Labels: visitorservice, tests

[MT-1011] retrieve visitor profiles on visitorId change and use currentProfile lifetimeEvents count instead of cached value
  support/tests/test_tealium_visitorservice/VisitorServiceManagerTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  support/tests/test_tealium_visitorservice/mocks/MockDiskStorage.swift
  support/tests/test_tealium_visitorservice/mocks/MockTealiumVisitorServiceManager.swift
  tealium/collectors/visitorservice/VisitorServiceManager.swift
  tealium/collectors/visitorservice/VisitorServiceModule.swift
  tealium/collectors/visitorservice/VisitorServiceRetriever.swift
  tealium/core/TealiumContext.swift
  tealium/core/appdata/AppDataModule.swift
  tealium/core/datalayer/DataLayerExtensions.swift
  tealium/core/dispatchmanager/DispatchManager.swift
Labels: core, datalayer, visitorservice, tests

[MT-1011] save visitor id when migrating from objective c
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/CoreMocks.swift
  support/tests/MockDiskStorage.swift
  support/tests/test_tealium_core/appdata/MockAppDataDiskStorage.swift
  support/tests/test_tealium_core/appdata/TealiumAppDataTests.swift
  tealium/core/appdata/AppDataModule.swift
Labels: core, tests

[MT-1011] fix visitor tests
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
Labels: tests

Make remote commands name overridable (was bugged) and avoid version to be the app version
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_remotecommands/NameAndVersionRemoteCommandTests.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandProtocols.swift
Labels: remotecommands, tests

Allow negative dispatchExpiration to count as never expire
  support/tests/test_tealium_core/dispatch_manager/DispatchManagerTests.swift
  tealium/core/dispatchmanager/DispatchManager.swift
Labels: core, tests

[MT-959] Fix location tests
  support/tests/test_tealium_location/MockLocationManager.swift
  support/tests/test_tealium_location/TealiumLocationTests.swift
Labels: tests

[MT-959] use background location only from iOS
  builder/iOSTealiumTest/TealiumHelper.swift
Labels: none

[MT-959] Fix background modes and plists to make tests work with the new location flag
  builder/AutoTrackingIOSTest/Info.plist
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_location/TealiumLocationTests.swift
Labels: tests

Remove target app from autotracking unit tests
  builder/tealium-swift.xcodeproj/project.pbxproj
Labels: none

Allow negative dispatchExpiration to count as never expire (#264)
  support/tests/test_tealium_core/dispatch_manager/DispatchManagerTests.swift
  tealium/core/dispatchmanager/DispatchManager.swift
Labels: core, tests
