Repository Tealium/tealium-swift, changes with the labels that .github/labeler.yml gives for each.
All labels: core, datalayer, consent, storage, media, visitorservice, location, attribution, autotracking, lifecycle, remotecommands, collect, tagmanagement, tests, sampleapps

Remove XCTAssertIdentical (only supported on xcode 12.5+)
  support/tests/test_tealium_core/TealiumConfigTests.swift
Labels: tests

Create BufferedObservable and BufferedSubject
  support/tests/test_tealium_core/ObservableTests.swift
  tealium/core/Observable.swift
Labels: core, tests

Synchronize deep link & Fix loggerType not changing actual logger Instance (#209)
  support/tests/test_tealium_core/TealiumConfigTests.swift
  support/tests/test_tealium_core/datalayer/TealiumTraceTests.swift
  tealium/core/datalayer/TealiumTrace.swift
  tealium/core/logger/TealiumLoggerExtensions.swift
Labels: core, datalayer, tests

updated podspec
  tealium-swift.podspec
Labels: none

Use new observables for autotracking
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_autotracking/AutotrackingModuleTests.swift
  tealium/collectors/autotracking/AutoTrackingExtensions.swift
  tealium/collectors/autotracking/AutotrackingModule.swift
  tealium/collectors/autotracking/AutotrackingUtils.swift
  tealium/collectors/autotracking/TealiumViewController.swift
  tealium/collectors/autotracking/TealiumViewTrackable.swift
  tealium/collectors/autotracking/UIViewController+Tealium.swift
  tealium/core/Tealium.swift
  tealium/core/TealiumConstants.swift
  tealium/core/TealiumInstanceManager.swift
  tealium/core/protocols/TealiumAppTrackable.swift
Labels: core, autotracking, tests

Feature/mt 707 (#207)
  .github/workflows/release.txt
  .github/workflows/xcframeworks.txt
  builder/iOSTealiumTest/Info.plist
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/AnyCodableTests.swift
  support/tests/test_tealium_core/TealiumConfigTests.swift
  support/tests/test_tealium_core/TealiumDiskTests.swift
  support/tests/test_tealium_core/datalayer/TealiumTraceTests.swift
  support/tests/test_tealium_core/device_data/DeviceDataTests.swift
  support/tests/test_tealium_location/TealiumLocationTests.swift
  tealium-swift.podspec
  tealium/collectors/location/TealiumLocationManager.swift
  tealium/core/TealiumConstants.swift
  tealium/core/datalayer/TealiumTrace.swift
  tealium/core/devicedata/DeviceDataModule.swift
  tealium/core/devicedata/DeviceDataScreenInfo.swift
  tealium/core/logger/TealiumLoggerExtensions.swift
  tealium/core/utils/AnyCodable/AnyCodable.swift
  tealium/core/utils/AnyCodable/AnyDecodable.swift
  tealium/core/utils/AnyCodable/AnyEncodable.swift
Labels: core, datalayer, location, tests

Add secureMainThreadExecution method and use it where needed
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_tagmanagement/MockTagManagementWebView.swift
  support/tests/test_tealium_tagmanagement/TagManagementWKWebViewTests.swift
  tealium/collectors/location/LocationModule.swift
  tealium/core/utils/TealiumQueues.swift
  tealium/dispatchers/tagmanagement/TagManagementExtensions.swift
  tealium/dispatchers/tagmanagement/TagManagementProtocol.swift
  tealium/dispatchers/tagmanagement/TagManagementWKWebView.swift
  tealium/dispatchers/tagmanagement/WKWebViewAttachToView.swift
Labels: core, location, tagmanagement, tests

Add tests for InstanceManager communication with the autotracking module
  support/tests/test_tealium_autotracking/AutotrackingModuleTests.swift
  tealium/collectors/autotracking/AutotrackingModule.swift
Labels: autotracking, tests

Apply discardableResult to protocol method too
  tealium/dispatchers/tagmanagement/TagManagementProtocol.swift
Labels: tagmanagement

Change AutoTracked property wrapper with just the name
  builder/AutoTracking Test/ContentView.swift
  builder/iOSTealiumTest/ContentView.swift
  tealium/collectors/autotracking/AutoTrackingExtensions.swift
Labels: autotracking

Improve rename and reorganize pubsub classes
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/ObservableTests.swift
  tealium/core/Observable.swift
  tealium/core/pubsub/PubSub.swift
  tealium/core/pubsub/PubSubProtocols.swift
  tealium/core/pubsub/TealiumDisposeBag.swift
  tealium/core/pubsub/ToAnyObservable.swift
Labels: core, tests

Remove autotracking extension tests (no more autotrackingmanager present)
  support/tests/test_tealium_core/TealiumExtensionTests.swift
Labels: tests

Add tests for InstanceManager
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_autotracking/AutotrackingModuleTests.swift
  support/tests/test_tealium_core/TealiumInstanceManagerTests.swift
Labels: tests

Enable building autotracking for all platforms
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/collectors/autotracking/AutoTrackingExtensions.swift
  tealium/collectors/autotracking/AutotrackingModule.swift
  tealium/collectors/autotracking/TealiumViewController.swift
  tealium/collectors/autotracking/TealiumViewTrackable.swift
  tealium/collectors/autotracking/UIViewController+Tealium.swift
  tealium/collectors/autotracking/UIViewController+TealiumTracker.h
  tealium/collectors/autotracking/UIViewController+TealiumTracker.m
Labels: autotracking

Fix building issues with test apps and allow autotracking to be build for all platforms
  builder/TealiumAutotrackingTests-macOS copy-Info.plist
  builder/macOSTealiumTest/Base.lproj/Main.storyboard
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-macOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-tvOS.xcscheme
  builder/tvOSTealiumTest/Info.plist
  support/tests/test_tealium_autotracking/AutotrackingModuleTests.swift
  support/tests/test_tealium_autotracking/MockInMemoryDataLayer.swift
  tealium/collectors/autotracking/TealiumViewTrackable.swift
  tealium/collectors/autotracking/UIViewController+Tealium.swift
  tealium/core/Tealium.swift
Labels: core, autotracking, tests

Add specific cast to String to allow encoding of NSStrings
  support/tests/test_tealium_core/AnyCodableTests.swift
  tealium/core/utils/AnyCodable/AnyEncodable.swift
Labels: core, tests

Add NSDate conversion back to AnyCodable
  support/tests/test_tealium_core/AnyCodableTests.swift
  tealium/core/utils/AnyCodable/AnyEncodable.swift
Labels: core, tests

Encode Dates to the iso8601 formatted string
  support/tests/test_tealium_core/AnyCodableTests.swift
  tealium/core/utils/AnyCodable/AnyCodable.swift
  tealium/core/utils/Date+Tealium.swift
  tealium/core/utils/JSONEncoderDecoder.swift
  tealium/core/utils/Tealium+Encodable.swift
Labels: core, tests

Add error logging for AnyCodable encoding errors
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/iOSTealiumMediaTest.xcscheme
  support/tests/test_tealium_core/TealiumUtilsTests.swift
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
  tealium/core/logger/TealiumLogRequest.swift
  tealium/core/protocols/LoggingDataToStringConverter.swift
  tealium/core/utils/TealiumNetworkUtils.swift
  tealium/dispatchers/collect/CollectEventDispatcher.swift
  tealium/dispatchers/tagmanagement/TagManagementUtils.swift
  tealium/dispatchers/tagmanagement/TagManagementWKWebView.swift
Labels: core, collect, tagmanagement, tests

Make Resolution and logicalResolution use the format {width}x{height}
  support/tests/test_tealium_core/device_data/DeviceDataTests.swift
  tealium/core/devicedata/DeviceDataScreenInfo.swift
Labels: core, tests

Update Version to 2.4.4
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

Update samples podspecs
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumMediaExample/TealiumMediaExample.xcodeproj/xcshareddata/xcschemes/TealiumMediaExample.xcscheme
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile.lock
Labels: sampleapps

2.4.4 (#210)
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/iOSTealiumMediaTest.xcscheme
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumMediaExample/TealiumMediaExample.xcodeproj/xcshareddata/xcschemes/TealiumMediaExample.xcscheme
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile.lock
  support/tests/test_tealium_core/AnyCodableTests.swift
  support/tests/test_tealium_core/TealiumUtilsTests.swift
  support/tests/test_tealium_core/device_data/DeviceDataTests.swift
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
  tealium/core/devicedata/DeviceDataScreenInfo.swift
  tealium/core/logger/TealiumLogRequest.swift
  tealium/core/protocols/LoggingDataToStringConverter.swift
  tealium/core/utils/AnyCodable/AnyCodable.swift
  tealium/core/utils/AnyCodable/AnyEncodable.swift
  tealium/core/utils/Date+Tealium.swift
  tealium/core/utils/JSONEncoderDecoder.swift
  tealium/core/utils/Tealium+Encodable.swift
  tealium/core/utils/TealiumNetworkUtils.swift
  tealium/dispatchers/collect/CollectEventDispatcher.swift
  tealium/dispatchers/tagmanagement/TagManagementUtils.swift
  tealium/dispatchers/tagmanagement/TagManagementWKWebView.swift
Labels: core, collect, tagmanagement, tests, sampleapps

Move swiftui autotracking to View extension
  builder/AutoTracking Test/ContentView.swift
  builder/iOSTealiumTest/ContentView.swift
  tealium/collectors/autotracking/AutoTrackingExtensions.swift
  tealium/collectors/autotracking/TealiumViewTrackable.swift
Labels: autotracking

Move onAutoTrackView from TealiumInstanceManager to AutoTrackingModule and make it internal
  tealium/collectors/autotracking/AutotrackingModule.swift
  tealium/collectors/autotracking/TealiumViewController.swift
  tealium/collectors/autotracking/TealiumViewTrackable.swift
  tealium/collectors/autotracking/UIViewController+Tealium.swift
  tealium/core/TealiumInstanceManager.swift
Labels: core, autotracking

Extend View for trackingAppOpenUrl
  tealium/core/protocols/TealiumAppTrackable.swift
Labels: core

Fix line position
  tealium/collectors/autotracking/TealiumViewTrackable.swift
Labels: autotracking

Improve tests
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_autotracking/AutotrackingModuleTests.swift
  support/tests/test_tealium_core/MockInMemoryDataLayer.swift
  support/tests/test_tealium_core/PubSubTests.swift
  support/tests/test_tealium_core/TealiumInstanceManagerTests.swift
Labels: tests

Improve TealiumViewTrackable, documentation and sample
  builder/AutoTracking Test/ContentView.swift
  tealium/collectors/autotracking/TealiumViewTrackable.swift
Labels: autotracking

Add autotracking workaround for a bug with onDisappear, fix available checks and add test target for watchOS too
  builder/AutoTracking Test/ContentView.swift
  builder/TealiumAutotrackingTests-watchOS/Info.plist
  builder/TealiumAutotrackingTests-watchOS/TealiumAutotrackingTests_watchOS.swift
  builder/iOSTealiumTest/ContentView.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/AutoTracking Test.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-watchOS.xcscheme
  tealium/collectors/autotracking/TealiumViewTrackable.swift
  tealium/core/protocols/TealiumAppTrackable.swift
Labels: core, autotracking

Add UI tests for autotracking!
  builder/AutoTracking Test/AutoTracking_TestApp.swift
  builder/AutoTracking Test/ContentView.swift
  builder/AutoTracking Test/TextContent.swift
  builder/TealiumAutotrackingTests-watchOS/Info.plist
  builder/TealiumAutotrackingTests-watchOS/TealiumAutotrackingTests_watchOS.swift
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/AutoTracking Test.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAppDelegateProxyTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAttributionTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingUITests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumCollectTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumCoreTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumLifecycleTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumLocationTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumMediaTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumRemoteCommandsTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumTagManagementTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumTraceTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumVisitorServiceTests-iOS.xcscheme
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingUITests.swift
Labels: tests

Fix building autotracking test app for device
  builder/AutoTracking Test/TextContent.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
Labels: none

Raise deployment target for ios 11
  builder/tealium-swift.xcodeproj/project.pbxproj
Labels: none

Try to update packages to use iOS 11 and re-insert missing UIApplication+TealiumTracker category to the project (to understand if it's useful at all)
  Package.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/CoreMocks.swift
  tealium-swift.podspec
  tealium/collectors/autotracking/TealiumViewController.swift
  tealium/collectors/autotracking/TealiumViewTrackable.swift
  tealium/collectors/autotracking/UIApplication+TealiumTracker.m
  tealium/collectors/autotracking/UIViewController+Tealium.swift
Labels: autotracking, tests

Add macos autotracking test app
  builder/AutoTracking Test/ContentView.swift
  builder/AutoTrackingMacOSTest/AppDelegate.swift
  builder/AutoTrackingMacOSTest/Assets.xcassets/AccentColor.colorset/Contents.json
  builder/AutoTrackingMacOSTest/Assets.xcassets/AppIcon.appiconset/Contents.json
  builder/AutoTrackingMacOSTest/Assets.xcassets/Contents.json
  builder/AutoTrackingMacOSTest/AutoTrackingMacOSTest.entitlements
  builder/AutoTrackingMacOSTest/AutoTrackingMacOSTestApp.swift
  builder/AutoTrackingMacOSTest/Info.plist
  builder/AutoTrackingMacOSTest/Preview Content/Preview Assets.xcassets/Contents.json
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingIOSUITests.swift
Labels: tests

Add UITests for Mac and improve existing for iOS
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/AutoTrackingMacOSTest.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingUITests-macOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumCollectTests-macOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumLifecycleTests-macOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumMediaTests-macOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumVisitorServiceTests-macOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/macOSTealiumTest.xcscheme
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingMacOSUITests.swift
  tealium/collectors/autotracking/UIApplication+TealiumTracker.h
  tealium/collectors/autotracking/UIApplication+TealiumTracker.m
Labels: autotracking, tests

Remove old UIApplication+TealiumTracker files
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/collectors/autotracking/UIApplication+TealiumTracker.h
  tealium/collectors/autotracking/UIApplication+TealiumTracker.m
  tealium/core/JourneyEventsManager.swift
Labels: core, autotracking

Improve UITests for mac and iOS
  builder/AutoTracking Test/ContentView.swift
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingIOSUITests.swift
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingMacOSUITests.swift
Labels: tests

Make podspec lint by removing UIViewController+Trackable files for non iOS platforms
  tealium-swift.podspec
  tealium/collectors/autotracking/UIViewController+TealiumTracker.m
Labels: autotracking

Add tvOS tests
  builder/AutoTrackingMacOSTest/AutoTrackingMacOSTestApp.swift
  builder/AutoTrackingTvOSTest/Assets.xcassets/AccentColor.colorset/Contents.json
  builder/AutoTrackingTvOSTest/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Back.imagestacklayer/Content.imageset/Contents.json
  builder/AutoTrackingTvOSTest/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Back.imagestacklayer/Contents.json
  builder/AutoTrackingTvOSTest/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Contents.json
  builder/AutoTrackingTvOSTest/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Front.imagestacklayer/Content.imageset/Contents.json
  builder/AutoTrackingTvOSTest/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Front.imagestacklayer/Contents.json
  builder/AutoTrackingTvOSTest/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Middle.imagestacklayer/Content.imageset/Contents.json
  builder/AutoTrackingTvOSTest/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Middle.imagestacklayer/Contents.json
  builder/AutoTrackingTvOSTest/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Back.imagestacklayer/Content.imageset/Contents.json
  builder/AutoTrackingTvOSTest/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Back.imagestacklayer/Contents.json
  builder/AutoTrackingTvOSTest/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Contents.json
  builder/AutoTrackingTvOSTest/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Front.imagestacklayer/Content.imageset/Contents.json
  builder/AutoTrackingTvOSTest/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Front.imagestacklayer/Contents.json
  builder/AutoTrackingTvOSTest/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Middle.imagestacklayer/Content.imageset/Contents.json
  builder/AutoTrackingTvOSTest/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Middle.imagestacklayer/Contents.json
  builder/AutoTrackingTvOSTest/Assets.xcassets/App Icon & Top Shelf Image.brandassets/Contents.json
  builder/AutoTrackingTvOSTest/Assets.xcassets/App Icon & Top Shelf Image.brandassets/Top Shelf Image Wide.imageset/Contents.json
  builder/AutoTrackingTvOSTest/Assets.xcassets/App Icon & Top Shelf Image.brandassets/Top Shelf Image.imageset/Contents.json
  builder/AutoTrackingTvOSTest/Assets.xcassets/Contents.json
  builder/AutoTrackingTvOSTest/AutoTrackingTvOSTestApp.swift
  builder/AutoTrackingTvOSTest/Info.plist
  builder/AutoTrackingTvOSTest/Preview Content/Preview Assets.xcassets/Contents.json
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/AutoTrackingTvOSTest.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingUITests-tvOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumCollectTests-tvOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumCoreTests-tvOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumLifecycleTests-tvOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumMediaTests-tvOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/tvOSTealiumTest.xcscheme
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingTvOSUITests.swift
Labels: tests

.github/labeler.yml:

core:
  - tealium/core/**/*
datalayer:
  - tealium/core/datalayer/*     
consent:
  - tealium/core/consentmanager/*
storage:
  - tealium/core/storage/*
media:
  - tealium/collectors/media/*
visitorservice:
  - tealium/collectors/visitorservice/*
location:
  - tealium/collectors/location/*
attribution:
  - tealium/collectors/attribution/*
autotracking:
  - tealium/collectors/autotracking/*
lifecycle:
  - tealium/collectors/lifecycle/*
remotecommands:
  - tealium/dispatchers/remotecommands/*
collect:
  - tealium/dispatchers/collect/*
tagmanagement:
  - tealium/dispatchers/tagmanagement/*
tests:
  - support/tests/**/*
sampleapps:
  - samples/**/*
