Repository Tealium/tealium-swift, changes with the labels that .github/labeler.yml gives for each.
All labels: core, datalayer, consent, storage, media, visitorservice, location, attribution, autotracking, lifecycle, remotecommands, collect, tagmanagement, tests, sampleapps

[MT-779] make remote commands version and name overridable
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandProtocols.swift
Labels: remotecommands

[MT-870] cleans some pub/sub usage
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/collectors/lifecycle/LifecycleModule.swift
  tealium/collectors/media/MediaModule.swift
  tealium/core/dispatchmanager/DispatchManager.swift
  tealium/core/utils/TealiumLifecycleEventsDelegate.swift
  tealium/core/utils/TealiumLifecycleListeners.swift
Labels: core, media, lifecycle

[MT-779] Fix dummyDispatcher in tests
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
  support/tests/test_tealium_core/dispatch_manager/DispatchManagerTests.swift
Labels: tests

[MT-779] fix remote command tests
  support/tests/test_tealium_remotecommands/mocks/MockRemoteCommandsManager.swift
Labels: tests

[MT-903] fix issue with duplicated remote commands
  support/tests/test_tealium_remotecommands/RemoteCommandsManagerTests.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
Labels: remotecommands, tests

Removed deprecated NSKeyedUnarchiver method
  tealium/core/storage/LegacyConsentConfiguration.swift
  tealium/core/storage/LegacyStorageProtocols.swift
  tealium/core/utils/Migrator.swift
Labels: core, storage

availability check
  support/tests/CoreMocks.swift
  tealium/core/storage/LegacyStorageProtocols.swift
  tealium/core/utils/Migrator.swift
Labels: core, storage, tests

removed comment
  tealium/core/storage/LegacyStorageProtocols.swift
Labels: core, storage

fixed availability checks
  tealium/core/utils/Migrator.swift
Labels: core

Reuse the same Unarchiver dependency for tests too
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/MigratorTests.swift
  tealium/core/storage/LegacyStorageProtocols.swift
  tealium/core/utils/Migrator.swift
Labels: core, storage, tests

Solve crash on tealium deinit from thread different from main
  tealium/core/Tealium.swift
Labels: core

Fix lifecycle tests
  support/tests/test_tealium_lifecycle/LifecycleModuleTests.swift
  tealium/core/dispatchmanager/DispatchManager.swift
Labels: core, tests

[MT-879] add a workaround for lowPowerModeEnabled internal crash in iOS (#248)
  tealium/core/dispatchmanager/TealiumDispatchQueueExtensions.swift
Labels: core

Use availability checks in one line
  tealium/core/utils/Migrator.swift
Labels: core

Add failing tests to check differences on CICD
  support/tests/test_tealium_core/TealiumConfigTests.swift
Labels: tests

Revert "Add failing tests to check differences on CICD"
  support/tests/test_tealium_core/TealiumConfigTests.swift
Labels: tests

Add missing #if on TealiumCore import
  tealium/collectors/inapppurchase/InAppPurchaseConstants.swift
Labels: none

Add InAppPurchase module to AutoTrackingIOSTest application
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/AutoTrackingIOSTest.xcscheme
Labels: none

[MT-904] (#251)
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/MigratorTests.swift
  tealium/core/Tealium.swift
  tealium/core/storage/LegacyConsentConfiguration.swift
  tealium/core/storage/LegacyStorageProtocols.swift
  tealium/core/utils/Migrator.swift
Labels: core, storage, tests

[MT-779] Remote Commands to the data layer (#249)
  builder/iOSTealiumTest/TealiumHelper.swift
  support/tests/CoreMocks.swift
  support/tests/test_tealium_collect/CollectModuleTests.swift
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
  support/tests/test_tealium_core/dispatch_manager/DispatchManagerTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandsModuleTests.swift
  support/tests/test_tealium_remotecommands/mocks/MockRemoteCommandsManager.swift
  support/tests/test_tealium_tagmanagement/TagManagementModuleTests.swift
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
  tealium/core/ModulesManager.swift
  tealium/core/TealiumRequests.swift
  tealium/core/consentmanager/ConsentManagerModule.swift
  tealium/core/protocols/Dispatcher.swift
  tealium/dispatchers/collect/CollectModule.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandProtocols.swift
  tealium/dispatchers/remotecommands/RemoteCommandsExtensions.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
  tealium/dispatchers/remotecommands/RemoteCommandsModule.swift
  tealium/dispatchers/tagmanagement/TagManagementModule.swift
Labels: core, consent, remotecommands, collect, tagmanagement, tests

[MT-870] PubSub on lifecycle (#247)
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_lifecycle/LifecycleModuleTests.swift
  tealium/collectors/lifecycle/LifecycleModule.swift
  tealium/collectors/media/MediaModule.swift
  tealium/core/dispatchmanager/DispatchManager.swift
  tealium/core/dispatchmanager/TealiumDispatchQueueExtensions.swift
  tealium/core/utils/TealiumLifecycleEventsDelegate.swift
  tealium/core/utils/TealiumLifecycleListeners.swift
Labels: core, media, lifecycle, tests

[MT-903] fix issue with duplicated remote commands
  support/tests/test_tealium_remotecommands/RemoteCommandsManagerTests.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
Labels: remotecommands, tests

[MT-904] (#251)
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/MigratorTests.swift
  tealium/core/Tealium.swift
  tealium/core/storage/LegacyConsentConfiguration.swift
  tealium/core/storage/LegacyStorageProtocols.swift
  tealium/core/utils/Migrator.swift
Labels: core, storage, tests

Fix media integration tests not working
  builder/TealiumInAppPurchaseTests-iOS-Info.plist
  builder/TealiumMediaIntegrationTests-iOS-Info.plist
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/AppDelegateTest.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumMediaIntegrationTests-iOS.xcscheme
  support/tests/test_tealium_media/MockMediaService.swift
  support/tests/test_tealium_media/TealiumMediaTests.swift
Labels: tests

[MT-853] InAppPurchase module (#245)
  builder/TealiumInAppPurchase-Info.plist
  builder/iOSTealiumTest/ContentView.swift
  builder/iOSTealiumTest/StoreKitTesting.storekit
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/AutoTrackingIOSTest.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumInAppPurchase.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumInAppPurchaseTests-iOS.xcscheme
  support/tests/test_tealium_inapppurchase/TealiumInAppPurchaseModuleTests.swift
  support/tests/test_tealium_media/MockMediaService.swift
  support/tests/test_tealium_media/TealiumMediaTests.swift
  tealium/collectors/inapppurchase/InAppPurchaseConstants.swift
  tealium/collectors/inapppurchase/InAppPurchaseExtensions.swift
  tealium/collectors/inapppurchase/InAppPurchaseManager.swift
  tealium/collectors/inapppurchase/InAppPurchaseModule.swift
  tealium/core/TealiumConstants.swift
Labels: core, tests

Version 2.6.0
  .github/workflows/test.yml
  Package.swift
  builder/iOSTealiumTest/Supporting Views/UIColor+Hex.swift
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumInAppPurchaseTests-tvOS.xcscheme
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile.lock
  tealium-swift.podspec
  tealium/collectors/inapppurchase/InAppPurchaseExtensions.swift
  tealium/collectors/inapppurchase/InAppPurchaseManager.swift
  tealium/collectors/inapppurchase/InAppPurchaseModule.swift
  tealium/core/TealiumConstants.swift
Labels: core, sampleapps

Remove macOSTealiumTest and add run scheme on inAppPurchaseTests
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumInAppPurchaseTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumInAppPurchaseTests-tvOS.xcscheme
Labels: none

Add tvOS 14 availability on tests
  support/tests/test_tealium_inapppurchase/TealiumInAppPurchaseModuleTests.swift
Labels: tests

Sign to run locally macOSTealiumTest
  builder/tealium-swift.xcodeproj/project.pbxproj
Labels: none

CICD Fixes (#253)
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumInAppPurchaseTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumInAppPurchaseTests-tvOS.xcscheme
  support/tests/test_tealium_inapppurchase/TealiumInAppPurchaseModuleTests.swift
Labels: tests

Add TealiumInAppPurchase in the list of frameworks built by the script
  builder/xcframeworks.sh
Labels: none

[MT-903] fix issue with duplicated remote commands
  support/tests/test_tealium_remotecommands/RemoteCommandsManagerTests.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
Labels: remotecommands, tests

[MT-904] (#251)
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/MigratorTests.swift
  tealium/core/Tealium.swift
  tealium/core/storage/LegacyConsentConfiguration.swift
  tealium/core/storage/LegacyStorageProtocols.swift
  tealium/core/utils/Migrator.swift
Labels: core, storage, tests

CICD Fixes (#253)
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumInAppPurchaseTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumInAppPurchaseTests-tvOS.xcscheme
  support/tests/test_tealium_inapppurchase/TealiumInAppPurchaseModuleTests.swift
Labels: tests

[DOC-781] fix typo in gatherTrackData's retrieveCachedData parameter
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
  tealium/core/ModulesManager.swift
  tealium/core/Tealium.swift
Labels: core, tests

Add TealiumInAppPurchase in the list of frameworks built by the script
  builder/xcframeworks.sh
Labels: none

[MT-879] add a workaround for lowPowerModeEnabled internal crash in iOS (#248)
  tealium/core/dispatchmanager/TealiumDispatchQueueExtensions.swift
Labels: core

[MT-853] InAppPurchase module (#245)
  builder/TealiumInAppPurchase-Info.plist
  builder/iOSTealiumTest/ContentView.swift
  builder/iOSTealiumTest/StoreKitTesting.storekit
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/AutoTrackingIOSTest.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumInAppPurchase.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumInAppPurchaseTests-iOS.xcscheme
  support/tests/test_tealium_inapppurchase/TealiumInAppPurchaseModuleTests.swift
  support/tests/test_tealium_media/MockMediaService.swift
  support/tests/test_tealium_media/TealiumMediaTests.swift
  tealium/collectors/inapppurchase/InAppPurchaseConstants.swift
  tealium/collectors/inapppurchase/InAppPurchaseExtensions.swift
  tealium/collectors/inapppurchase/InAppPurchaseManager.swift
  tealium/collectors/inapppurchase/InAppPurchaseModule.swift
  tealium/core/TealiumConstants.swift
Labels: core, tests

[MT-870] PubSub on lifecycle (#247)
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_lifecycle/LifecycleModuleTests.swift
  tealium/collectors/lifecycle/LifecycleModule.swift
  tealium/collectors/media/MediaModule.swift
  tealium/core/dispatchmanager/DispatchManager.swift
  tealium/core/dispatchmanager/TealiumDispatchQueueExtensions.swift
  tealium/core/utils/TealiumLifecycleEventsDelegate.swift
  tealium/core/utils/TealiumLifecycleListeners.swift
Labels: core, media, lifecycle, tests

[MT-779] Remote Commands to the data layer (#249)
  builder/iOSTealiumTest/TealiumHelper.swift
  support/tests/CoreMocks.swift
  support/tests/test_tealium_collect/CollectModuleTests.swift
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
  support/tests/test_tealium_core/dispatch_manager/DispatchManagerTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandsModuleTests.swift
  support/tests/test_tealium_remotecommands/mocks/MockRemoteCommandsManager.swift
  support/tests/test_tealium_tagmanagement/TagManagementModuleTests.swift
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
  tealium/core/ModulesManager.swift
  tealium/core/TealiumRequests.swift
  tealium/core/consentmanager/ConsentManagerModule.swift
  tealium/core/protocols/Dispatcher.swift
  tealium/dispatchers/collect/CollectModule.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandProtocols.swift
  tealium/dispatchers/remotecommands/RemoteCommandsExtensions.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
  tealium/dispatchers/remotecommands/RemoteCommandsModule.swift
  tealium/dispatchers/tagmanagement/TagManagementModule.swift
Labels: core, consent, remotecommands, collect, tagmanagement, tests

.github/labeler.yml:

core:
  - tealium/core/**/*
datalayer:
  - tealium/core/datalayer/*     
consent:
  - tealium/core/consentmanager/*
storage:
  - tealium/core/storage/*
media:
  - tealium/collectors/media/*
visitorservice:
  - tealium/collectors/visitorservice/*
location:
  - tealium/collectors/location/*
attribution:
  - tealium/collectors/attribution/*
autotracking:
  - tealium/collectors/autotracking/*
lifecycle:
  - tealium/collectors/lifecycle/*
remotecommands:
  - tealium/dispatchers/remotecommands/*
collect:
  - tealium/dispatchers/collect/*
tagmanagement:
  - tealium/dispatchers/tagmanagement/*
tests:
  - support/tests/**/*
sampleapps:
  - samples/**/*
