Repository Tealium/tealium-swift, changes with the labels that .github/labeler.yml gives for each.
All labels: core, datalayer, consent, storage, media, visitorservice, location, attribution, autotracking, lifecycle, remotecommands, collect, tagmanagement, tests, sampleapps

.github/labeler.yml:

core:
  - tealium/core/**/*
datalayer:
  - tealium/core/datalayer/*     
consent:
  - tealium/core/consentmanager/*
storage:
  - tealium/core/storage/*
media:
  - tealium/collectors/media/*
visitorservice:
  - tealium/collectors/visitorservice/*
location:
  - tealium/collectors/location/*
attribution:
  - tealium/collectors/attribution/*
autotracking:
  - tealium/collectors/autotracking/*
lifecycle:
  - tealium/collectors/lifecycle/*
remotecommands:
  - tealium/dispatchers/remotecommands/*
collect:
  - tealium/dispatchers/collect/*
tagmanagement:
  - tealium/dispatchers/tagmanagement/*
tests:
  - support/tests/**/*
sampleapps:
  - samples/**/*

Fix warnings with TealiumDelegateProxy pointers and add surfile for creating the xcframeworks
  builder/SM/Surfile
  builder/tealium-swift.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  builder/xcframeworks.sh
  tealium/core/TealiumDelegateProxy.swift
Labels: core

[MT-1328] Privacy Manifest (#319)
  Package.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  tealium-swift.podspec
  tealium/core/PrivacyInfo.xcprivacy
Labels: core, tests

Xcode 15 support (#323)
  .github/workflows/build.yml
  .github/workflows/test.yml
  Package.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  samples/ConsentManagerDemo/ConsentManagerDemo.xcodeproj/project.pbxproj
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile
  samples/VisitorServiceDemo/Podfile.lock
  tealium-swift.podspec
  tealium/core/connectivity/ConnectivityModule.swift
  tealium/core/connectivity/NWPathMonitor.swift
Labels: core, sampleapps

Remove the iAd framework keys that are now unused
  support/tests/test_tealium_attribution/TealiumAttributionDataTests.swift
  tealium/collectors/attribution/AttributionConstants.swift
  tealium/collectors/attribution/PersistentAttributionData.swift
Labels: attribution, tests

Version 2.12.1
  .gitignore
  publish.sh
  tealium/core/TealiumConstants.swift
Labels: core

Version 2.12.1
  .gitignore
  publish.sh
  tealium/core/TealiumConstants.swift
Labels: core

Bump podspec
  publish.sh
  tealium-swift.podspec
Labels: none

Add codesigning to the framewrk build script
  .gitignore
  builder/xcframeworks.sh
Labels: none

Use resource_boundles instead of resources for privacy info to avoid possible clashes
  samples/TealiumSwiftExample/Podfile.lock
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core, sampleapps

Fix tests for URL builder now automatically escaping URLs
  support/tests/test_tealium_remotecommands/RemoteCommandResponseTests.swift
Labels: tests

Improve visitor service retriever tests
  support/tests/test_tealium_visitorservice/VisitorServiceRetrieverTests.swift
Labels: tests

Improve reliability of delegate proxy tests
  support/tests/test_tealium_core/TealiumDelegateProxyTests.swift
Labels: tests

Fix possible PrivacyInfo clashes with CocoaPods (#327)
  samples/TealiumSwiftExample/Podfile.lock
  support/tests/test_tealium_core/TealiumDelegateProxyTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandResponseTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceRetrieverTests.swift
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core, tests, sampleapps

Use ditto instead of zip to avoid codesign being broken on unzip
  builder/SM/Surfile
  builder/xcframeworks.sh
Labels: none

[MT-1508] Version 2.12.3
  tealium-swift.podspec
  tealium/core/PrivacyInfo.xcprivacy
  tealium/core/TealiumConstants.swift
Labels: core

Improve core tests reliability
  support/tests/test_tealium_core/TealiumDelegateProxyTests.swift
  support/tests/test_tealium_core/TealiumExtensionTests.swift
Labels: tests

Improve Autrotracking Module tests reliability
  support/tests/test_tealium_autotracking/AutotrackingModuleTests.swift
Labels: tests

Improve VisitorIdProviderTests reliability
  support/tests/test_tealium_core/appdata/VisitorIdProviderTests.swift
Labels: tests

Improve TealiumInstanceManager tests reliability
  support/tests/test_tealium_core/TealiumInstanceManagerTests.swift
Labels: tests

[MT-1508] Version 2.12.3 (#330)
  support/tests/test_tealium_autotracking/AutotrackingModuleTests.swift
  support/tests/test_tealium_core/TealiumDelegateProxyTests.swift
  support/tests/test_tealium_core/TealiumExtensionTests.swift
  support/tests/test_tealium_core/TealiumInstanceManagerTests.swift
  support/tests/test_tealium_core/appdata/VisitorIdProviderTests.swift
  tealium-swift.podspec
  tealium/core/PrivacyInfo.xcprivacy
  tealium/core/TealiumConstants.swift
Labels: core, tests

Make remote commands accept local paths with and without extension definition
  support/tests/test_tealium_remotecommands/RemoteCommandConfigTests.swift
  tealium/dispatchers/remotecommands/RemoteCommandConfig.swift
Labels: remotecommands, tests

Use constants for dle and tiq urls
  tealium/collectors/location/Geofences.swift
  tealium/collectors/location/TealiumLocationConstants.swift
  tealium/core/TealiumConstants.swift
  tealium/core/datalayer/DataLayerExtensions.swift
  tealium/core/datalayer/HostedDataLayer.swift
  tealium/dispatchers/remotecommands/RemoteCommandsConstants.swift
  tealium/dispatchers/tagmanagement/TagManagementConstants.swift
Labels: core, datalayer, location, remotecommands, tagmanagement

Share a ResourceRetriever and ResourceRefresher for RemoteCommands and RemotePublishSettings
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_remotecommands/RemoteCommandsManagerTests.swift
  support/tests/test_tealium_remotecommands/mocks/MockRemoteCommandsManager.swift
  tealium/core/TealiumConstants.swift
  tealium/core/datalayer/SessionStarter.swift
  tealium/core/publishsettings/TealiumPublishSettings.swift
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
  tealium/core/utils/ResourceRetriever.swift
  tealium/dispatchers/remotecommands/RemoteCommandConfig.swift
  tealium/dispatchers/remotecommands/RemoteCommandProtocols.swift
  tealium/dispatchers/remotecommands/RemoteCommandsConstants.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
  tealium/dispatchers/remotecommands/RemoteCommandsModule.swift
Labels: core, datalayer, remotecommands, tests

Add retry mechanism for ResourceRetriever and improve shouldRefresh checks in ResourceRefresher
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
  tealium/core/utils/ResourceRetriever.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
Labels: core, remotecommands

Fix refresh logic with wrong conditions
  support/tests/test_tealium_core/MockURLSessionPublishSettings.swift
  support/tests/test_tealium_core/PublishSettingsTests.swift
  support/tests/test_tealium_core/datalayer/SessionStarterTests.swift
  tealium/core/datalayer/DataLayerExtensions.swift
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
  tealium/core/utils/ResourceRetriever.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
Labels: core, datalayer, remotecommands, tests

Remove resource retriever forced refresh when not cached and add backoff for cooldown Interval
  tealium/core/utils/ResourceRetriever.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
Labels: core, remotecommands

Make condition clearer for when to use local bundle RemoteCommand config
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
Labels: remotecommands

Use commandId instead of filename for remote commands cache and asset bundle for url remote commands
  support/tests/TestTealiumHelper.swift
  tealium/core/utils/ResourceRetriever.swift
  tealium/dispatchers/remotecommands/RemoteCommandsExtensions.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
Labels: core, remotecommands, tests

Reorganize files
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/datalayer/MockInMemoryDataLayer.swift
  support/tests/test_tealium_core/delegate_proxy/SceneDelegateProxyTests.swift
  support/tests/test_tealium_core/delegate_proxy/TealiumAppDelegateProxyTests-iOS-Bridging-Header.h
  support/tests/test_tealium_core/delegate_proxy/TealiumDelegateProxyTests.swift
  support/tests/test_tealium_core/delegate_proxy/UIApplication+ManualContinueActivity.h
  support/tests/test_tealium_core/delegate_proxy/UIApplication+ManualContinueActivity.m
  support/tests/test_tealium_core/network/ResourceRetrieverTests.swift
  support/tests/test_tealium_core/network/URLResponseTests.swift
  support/tests/test_tealium_core/settings/MockURLSessionPublishSettings.swift
  support/tests/test_tealium_core/settings/PublishSettingsTests.swift
  tealium/core/utils/ResourceRetriever.swift
  tealium/core/utils/network/RefreshParameters.swift
  tealium/core/utils/network/ResourceRefresher.swift
  tealium/core/utils/network/ResourceRetriever.swift
  tealium/core/utils/network/TealiumNetworkUtils.swift
  tealium/core/utils/network/TealiumURLSession.swift
  tealium/core/utils/network/URLSessionProtocol.swift
Labels: core, tests

Improve VisitorServiceRetriever urlSession and completion calls
  support/tests/test_tealium_visitorservice/VisitorServiceRetrieverTests.swift
  tealium/collectors/visitorservice/VisitorServiceRetriever.swift
  tealium/core/utils/network/TealiumNetworkUtils.swift
Labels: core, visitorservice, tests

Simplify Resource Refresher error handling
  tealium/core/utils/network/ResourceRefresher.swift
  tealium/core/utils/network/ResourceRetriever.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
Labels: core, remotecommands

Improve Collect urlSession and Completion calls
  tealium/dispatchers/collect/CollectEventDispatcher.swift
Labels: collect

Test ResourceRetriever with a new MockURLSession
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/network/MockURLSession.swift
  support/tests/test_tealium_core/network/ResourceRetrieverTests.swift
  tealium/core/utils/network/ResourceRetriever.swift
Labels: core, tests

Fix ResourceRefresher Cooldown logic and add some tests
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/network/ResourceRefresherTests.swift
  tealium/core/utils/network/ResourceRefresher.swift
Labels: core, tests

Add ResourceRefresher tests and create ErrorCooldown utility to help with tests
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/network/ErrorCooldownTests.swift
  support/tests/test_tealium_core/network/MockURLSession.swift
  support/tests/test_tealium_core/network/ResourceRefresherTests.swift
  tealium/core/utils/network/ErrorCooldown.swift
  tealium/core/utils/network/ResourceRefresher.swift
Labels: core, tests

Improve and test ErrorCooldown
  support/tests/test_tealium_core/network/ErrorCooldownTests.swift
  support/tests/test_tealium_core/network/ResourceRefresherTests.swift
  tealium/core/utils/network/ErrorCooldown.swift
  tealium/core/utils/network/ResourceRefresher.swift
  tealium/dispatchers/remotecommands/RemoteCommandsConstants.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
Labels: core, remotecommands, tests

Remove settings from bundle option
  tealium/core/TealiumConstants.swift
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
Labels: core

Fix old remote commands manager tests
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/MockURLSession.swift
  support/tests/test_tealium_core/network/ResourceRefresherTests.swift
  support/tests/test_tealium_core/network/ResourceRetrieverTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandsManagerTests.swift
  support/tests/test_tealium_remotecommands/mocks/MockURLSession.swift
Labels: tests

Fix collect completion
  tealium/dispatchers/collect/CollectEventDispatcher.swift
Labels: collect

Fix remaining old tests for remote commands
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_remotecommands/RemoteCommandsManagerTests.swift
  support/tests/test_tealium_remotecommands/mocks/MockRemoteCommandsDiskStorage.swift
Labels: tests
