Repository Tealium/tealium-swift, changes with the labels that .github/labeler.yml gives for each.
All labels: core, datalayer, consent, storage, media, visitorservice, location, attribution, autotracking, lifecycle, remotecommands, collect, tagmanagement, tests, sampleapps

.github/labeler.yml:

core:
  - tealium/core/**/*
datalayer:
  - tealium/core/datalayer/*     
consent:
  - tealium/core/consentmanager/*
storage:
  - tealium/core/storage/*
media:
  - tealium/collectors/media/*
visitorservice:
  - tealium/collectors/visitorservice/*
location:
  - tealium/collectors/location/*
attribution:
  - tealium/collectors/attribution/*
autotracking:
  - tealium/collectors/autotracking/*
lifecycle:
  - tealium/collectors/lifecycle/*
remotecommands:
  - tealium/dispatchers/remotecommands/*
collect:
  - tealium/dispatchers/collect/*
tagmanagement:
  - tealium/dispatchers/tagmanagement/*
tests:
  - support/tests/**/*
sampleapps:
  - samples/**/*

Request dequeue from our background serial queue
  tealium/core/ModulesManager.swift
Labels: core

Split the sendTrack method in smaller methods to enhance stack traces readability
  tealium/core/ModulesManager.swift
Labels: core

Add refresh settings call back in the sendTrack method
  tealium/core/ModulesManager.swift
Labels: core

Add even more depth into the sendTrack call to enhance the stack traces
  tealium/core/ModulesManager.swift
Labels: core

Version 2.15.1
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile.lock
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core, sampleapps

Make visitorService tests more reliable
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  tealium/collectors/visitorservice/VisitorServiceModule.swift
Labels: visitorservice, tests

Make ResourceRetriever tests more reliable
  support/tests/test_tealium_core/network/ResourceRetrieverTests.swift
  tealium/core/utils/network/ResourceRetriever.swift
Labels: core, tests

rename delayBlock parameter name
  support/tests/test_tealium_core/network/ResourceRetrieverTests.swift
  tealium/core/utils/network/ResourceRetriever.swift
Labels: core, tests

[MT-1688] Version 2.15.1 - Fix potential threading issues (#344)
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile.lock
  support/tests/test_tealium_core/connectivity/TealiumConnectivityTests.swift
  support/tests/test_tealium_core/network/ResourceRetrieverTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  tealium-swift.podspec
  tealium/collectors/visitorservice/VisitorServiceModule.swift
  tealium/core/ModulesManager.swift
  tealium/core/TealiumConstants.swift
  tealium/core/connectivity/ConnectivityModule.swift
  tealium/core/connectivity/LegacyConnectivityMonitor.swift
  tealium/core/connectivity/NWPathMonitor.swift
  tealium/core/utils/network/ResourceRetriever.swift
Labels: core, visitorservice, tests, sampleapps

Fix build script to use a specific certificate to codesign the frameworks
  builder/xcframeworks.sh
  publish.sh
Labels: none

Use ResourceRefresher to avoid sync loading of geofences
  tealium/collectors/location/Geofences.swift
  tealium/collectors/location/LocationModule.swift
  tealium/collectors/location/TealiumLocationManager.swift
Labels: location

Make sure geofences are never retried in case of error, to maintain same functionality as before
  tealium/collectors/location/Geofences.swift
Labels: location

Filter geofences before reporting them
  tealium/collectors/location/Geofences.swift
  tealium/core/utils/JSONEncoderDecoder.swift
Labels: core, location

Create blocklist provider
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/collectors/autotracking/AutotrackingModule.swift
  tealium/collectors/autotracking/BlocklistProvider.swift
  tealium/collectors/location/Geofences.swift
  tealium/collectors/location/LocationModule.swift
  tealium/collectors/location/TealiumLocationManager.swift
Labels: location, autotracking

Remove filename for Blocklist and Geofences provider
  tealium/collectors/autotracking/BlocklistProvider.swift
  tealium/collectors/location/Geofences.swift
Labels: location, autotracking

Fix location test syntax and organization
  support/tests/test_tealium_location/MockLocationDelegate.swift
  support/tests/test_tealium_location/MockLocationDiskStorage.swift
  support/tests/test_tealium_location/MockLocationManager.swift
  support/tests/test_tealium_location/MockLocationModuleDelegate.swift
  support/tests/test_tealium_location/MockTealiumLocationManager.swift
  support/tests/test_tealium_location/TealiumLocationTests.swift
Labels: tests

Fix BlocklistProvider in case no file and no url is provided
  tealium/collectors/autotracking/BlocklistProvider.swift
Labels: autotracking

Improve dictionary equivalence tests
  support/tests/test_tealium_location/MockLocationDelegate.swift
  support/tests/test_tealium_location/TealiumLocationTests.swift
Labels: tests

Test GeofenceProvider
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_location/GeofenceProviderTests.swift
  support/tests/test_tealium_location/MockLocationDiskStorage.swift
  support/tests/test_tealium_location/TealiumLocationTests.swift
  tealium/collectors/location/Geofences.swift
Labels: location, tests

Add BlocklistProvider Tests
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_autotracking/BlocklistProviderTests.swift
  tealium/collectors/autotracking/BlocklistProvider.swift
Labels: autotracking, tests

Refactor Blocklist and Geofence provider to use a generic ItemsProvider
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_autotracking/BlocklistProviderTests.swift
  support/tests/test_tealium_location/GeofenceProviderTests.swift
  tealium/collectors/autotracking/AutotrackingModule.swift
  tealium/collectors/autotracking/BlocklistProvider.swift
  tealium/collectors/location/Geofences.swift
  tealium/collectors/location/TealiumLocationManager.swift
  tealium/core/utils/network/ItemsProvider.swift
Labels: core, location, autotracking, tests

Version 2.16.0
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

Make sure even local geofences load is done off of the main thread
  tealium/collectors/location/TealiumLocationManager.swift
Labels: location

Make ItemsFileLocation enum be created from an extension
  tealium/collectors/autotracking/BlocklistProvider.swift
  tealium/collectors/location/Geofences.swift
Labels: location, autotracking

Split ItemsFileLocation extensions in different files
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/collectors/autotracking/BlocklistProvider.swift
  tealium/collectors/autotracking/ItemsFileLocation+Blocklist.swift
  tealium/collectors/location/Geofences.swift
  tealium/collectors/location/ItemsFileLocation+Geofence.swift
Labels: location, autotracking

Add some ItemsProvider documentation
  tealium/core/utils/network/ItemsProvider.swift
Labels: core

Make provider tests more reliable
  support/tests/test_tealium_autotracking/BlocklistProviderTests.swift
  support/tests/test_tealium_location/GeofenceProviderTests.swift
Labels: tests

Polish autotracking module
  tealium/collectors/autotracking/AutotrackingModule.swift
Labels: autotracking

Update samples
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile.lock
Labels: sampleapps

[MT-1700] Version 2.16.0 - Refactor Blocklist and Geofences Providers (#346)
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile.lock
  support/tests/test_tealium_autotracking/BlocklistProviderTests.swift
  support/tests/test_tealium_location/GeofenceProviderTests.swift
  support/tests/test_tealium_location/MockLocationDelegate.swift
  support/tests/test_tealium_location/MockLocationDiskStorage.swift
  support/tests/test_tealium_location/MockLocationManager.swift
  support/tests/test_tealium_location/MockLocationModuleDelegate.swift
  support/tests/test_tealium_location/MockTealiumLocationManager.swift
  support/tests/test_tealium_location/TealiumLocationTests.swift
  tealium-swift.podspec
  tealium/collectors/autotracking/AutotrackingModule.swift
  tealium/collectors/autotracking/BlocklistProvider.swift
  tealium/collectors/autotracking/ItemsFileLocation+Blocklist.swift
  tealium/collectors/location/Geofences.swift
  tealium/collectors/location/ItemsFileLocation+Geofence.swift
  tealium/collectors/location/LocationModule.swift
  tealium/collectors/location/TealiumLocationManager.swift
  tealium/core/TealiumConstants.swift
  tealium/core/utils/JSONEncoderDecoder.swift
  tealium/core/utils/network/ItemsProvider.swift
Labels: core, location, autotracking, tests, sampleapps

Remove Dictionary equality operator
  support/tests/test_tealium_core/TealiumUtilsTests.swift
  support/tests/test_tealium_core/dispatch_manager/DispatchQueueTests.swift
  tealium/core/TealiumRequests.swift
  tealium/core/datalayer/HostedDataLayerCache.swift
  tealium/core/utils/Dictionary+Tealium.swift
Labels: core, datalayer, tests

Avoid inlining to make stack traces clearer
  tealium-swift.podspec
  tealium/core/ModulesManager.swift
  tealium/core/TealiumConstants.swift
Labels: core

Try to avoid a compiler bug
  tealium-swift.podspec
  tealium/core/Tealium.swift
  tealium/core/TealiumConstants.swift
  tealium/core/TealiumRequests.swift
Labels: core

Fix XCode 16 warnings
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/dispatchers/tagmanagement/TagManagementWKNavigationDelegate.swift
Labels: tagmanagement

[MT-1741] Try to avoid a compiler bug (#347)
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium-swift.podspec
  tealium/core/Tealium.swift
  tealium/core/TealiumConstants.swift
  tealium/core/TealiumRequests.swift
  tealium/dispatchers/tagmanagement/TagManagementWKNavigationDelegate.swift
Labels: core, tagmanagement

Fix potential crash for resource retriever using URLSession after being invalidated
  support/tests/test_tealium_core/network/ResourceRefresherTests.swift
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
  tealium/core/utils/network/ItemsProvider.swift
  tealium/core/utils/network/ResourceRefresher.swift
  tealium/core/utils/network/ResourceRetriever.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
Labels: core, remotecommands, tests

Add comment to explain that the bug only happens on iOS 17 or less
  support/tests/test_tealium_core/TealiumUtilsTests.swift
Labels: tests

Make sure we invalidate the session before setting it to nil
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
  tealium/core/utils/network/ItemsProvider.swift
Labels: core

Use as NSDictionary instead of creating a new instance
  support/tests/test_tealium_core/dispatch_manager/DispatchQueueTests.swift
  tealium/core/TealiumRequests.swift
  tealium/core/datalayer/HostedDataLayerCache.swift
Labels: core, datalayer, tests

Avoid tracking consent event when user consent status is unknown
  tealium/core/consentmanager/ConsentManager.swift
Labels: core, consent
