Repository Tealium/tealium-swift, changes with the labels that .github/labeler.yml gives for each.
All labels: core, datalayer, consent, storage, media, visitorservice, location, attribution, autotracking, lifecycle, remotecommands, collect, tagmanagement, tests, sampleapps

Only delete non audit event when clearing the queue
  support/tests/test_tealium_core/dispatch_manager/DispatchQueueTests.swift
  tealium/core/consentmanager/ConsentManagerModule.swift
  tealium/core/dispatchmanager/DispatchManager.swift
  tealium/core/dispatchmanager/TealiumPersistentDispatchQueue.swift
Labels: core, consent, tests

Make sure that consentTrackingEventName is grant_full_consent only if there are some categories inside.
  tealium/core/consentmanager/ConsentPolicies.swift
Labels: core, consent

Test clear queue not removing audit events and gdpr policy track event name
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
  support/tests/test_tealium_core/dispatch_manager/DispatchManagerTests.swift
Labels: tests

[MT-1762] Fix potential crash for resource retriever (#349)
  support/tests/test_tealium_core/network/ResourceRefresherTests.swift
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
  tealium/core/utils/network/ItemsProvider.swift
  tealium/core/utils/network/ResourceRefresher.swift
  tealium/core/utils/network/ResourceRetriever.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
Labels: core, remotecommands, tests

[MT-1723] Remove == method for [String: Any] dictionary (#350)
  support/tests/test_tealium_core/TealiumUtilsTests.swift
  support/tests/test_tealium_core/dispatch_manager/DispatchQueueTests.swift
  tealium/core/TealiumRequests.swift
  tealium/core/datalayer/HostedDataLayerCache.swift
  tealium/core/utils/Dictionary+Tealium.swift
Labels: core, datalayer, tests

Version 2.18.0
  publish.sh
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

[MT-1766] Consent logging improvements (#351)
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
  support/tests/test_tealium_core/dispatch_manager/DispatchManagerTests.swift
  support/tests/test_tealium_core/dispatch_manager/DispatchQueueTests.swift
  tealium/core/consentmanager/ConsentManager.swift
  tealium/core/consentmanager/ConsentManagerModule.swift
  tealium/core/consentmanager/ConsentPolicies.swift
  tealium/core/dispatchmanager/DispatchManager.swift
  tealium/core/dispatchmanager/TealiumPersistentDispatchQueue.swift
Labels: core, consent, tests

Release 2.18.0 (#352)
  publish.sh
  support/tests/test_tealium_core/TealiumUtilsTests.swift
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
  support/tests/test_tealium_core/dispatch_manager/DispatchManagerTests.swift
  support/tests/test_tealium_core/dispatch_manager/DispatchQueueTests.swift
  support/tests/test_tealium_core/network/ResourceRefresherTests.swift
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
  tealium/core/TealiumRequests.swift
  tealium/core/consentmanager/ConsentManager.swift
  tealium/core/consentmanager/ConsentManagerModule.swift
  tealium/core/consentmanager/ConsentPolicies.swift
  tealium/core/datalayer/HostedDataLayerCache.swift
  tealium/core/dispatchmanager/DispatchManager.swift
  tealium/core/dispatchmanager/TealiumPersistentDispatchQueue.swift
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
  tealium/core/utils/Dictionary+Tealium.swift
  tealium/core/utils/network/ItemsProvider.swift
  tealium/core/utils/network/ResourceRefresher.swift
  tealium/core/utils/network/ResourceRetriever.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
Labels: core, datalayer, consent, remotecommands, tests

Avoid keeping a reference on Tealium's enableCompletion
  tealium/core/Tealium.swift
Labels: core

Cleanup TagManagement enableCompletion from the completion itself
  tealium/dispatchers/tagmanagement/TagManagementWKWebView.swift
Labels: tagmanagement

Fix flaky test on TagManagementModule
  support/tests/test_tealium_tagmanagement/TagManagementModuleTests.swift
Labels: tests

Regression Test that objects captured by Tealium completion deallocate
  support/tests/test_tealium_core/PubSubTests.swift
  support/tests/test_tealium_core/TealiumExtensionTests.swift
  support/tests/test_tealium_core/TealiumInstanceManagerTests.swift
Labels: tests

Only set isBatteryMonitoringEnabled once and from the main thread
  tealium/core/devicedata/DeviceData.swift
  tealium/core/devicedata/DeviceDataModule.swift
Labels: core

Make Battery and Screen reporting configurable
  tealium/core/devicedata/DeviceDataModule.swift
  tealium/core/devicedata/DeviceDataModuleExtensions.swift
Labels: core

Use constant UIScreen.main.fixedCoordinateSpace.bounds since we were only adding them once
  tealium/core/devicedata/DeviceDataScreenInfo.swift
Labels: core

Add tests for DeviceData to disable battery and screen reporting
  support/tests/test_tealium_core/device_data/DeviceDataTests.swift
Labels: tests

[MT-1787] Avoid keeping a reference of Tealium's enableCompletion (#354)
  support/tests/test_tealium_core/PubSubTests.swift
  support/tests/test_tealium_core/TealiumExtensionTests.swift
  support/tests/test_tealium_core/TealiumInstanceManagerTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementModuleTests.swift
  tealium/core/Tealium.swift
  tealium/dispatchers/tagmanagement/TagManagementWKWebView.swift
Labels: core, tagmanagement, tests

[MT-1814] DeviceData + UIKit (#356)
  support/tests/test_tealium_core/device_data/DeviceDataTests.swift
  tealium/core/devicedata/DeviceData.swift
  tealium/core/devicedata/DeviceDataModule.swift
  tealium/core/devicedata/DeviceDataModuleExtensions.swift
  tealium/core/devicedata/DeviceDataScreenInfo.swift
Labels: core, tests

Version 2.18.1
  samples/ConsentManagerDemo/Podfile
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/project.pbxproj
  samples/VisitorServiceDemo/Podfile.lock
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core, sampleapps

Avoid adding cache buster on remote commands
  support/tests/test_tealium_remotecommands/RemoteCommandExtensionsTests.swift
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
  tealium/core/dispatchmanager/DispatchManager.swift
  tealium/core/storage/TealiumDiskStorage.swift
  tealium/core/utils/Dictionary+Tealium.swift
  tealium/dispatchers/remotecommands/RemoteCommandsExtensions.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
  tealium/dispatchers/tagmanagement/TagManagementProtocol.swift
  tealium/dispatchers/tagmanagement/TagManagementWKWebView.swift
Labels: core, storage, remotecommands, tagmanagement, tests

Update device names and variants in JSON file; add new iPhone and iPad models
  tealium/core/devicedata/device-names.json
Labels: core

Revert "Update device names and variants in JSON file; add new iPhone and iPad models"
  tealium/core/devicedata/device-names.json
Labels: core

Add script to fetch device names from appledb.dev
  scripts/fetch-device-names.py
Labels: none

Update device-names.json with new entries and sort by family
  tealium/core/devicedata/device-names.json
Labels: core

Refactor device-names.json by removing outdated entries and adding new models; update fetch-device-names.py to handle minimum deployment targets and improve error handling.
  scripts/fetch-device-names.py
  tealium/core/devicedata/device-names.json
Labels: core

Refactor fetch-device-names.py to improve URL handling and remove obsolete device identifier logic; update device-names.json to correct MacBook Pro entry.
  scripts/fetch-device-names.py
  tealium/core/devicedata/device-names.json
Labels: core

Update .gitignore and refactor device-names.json for consistency
  .gitignore
  scripts/fetch-device-names.py
  tealium/core/devicedata/device-names.json
Labels: core

Remove duplicate entry for MacBook Pro (13-inch, M1, 2020) in device-names.json
  tealium/core/devicedata/device-names.json
Labels: core

Update device-names.json to correct model variants for iPad devices
  tealium/core/devicedata/device-names.json
Labels: core

Update fetch-device-names.py to include virtual environment setup instructions and switch from urllib to requests for improved error handling
  .gitignore
  scripts/fetch-device-names.py
Labels: none

Normalize model_variant values in device-names.json by stripping storage qualifiers; add missing MacBook Pro entry.
  scripts/fetch-device-names.py
  tealium/core/devicedata/device-names.json
Labels: core

Update device names and variants in device-names.json for consistency and accuracy
  tealium/core/devicedata/device-names.json
Labels: core

Update device names and variants in device-names.json
  scripts/fetch-device-names.py
  tealium/core/devicedata/device-names.json
Labels: core

Fix model_variant values in device-names.json for consistency and accuracy
  tealium/core/devicedata/device-names.json
Labels: core

Update model names in device-names.json for MacBook variants to include year and specifications
  tealium/core/devicedata/device-names.json
Labels: core

Update model names for iPad Air 11-inch (M2) in device-names.json
  tealium/core/devicedata/device-names.json
Labels: core

[MT-1951] Add device names for 2024 and 2025 Apple devices (#359)
  .gitignore
  tealium/core/devicedata/device-names.json
Labels: core

Version 2.18.3
  .gitignore
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

[MT-2118] Version 2.18.4
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/NotificationCenter+AsyncOnTests.swift
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
  tealium/core/utils/NotificationCenter+AsyncOn.swift
  tealium/core/utils/TealiumLifecycleListeners.swift
Labels: core, tests

Fix typo
  tealium/core/utils/TealiumLifecycleListeners.swift
Labels: core

.github/labeler.yml:

core:
  - tealium/core/**/*
datalayer:
  - tealium/core/datalayer/*     
consent:
  - tealium/core/consentmanager/*
storage:
  - tealium/core/storage/*
media:
  - tealium/collectors/media/*
visitorservice:
  - tealium/collectors/visitorservice/*
location:
  - tealium/collectors/location/*
attribution:
  - tealium/collectors/attribution/*
autotracking:
  - tealium/collectors/autotracking/*
lifecycle:
  - tealium/collectors/lifecycle/*
remotecommands:
  - tealium/dispatchers/remotecommands/*
collect:
  - tealium/dispatchers/collect/*
tagmanagement:
  - tealium/dispatchers/tagmanagement/*
tests:
  - support/tests/**/*
sampleapps:
  - samples/**/*
