Repository Tealium/tealium-swift, changes with the labels that .github/labeler.yml gives for each.
All labels: core, datalayer, consent, storage, media, visitorservice, location, attribution, autotracking, lifecycle, remotecommands, collect, tagmanagement, tests, sampleapps

.github/labeler.yml:

core:
  - tealium/core/**/*
datalayer:
  - tealium/core/datalayer/*     
consent:
  - tealium/core/consentmanager/*
storage:
  - tealium/core/storage/*
media:
  - tealium/collectors/media/*
visitorservice:
  - tealium/collectors/visitorservice/*
location:
  - tealium/collectors/location/*
attribution:
  - tealium/collectors/attribution/*
autotracking:
  - tealium/collectors/autotracking/*
lifecycle:
  - tealium/collectors/lifecycle/*
remotecommands:
  - tealium/dispatchers/remotecommands/*
collect:
  - tealium/dispatchers/collect/*
tagmanagement:
  - tealium/dispatchers/tagmanagement/*
tests:
  - support/tests/**/*
sampleapps:
  - samples/**/*

[MT-848] just include and exclude objc files into targets
  Package.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/core/TealiumDelegateProxy+Swizzle.h
  tealium/core/TealiumDelegateProxy+Swizzle.m
Labels: core

[MT-848] fix objc target path
  Package.swift
Labels: none

Changed all the force unwraps to safley check the values first
  samples/TealiumSwiftExample/Podfile.lock
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample Extension.xcscheme
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample.xcscheme
  tealium-swift.podspec
  tealium/collectors/lifecycle/Lifecycle.swift
  tealium/collectors/visitorservice/VisitorServiceRetriever.swift
  tealium/core/TealiumAppDelegateProxy.swift
  tealium/core/connectivity/LegacyConnectivityMonitor.swift
  tealium/core/datalayer/DataLayerCollection.swift
  tealium/core/datalayer/Expiry.swift
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
  tealium/core/storage/Disk/Disk+InternalHelpers.swift
  tealium/core/utils/Data+Gzip/Data+Gzip.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
  tealium/dispatchers/remotecommands/RemoteHTTPCommand.swift
Labels: core, datalayer, visitorservice, lifecycle, remotecommands, sampleapps

[WIP] made it work with test targets
  Package.swift
  tealium/core/TealiumDelegateProxy+Swizzle.m
  tealium/testLib/TestSwift.swift
  tealium/testLibObjc/MyClass.h
  tealium/testLibObjc/MyClass.m
  tealium/testLibObjc/include/MyClass.h
  tealium/testLibObjc/include/TestLibObjc.h
Labels: core

[MT-848] make it work with TealiumCore
  Package.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/core/objc/TealiumDelegateProxy+Swizzle.h
  tealium/core/objc/TealiumDelegateProxy+Swizzle.m
  tealium/core/objc/include/TealiumCoreObjC.h
  tealium/testLib/TestSwift.swift
  tealium/testLibObjc/MyClass.h
  tealium/testLibObjc/MyClass.m
  tealium/testLibObjc/include/MyClass.h
  tealium/testLibObjc/include/TestLibObjc.h
Labels: core

[WIP] autotracking fixes
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium-swift.podspec
  tealium/collectors/autotracking/objc/include/TealiumAutotrackingObjC.h
  tealium/core/objc/include/TealiumCoreObjC.h
Labels: core

Remove unused bridging header
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/collectors/autotracking/Tealium-Autotracking-Bridging-Header.h
Labels: autotracking

Increase iOS pospec's ios version to make it work with SwiftUI
  tealium-swift.podspec
Labels: none

[MT-848] Make autotracking available for SPM too
  Package.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium-swift.podspec
  tealium/collectors/autotracking/objc/UIViewController+TealiumTracker.h
  tealium/collectors/autotracking/objc/UIViewController+TealiumTracker.m
Labels: none

Add comment on podfile
  tealium-swift.podspec
Labels: none

[MT-821] make substring codable
  support/tests/test_tealium_core/AnyCodableTests.swift
  tealium/core/utils/AnyCodable/AnyEncodable.swift
Labels: core, tests

[MT-821] Encoding to nil non-codable objects instead of failing the track call
  tealium/core/utils/AnyCodable/AnyEncodable.swift
Labels: core

Changed all the force unwraps to safley check the values first (#234)
  samples/TealiumSwiftExample/Podfile.lock
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample Extension.xcscheme
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample.xcscheme
  tealium/collectors/lifecycle/Lifecycle.swift
  tealium/collectors/visitorservice/VisitorServiceRetriever.swift
  tealium/core/TealiumDelegateProxy.swift
  tealium/core/connectivity/LegacyConnectivityMonitor.swift
  tealium/core/datalayer/DataLayerCollection.swift
  tealium/core/datalayer/Expiry.swift
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
  tealium/core/storage/Disk/Disk+InternalHelpers.swift
  tealium/core/utils/Data+Gzip/Data+Gzip.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
  tealium/dispatchers/remotecommands/RemoteHTTPCommand.swift
Labels: core, datalayer, visitorservice, lifecycle, remotecommands, sampleapps

Reorganize files
  builder/AutoTrackingIOSTest/ContentView.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/core/utils/NotificationToken.swift
Labels: core

[MT-687] Make ConsentManagerModule just a DispatchValidator
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
  support/tests/test_tealium_core/consent_manager/ConsentManagerTests.swift
  tealium/core/ModulesManager.swift
  tealium/core/consentmanager/ConsentConstants.swift
  tealium/core/consentmanager/ConsentManager.swift
  tealium/core/consentmanager/ConsentManagerExtensions.swift
  tealium/core/consentmanager/ConsentManagerModule.swift
Labels: core, consent, tests

[MT-687] Remove another duplicate consent data adding
  tealium/core/consentmanager/ConsentManager.swift
  tealium/core/consentmanager/ConsentManagerModule.swift
  tealium/core/consentmanager/ConsentPolicies.swift
Labels: core, consent

[MT-687] Improve tests
  support/tests/test_tealium_core/consent_manager/ConsentManagerTests.swift
  support/tests/test_tealium_core/dispatch_manager/DispatchManagerTests.swift
Labels: tests

[MT-687] add test on ConsentManagerModule
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
Labels: tests

Added swiftlint to xcode project and github actions
  .github/workflows/swiftlint.yml
  .swiftlint.yml
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/collectors/media/MediaSessionTypes.swift
Labels: media

Fixed code issues related to change
  tealium/collectors/media/MediaSessionTypes.swift
Labels: media

[MT-687] add gatherTrackData method on Tealium class
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
  tealium/core/ModulesManager.swift
  tealium/core/Tealium.swift
  tealium/core/dispatchmanager/DispatchManager.swift
Labels: core, tests

Revert "[MT-687] add gatherTrackData method on Tealium class"
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
  tealium/core/ModulesManager.swift
  tealium/core/Tealium.swift
  tealium/core/dispatchmanager/DispatchManager.swift
Labels: core, tests

[MT-500] add gatherTrackData method on Tealium class
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
  tealium/core/ModulesManager.swift
  tealium/core/Tealium.swift
  tealium/core/dispatchmanager/DispatchManager.swift
Labels: core, tests

[MT-500] move consent keys into TealiumDataKeys
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/MigratorTests.swift
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
  support/tests/test_tealium_core/consent_manager/ConsentManagerTests.swift
  tealium/core/consentmanager/ConsentConstants.swift
  tealium/core/consentmanager/ConsentManager.swift
  tealium/core/consentmanager/ConsentPolicies.swift
  tealium/core/consentmanager/UserConsentPreferences.swift
  tealium/core/utils/Migrator.swift
Labels: core, consent, tests

[MT-500] move Core config keys into TealiumConfigKey enum
  support/tests/test_tealium_core/appdata/TealiumAppDataTests.swift
  tealium/collectors/media/MediaExtensions.swift
  tealium/core/TealiumConfig.swift
  tealium/core/TealiumConstants.swift
  tealium/core/appdata/PersistentAppData.swift
  tealium/core/consentmanager/ConsentManagerModule.swift
  tealium/core/datalayer/DataLayerExtensions.swift
  tealium/core/dispatchmanager/DispatchManager.swift
  tealium/core/dispatchmanager/TealiumDispatchQueueConstants.swift
  tealium/core/dispatchmanager/TealiumDispatchQueueExtensions.swift
  tealium/core/logger/TealiumLoggerExtensions.swift
  tealium/core/storage/TealiumDiskStorageConfig.swift
Labels: core, datalayer, consent, storage, media, tests

[MT-500] move modules config keys into TealiumConfigKey
  support/tests/test_tealium_collect/CollectModuleTests.swift
  support/tests/test_tealium_collect/TealiumCollectTests.swift
  support/tests/test_tealium_core/MigratorTests.swift
  support/tests/test_tealium_media/TealiumMediaTests.swift
  tealium/collectors/attribution/AttributionConstants.swift
  tealium/collectors/attribution/AttributionExtensions.swift
  tealium/collectors/autotracking/AutoTrackingExtensions.swift
  tealium/collectors/location/TealiumLocationConstants.swift
  tealium/collectors/location/TealiumLocationExtensions.swift
  tealium/collectors/visitorservice/VisitorServiceConstants.swift
  tealium/collectors/visitorservice/VisitorServiceExtensions.swift
  tealium/core/connectivity/ConnectivityConfigExtensions.swift
  tealium/core/connectivity/ConnectivityConstants.swift
  tealium/core/consentmanager/ConsentConstants.swift
  tealium/core/consentmanager/ConsentManager.swift
  tealium/core/consentmanager/ConsentManagerExtensions.swift
  tealium/core/devicedata/DeviceDataConstants.swift
  tealium/core/devicedata/DeviceDataModuleExtensions.swift
  tealium/dispatchers/collect/CollectConstants.swift
  tealium/dispatchers/collect/CollectExtensions.swift
  tealium/dispatchers/remotecommands/RemoteCommandsConstants.swift
  tealium/dispatchers/remotecommands/RemoteCommandsExtensions.swift
  tealium/dispatchers/remotecommands/RemoteCommandsModule.swift
  tealium/dispatchers/tagmanagement/TagManagementConstants.swift
  tealium/dispatchers/tagmanagement/TagManagementExtensions.swift
Labels: core, consent, visitorservice, location, attribution, autotracking, remotecommands, collect, tagmanagement, tests

[MT-500] add attribution keys to TealiumDataKeys
  support/tests/test_tealium_attribution/MockAttributionData.swift
  support/tests/test_tealium_attribution/TealiumAttributionDataTests.swift
  support/tests/test_tealium_attribution/TealiumAttributionModuleTests.swift
  tealium/collectors/attribution/AttributionConstants.swift
  tealium/collectors/attribution/AttributionData.swift
  tealium/collectors/attribution/PersistentAttributionData.swift
Labels: attribution, tests

[MT-500] fix location keys and tests
  support/tests/test_tealium_location/TealiumLocationTests.swift
  tealium/collectors/lifecycle/Lifecycle.swift
  tealium/collectors/lifecycle/LifecycleConstants.swift
  tealium/collectors/lifecycle/LifecycleModule.swift
  tealium/collectors/location/LocationModule.swift
  tealium/collectors/location/TealiumLocationConstants.swift
  tealium/collectors/location/TealiumLocationManager.swift
Labels: location, lifecycle, tests

[MT-500] fix tag management, device data and datalayer keys
  support/tests/test_tealium_remotecommands/RemoteCommandsModuleTests.swift
  tealium/core/TealiumConstants.swift
  tealium/core/TealiumRequests.swift
  tealium/core/datalayer/DataLayer.swift
  tealium/core/datalayer/DataLayerExtensions.swift
  tealium/core/devicedata/DeviceDataModelInfo.swift
  tealium/core/dispatchmanager/DispatchManager.swift
  tealium/core/dispatchmanager/TealiumPersistentDispatchQueue.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
  tealium/dispatchers/tagmanagement/TagManagementWKNavigationDelegate.swift
Labels: core, datalayer, remotecommands, tagmanagement, tests

[MT-500] fix refreshInterval naming collision
  tealium/collectors/visitorservice/VisitorServiceExtensions.swift
Labels: visitorservice

[MT-500] Fix tealiumCore tests
  support/tests/test_tealium_core/datalayer/DataLayerManagerTests.swift
  support/tests/test_tealium_core/device_data/DeviceDataTests.swift
  support/tests/test_tealium_core/dispatch_manager/DispatchQueueTests.swift
Labels: tests

[MT-500] fix some more tests
  support/tests/test_tealium_core/datalayer/TealiumTraceTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandsModuleTests.swift
  tealium/core/TealiumConstants.swift
Labels: core, tests

[MT-687] fix consent categories not added on update_consent_cookie event
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
  tealium/core/consentmanager/ConsentManagerModule.swift
Labels: core, consent, tests

[MT-687] add another test for consent data in track call
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
Labels: tests

[MT-821] Improve Codable support (#233)
  support/tests/test_tealium_core/AnyCodableTests.swift
  tealium/core/utils/AnyCodable/AnyEncodable.swift
Labels: core, tests

Mt 687 (#235)
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
  support/tests/test_tealium_core/consent_manager/ConsentManagerTests.swift
  support/tests/test_tealium_core/dispatch_manager/DispatchManagerTests.swift
  tealium/core/ModulesManager.swift
  tealium/core/consentmanager/ConsentConstants.swift
  tealium/core/consentmanager/ConsentManager.swift
  tealium/core/consentmanager/ConsentManagerExtensions.swift
  tealium/core/consentmanager/ConsentManagerModule.swift
  tealium/core/consentmanager/ConsentPolicies.swift
Labels: core, consent, tests

Improve readability on if in PubSub
  tealium/core/pubsub/PubSub.swift
Labels: core

Fix some tests
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/core/devicedata/DeviceDataCarrierInfo.swift
Labels: core

Added in-app purchase collector
  builder/TealiumAttribution copy-Info.plist
  builder/TealiumAttributionTests-iOS copy-Info.plist
  builder/TealiumInAppPurchase-Info.plist
  builder/TealiumInAppPurchaseTests-iOS-Info.plist
  builder/iOSTealiumTest/ContentView.swift
  builder/iOSTealiumTest/StoreKitTesting.storekit
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumInAppPurchase.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumInAppPurchaseTests-iOS.xcscheme
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample Extension.xcscheme
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample.xcscheme
  support/tests/test_tealium_inapppurchase/TealiumInAppPurchaseModuleTests.swift
  tealium/collectors/inapppurchase/InAppPurchaseConstants.swift
  tealium/collectors/inapppurchase/InAppPurchaseExtensions.swift
  tealium/collectors/inapppurchase/InAppPurchaseManager.swift
  tealium/collectors/inapppurchase/InAppPurchaseModule.swift
  tealium/core/TealiumConstants.swift
Labels: core, tests, sampleapps

Add more strict #if for excluding SwiftUI out of armv7 and i386 architectures
  tealium/collectors/autotracking/TealiumViewTrackable.swift
  tealium/core/protocols/TealiumAppTrackable.swift
Labels: core, autotracking
