Repository Tealium/tealium-swift, changes with the labels that .github/labeler.yml gives for each.
All labels: core, datalayer, consent, storage, media, visitorservice, location, attribution, autotracking, lifecycle, remotecommands, collect, tagmanagement, tests, sampleapps

.github/labeler.yml:

core:
  - tealium/core/**/*
datalayer:
  - tealium/core/datalayer/*     
consent:
  - tealium/core/consentmanager/*
storage:
  - tealium/core/storage/*
media:
  - tealium/collectors/media/*
visitorservice:
  - tealium/collectors/visitorservice/*
location:
  - tealium/collectors/location/*
attribution:
  - tealium/collectors/attribution/*
autotracking:
  - tealium/collectors/autotracking/*
lifecycle:
  - tealium/collectors/lifecycle/*
remotecommands:
  - tealium/dispatchers/remotecommands/*
collect:
  - tealium/dispatchers/collect/*
tagmanagement:
  - tealium/dispatchers/tagmanagement/*
tests:
  - support/tests/**/*
sampleapps:
  - samples/**/*

Add RemoteCommands tests for bundle and refreshes
  support/tests/test_tealium_remotecommands/RemoteCommandsManagerTests.swift
Labels: tests

Fix TagManagement flaky tests
  support/tests/test_tealium_tagmanagement/TagManagementModuleTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementWKWebViewTests.swift
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
  tealium/dispatchers/tagmanagement/TagManagementModule.swift
  tealium/dispatchers/tagmanagement/TagManagementWKWebView.swift
Labels: tagmanagement, tests

Reload webview after session updates
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/datalayer/MockDataLayerManager.swift
  support/tests/test_tealium_tagmanagement/MockTagManagementWebView.swift
  support/tests/test_tealium_tagmanagement/TagManagementModuleTests.swift
  tealium/dispatchers/tagmanagement/TagManagementModule.swift
Labels: tagmanagement, tests

Add some documentation and improve isFileCached
  support/tests/test_tealium_core/network/ResourceRefresherTests.swift
  tealium/core/utils/network/ErrorCooldown.swift
  tealium/core/utils/network/RefreshParameters.swift
  tealium/core/utils/network/ResourceRefresher.swift
  tealium/core/utils/network/ResourceRetriever.swift
Labels: core, tests

Fix comment spacing
  tealium/core/utils/network/ErrorCooldown.swift
Labels: core

Fix inAppPurchase tests
  builder/tealium-swift.xcodeproj/project.pbxproj
Labels: none

Improve readability of dynamicTrack and fix mock webview in tests
  support/tests/test_tealium_tagmanagement/MockTagManagementWebView.swift
  tealium/dispatchers/tagmanagement/TagManagementModule.swift
Labels: tagmanagement, tests

Try to use M1 mac on CICD
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: none

Fix wrong macos specification
  .github/workflows/test.yml
Labels: none

Reset EccordCooldown counter on non-errors
  support/tests/test_tealium_core/datalayer/DataLayerTests.swift
  support/tests/test_tealium_core/network/ErrorCooldownTests.swift
  tealium/core/utils/network/ErrorCooldown.swift
Labels: core, tests

Make publishsettings tests more reliable
  support/tests/test_tealium_core/settings/PublishSettingsTests.swift
Labels: tests

Ignore 304 errors from ResourceRetriever in ResourceRefresher's ErrorCooldown
  support/tests/test_tealium_core/network/ResourceRefresherTests.swift
  tealium/core/utils/network/RefreshParameters.swift
  tealium/core/utils/network/ResourceRefresher.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
Labels: core, remotecommands, tests

Try to make Autotracking UI tests more reliable on slow CICD
  support/tests/test_tealium_autotracking/ui_tests/XCUIApplication+AssertTextExists.swift
Labels: tests

Version 2.13.0
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile.lock
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core, sampleapps

Version 2.13.0
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile.lock
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core, sampleapps

WIP
  builder/iOSTealiumTest/TealiumHelper.swift
  tealium/collectors/moments/MomentsAPIEngineResponse.swift
  tealium/collectors/moments/MomentsAPIExtensions.swift
Labels: none

sample updates
  builder/iOSTealiumTest/TealiumHelper.swift
Labels: none

Added tests
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_moments/MockURLSession.swift
  support/tests/test_tealium_moments/MomentsAPIModuleTests.swift
  support/tests/test_tealium_moments/MomentsAPITests.swift
  tealium/collectors/moments/MomentsAPI.swift
  tealium/collectors/moments/MomentsAPIEngineResponse.swift
  tealium/collectors/moments/MomentsAPIError.swift
  tealium/collectors/moments/MomentsAPIExtensions.swift
  tealium/collectors/moments/MomentsAPIHTTPError.swift
  tealium/collectors/moments/MomentsAPIModule.swift
  tealium/core/ModulesManager.swift
Labels: core, tests

updated consent expiry
  builder/iOSTealiumTest/TealiumHelper.swift
  tealium/collectors/moments/MomentsAPIModule.swift
Labels: none

small fix
  tealium/collectors/moments/MomentsAPIEngineResponse.swift
Labels: none

initial commit
  builder/TealiumVisitorService copy-Info.plist
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumMoments.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumVisitorService copy.xcscheme
  tealium/collectors/moments/MomentsAPI.swift
  tealium/collectors/moments/MomentsAPIExtensions.swift
  tealium/collectors/moments/MomentsAPIModule.swift
  tealium/core/TealiumConstants.swift
Labels: core

swiftlint changes
  .swiftlint.yml
  builder/iOSTealiumTest/Info.plist
  builder/iOSTealiumTest/MomentsView.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_moments/MomentsAPITests.swift
  tealium/collectors/moments/MomentsAPI.swift
  tealium/collectors/moments/MomentsAPIEngineResponse.swift
  tealium/collectors/moments/MomentsAPIError.swift
  tealium/collectors/moments/MomentsAPIExtensions.swift
  tealium/collectors/moments/MomentsAPIModule.swift
  tealium/core/ModulesManager.swift
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
  tealium/core/utils/network/TealiumNetworkUtils.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
Labels: core, remotecommands, tests

WIP
  builder/TealiumMomentsAPITests-iOS-Info.plist
  builder/iOSTealiumTest/ContentView.swift
  builder/iOSTealiumTest/MomentsView.swift
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/iOSTealiumTest/VisitorServiceView.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumMomentsAPITests-iOS copy.xcscheme
  tealium/collectors/moments/MomentsAPIEngineResponse.swift
  tealium/collectors/moments/MomentsAPIError.swift
  tealium/collectors/moments/MomentsAPIExtensions.swift
  tealium/collectors/moments/MomentsAPIModule.swift
  tealium/core/dispatchmanager/DispatchManager.swift
Labels: core

switched to new engine response format
  builder/iOSTealiumTest/MomentsView.swift
  tealium/collectors/moments/MomentsAPIEngineResponse.swift
Labels: none

Added tests
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_moments/MockURLSession.swift
  support/tests/test_tealium_moments/MomentsAPIModuleTests.swift
  support/tests/test_tealium_moments/MomentsAPITests.swift
  tealium/collectors/moments/MomentsAPI.swift
  tealium/collectors/moments/MomentsAPIError.swift
  tealium/collectors/moments/MomentsAPIExtensions.swift
  tealium/collectors/moments/MomentsAPIHTTPError.swift
  tealium/collectors/moments/MomentsAPIModule.swift
Labels: tests

initial commit of moments api
  builder/TealiumMoments-Info.plist
  builder/TealiumMomentsAPITests-iOS-Info.plist
  builder/iOSTealiumTest/Info.plist
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumMomentsAPITests-iOS.xcscheme
  support/tests/MockSessionStarter.swift
  support/tests/test_tealium_moments/MockURLSession.swift
  support/tests/test_tealium_moments/MomentsAPITests.swift
  tealium/collectors/moments/MomentsAPI.swift
  tealium/collectors/moments/MomentsAPIEngineResponse.swift
  tealium/collectors/moments/MomentsAPIExtensions.swift
  tealium/collectors/moments/MomentsAPIModule.swift
  tealium/core/ModulesManager.swift
Labels: core, tests

swiftlint updates
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumMomentsAPITests-tvOS.xcscheme
  support/tests/test_tealium_moments/MomentsAPIModuleTests.swift
Labels: tests

fix conflict
  tealium/core/TealiumConstants.swift
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
Labels: core

updated test schemes
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumMomentsAPI.xcscheme
Labels: none

updated imports
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/collectors/momentsapi/MomentsAPI.swift
  tealium/collectors/momentsapi/MomentsAPIEngineResponse.swift
  tealium/collectors/momentsapi/MomentsAPIError.swift
  tealium/collectors/momentsapi/MomentsAPIExtensions.swift
  tealium/collectors/momentsapi/MomentsAPIHTTPError.swift
  tealium/collectors/momentsapi/MomentsAPIModule.swift
Labels: none

updated tvos scheme
  builder/tealium-swift.xcodeproj/project.pbxproj
Labels: none

Updated surfile
  builder/SM/Surfile
Labels: none

Updates from PR review
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_moments/MomentsAPIModuleTests.swift
  support/tests/test_tealium_moments/MomentsAPITests.swift
  tealium/collectors/momentsapi/MomentsAPI.swift
  tealium/collectors/momentsapi/MomentsAPIError.swift
  tealium/collectors/momentsapi/MomentsAPIExtensions.swift
  tealium/collectors/momentsapi/MomentsAPIHTTPError.swift
  tealium/collectors/momentsapi/MomentsAPIModule.swift
Labels: tests

Added input field for moments API engine ID
  builder/iOSTealiumTest/MomentsView.swift
  builder/iOSTealiumTest/TealiumHelper.swift
Labels: none

bumped ruby version
  .github/workflows/test.yml
Labels: none

Make MomentsAPI constant in the module
  tealium/collectors/momentsapi/MomentsAPI.swift
  tealium/collectors/momentsapi/MomentsAPIModule.swift
Labels: none

Further code review updates
  tealium/collectors/momentsapi/MomentsAPI.swift
  tealium/collectors/momentsapi/MomentsAPIExtensions.swift
  tealium/collectors/momentsapi/MomentsAPIModule.swift
Labels: none

Switched to using MockURLSession from core
  .github/workflows/test.yml
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_moments/MockURLSession.swift
  support/tests/test_tealium_moments_api/MomentsAPIModuleTests.swift
  support/tests/test_tealium_moments_api/MomentsAPITests.swift
  tealium/collectors/momentsapi/MomentsAPIExtensions.swift
Labels: tests

Handled missing/null responses from Moments API
  support/tests/test_tealium_moments_api/MomentsAPITests.swift
  tealium/collectors/momentsapi/MomentsAPIEngineResponse.swift
  tealium/collectors/momentsapi/MomentsAPIError.swift
  tealium/collectors/momentsapi/MomentsAPIExtensions.swift
Labels: tests

Made properties optional to align with visitor profile. Skipped null values
  builder/iOSTealiumTest/MomentsView.swift
  builder/iOSTealiumTest/TealiumHelper.swift
  support/tests/test_tealium_moments_api/MomentsAPITests.swift
  tealium/collectors/momentsapi/MomentsAPIEngineResponse.swift
Labels: tests
