Repository Tealium/tealium-swift, changes with the labels that .github/labeler.yml gives for each.
All labels: core, datalayer, consent, storage, media, visitorservice, location, attribution, autotracking, lifecycle, remotecommands, collect, tagmanagement, tests, sampleapps

.github/labeler.yml:

core:
  - tealium/core/**/*
datalayer:
  - tealium/core/datalayer/*     
consent:
  - tealium/core/consentmanager/*
storage:
  - tealium/core/storage/*
media:
  - tealium/collectors/media/*
visitorservice:
  - tealium/collectors/visitorservice/*
location:
  - tealium/collectors/location/*
attribution:
  - tealium/collectors/attribution/*
autotracking:
  - tealium/collectors/autotracking/*
lifecycle:
  - tealium/collectors/lifecycle/*
remotecommands:
  - tealium/dispatchers/remotecommands/*
collect:
  - tealium/dispatchers/collect/*
tagmanagement:
  - tealium/dispatchers/tagmanagement/*
tests:
  - support/tests/**/*
sampleapps:
  - samples/**/*

Fix wait call in tests
  support/tests/test_tealium_core/PublishSettingsTests.swift
Labels: tests

Make safe datalayer access in tests without sync empty blocks on the background queue
  support/tests/test_tealium_core/datalayer/DataLayerManagerTests.swift
  support/tests/test_tealium_core/datalayer/SessionManagerTests.swift
Labels: tests

Autotracking tests reliability improvements (#293)
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingIOSUITests.swift
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingMacOSUITests.swift
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingTvOSUITests.swift
  support/tests/test_tealium_autotracking/ui_tests/XCUIApplication+AssertTextExists.swift
Labels: tests

[MT-1230] DataLayer performance improvements (#296)
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/MigratorTests.swift
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
  support/tests/test_tealium_core/datalayer/DataLayerManagerTests.swift
  support/tests/test_tealium_core/datalayer/SessionManagerTests.swift
  tealium/core/ModulesManager.swift
  tealium/core/appdata/VisitorIdMigrator.swift
  tealium/core/datalayer/DataLayer.swift
  tealium/core/datalayer/TealiumTrace.swift
Labels: core, datalayer, tests

[MT-1232] Publish settings cache fix (#295)
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/MockURLSessionPublishSettings.swift
  support/tests/test_tealium_core/PublishSettingsTests.swift
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
  support/tests/test_tealium_core/URLResponseTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  tealium/core/ModulesManager.swift
  tealium/core/TimedEventScheduler.swift
  tealium/core/publishsettings/TealiumPublishSettings.swift
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
  tealium/dispatchers/tagmanagement/TagManagementModule.swift
Labels: core, tagmanagement, tests

Version 2.9.2
  support/tests/test_tealium_autotracking/AutotrackingModuleTests.swift
  tealium-swift.podspec
  tealium/collectors/autotracking/UIViewController+Tealium.swift
  tealium/collectors/lifecycle/Lifecycle.swift
  tealium/core/TealiumConfig.swift
  tealium/core/TealiumConstants.swift
  tealium/core/TealiumDelegateProxy.swift
  tealium/core/datalayer/DataLayer.swift
  tealium/core/datalayer/SessionManager.swift
  tealium/core/devicedata/DeviceDataModule.swift
  tealium/core/dispatchmanager/DispatchManager.swift
  tealium/core/storage/Disk/Disk+InternalHelpers.swift
  tealium/core/storage/TealiumDiskStorage.swift
  tealium/core/utils/Dictionary+Tealium.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
Labels: core, datalayer, storage, autotracking, lifecycle, remotecommands, tests

[MT-1230] DataLayer performance improvements (#296)
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/MigratorTests.swift
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
  support/tests/test_tealium_core/datalayer/DataLayerManagerTests.swift
  support/tests/test_tealium_core/datalayer/SessionManagerTests.swift
  tealium/core/ModulesManager.swift
  tealium/core/appdata/VisitorIdMigrator.swift
  tealium/core/datalayer/DataLayer.swift
  tealium/core/datalayer/TealiumTrace.swift
Labels: core, datalayer, tests

Version 2.9.2
  support/tests/test_tealium_autotracking/AutotrackingModuleTests.swift
  tealium-swift.podspec
  tealium/collectors/autotracking/UIViewController+Tealium.swift
  tealium/collectors/lifecycle/Lifecycle.swift
  tealium/core/TealiumConfig.swift
  tealium/core/TealiumConstants.swift
  tealium/core/TealiumDelegateProxy.swift
  tealium/core/datalayer/DataLayer.swift
  tealium/core/datalayer/SessionManager.swift
  tealium/core/devicedata/DeviceDataModule.swift
  tealium/core/dispatchmanager/DispatchManager.swift
  tealium/core/storage/Disk/Disk+InternalHelpers.swift
  tealium/core/storage/TealiumDiskStorage.swift
  tealium/core/utils/Dictionary+Tealium.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
Labels: core, datalayer, storage, autotracking, lifecycle, remotecommands, tests

Autotracking tests reliability improvements (#293)
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingIOSUITests.swift
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingMacOSUITests.swift
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingTvOSUITests.swift
  support/tests/test_tealium_autotracking/ui_tests/XCUIApplication+AssertTextExists.swift
Labels: tests

[MT-1232] Publish settings cache fix (#295)
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/MockURLSessionPublishSettings.swift
  support/tests/test_tealium_core/PublishSettingsTests.swift
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
  support/tests/test_tealium_core/URLResponseTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  tealium/core/ModulesManager.swift
  tealium/core/TimedEventScheduler.swift
  tealium/core/publishsettings/TealiumPublishSettings.swift
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
  tealium/dispatchers/tagmanagement/TagManagementModule.swift
Labels: core, tagmanagement, tests

Make TealiumConfig comparison check for address instead of string comparison for reference types
  support/tests/test_tealium_core/TealiumConfigTests.swift
  tealium/core/TealiumConfig.swift
Labels: core, tests

Make sure that Value - Reference comparisons work the same as Reference - Value ones
  support/tests/test_tealium_core/TealiumConfigTests.swift
  tealium/core/TealiumConfig.swift
Labels: core, tests

Only test WKWebViewConfiguration on iOS
  support/tests/test_tealium_core/TealiumConfigTests.swift
Labels: tests

[MT-1271] add webviewInspectionEnabled config flags for TagManagement webview
  builder/iOSTealiumTest/TealiumHelper.swift
  tealium/dispatchers/tagmanagement/TagManagementExtensions.swift
  tealium/dispatchers/tagmanagement/TagManagementWKWebView.swift
Labels: tagmanagement

Apply doNotBackup flag when migrating from a folder to another
  tealium/core/storage/TealiumDiskStorage.swift
Labels: core, storage

Explicitly use self to make capture semantics explicit
  tealium/core/storage/TealiumDiskStorage.swift
Labels: core, storage

Revert "[MT-1271] add webviewInspectionEnabled config flags for TagManagement webview"
  builder/iOSTealiumTest/TealiumHelper.swift
  tealium/dispatchers/tagmanagement/TagManagementExtensions.swift
  tealium/dispatchers/tagmanagement/TagManagementWKWebView.swift
Labels: tagmanagement

Improve TealiumDisk tests for throwing tests
  support/tests/test_tealium_core/TealiumDiskTests.swift
Labels: tests

Try to make errors fail more descriptively on CI/CD
  support/tests/test_tealium_core/TealiumDiskTests.swift
Labels: tests

Make migration only block for writes when it's actually writing something on disk
  tealium/core/storage/TealiumDiskStorage.swift
Labels: core, storage

Add generics swiftlint checks on CICD
  .swiftlint_tests.yml
Labels: none

Expose tagManagement webview so that it can be set to be inspectable from apps built on XCode 14.3+
  support/tests/test_tealium_tagmanagement/MockTagManagementWebView.swift
  tealium/dispatchers/tagmanagement/TagManagementExtensions.swift
  tealium/dispatchers/tagmanagement/TagManagementProtocol.swift
  tealium/dispatchers/tagmanagement/TagManagementWKWebView.swift
Labels: tagmanagement, tests

Test getWebView implementation
  builder/iOSTealiumTest/TealiumHelper.swift
  support/tests/test_tealium_tagmanagement/TagManagementWKWebViewTests.swift
Labels: tests

improve autotracking tests reliability
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-macOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-tvOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-watchOS.xcscheme
  support/tests/test_tealium_autotracking/AutotrackingModuleTests.swift
  tealium/dispatchers/tagmanagement/TagManagementProtocol.swift
Labels: tagmanagement, tests

Improve reliability of visitorService tests
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumVisitorServiceTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumVisitorServiceTests-macOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumVisitorServiceTests-tvOS.xcscheme
Labels: none

Increase visitorService waiting in tests that are slow in CICD
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
Labels: tests

added didCreateTealiumTrackRequestNotification notification
  tealium/core/ModulesManager.swift
Labels: core

[MT-1275] WKWebViewConfig comparison fix (#298)
  support/tests/test_tealium_core/TealiumConfigTests.swift
  tealium/core/TealiumConfig.swift
Labels: core, tests

[MT-1271] Expose TagManagement webview to allow isInspectable changes on XCode 14.3+ (#299)
  .swiftlint_tests.yml
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-macOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-tvOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumAutotrackingTests-watchOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumVisitorServiceTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumVisitorServiceTests-macOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumVisitorServiceTests-tvOS.xcscheme
  support/tests/test_tealium_autotracking/AutotrackingModuleTests.swift
  support/tests/test_tealium_tagmanagement/MockTagManagementWebView.swift
  support/tests/test_tealium_tagmanagement/TagManagementWKWebViewTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  tealium/dispatchers/tagmanagement/TagManagementExtensions.swift
  tealium/dispatchers/tagmanagement/TagManagementProtocol.swift
  tealium/dispatchers/tagmanagement/TagManagementWKWebView.swift
Labels: tagmanagement, tests

[MT-1276] Apply doNotBackup flag when migrating from a folder to another (#300)
  support/tests/test_tealium_core/TealiumDiskTests.swift
  tealium/core/storage/TealiumDiskStorage.swift
Labels: core, storage, tests

Make Context creation in tests avoid spinning Tealium instances when it's not necessary
  support/tests/TestTealiumHelper.swift
  support/tests/test_tealium_attribution/TealiumAttributionDataTests.swift
  support/tests/test_tealium_core/TealiumDelegateProxyTests.swift
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
  support/tests/test_tealium_core/consent_manager/ConsentManagerTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandsModuleTests.swift
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  tealium/core/TealiumContext.swift
Labels: core, tests

Fix autotracking tests timing issue with blocklist Bundle
  support/tests/test_tealium_autotracking/AutotrackingModuleTests.swift
  tealium/collectors/autotracking/AutotrackingModule.swift
Labels: autotracking, tests

Remove tealium creations for VisitorServiceModuleTests
  support/tests/test_tealium_autotracking/AutotrackingModuleTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  support/tests/test_tealium_visitorservice/mocks/MockTealiumVisitorServiceManager.swift
Labels: tests

Add missing tests to CICD
  .github/workflows/test.yml
  builder/tealium-swift.xcodeproj/project.pbxproj
Labels: none

Fix media integration tests
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumMediaIntegrationTests-iOS.xcscheme
  support/tests/test_tealium_media/TealiumMediaIntegrationTests.swift
Labels: tests

Fix tagManagement integration tests
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
Labels: tests

Add run executable on tagmanagement integration tests
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumTagManagementIntegrationTests-iOS.xcscheme
Labels: none

Move TagManagementWebview tests on main thread for webview config
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
Labels: tests

Remove tealium creation from Media integration Tests
  support/tests/test_tealium_media/TealiumMediaIntegrationTests.swift
Labels: tests

Access processPool from main thread in TagManagement integration tests
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
Labels: tests
