Repository Tealium/tealium-swift, changes with the labels that .github/labeler.yml gives for each.
All labels: core, datalayer, consent, storage, media, visitorservice, location, attribution, autotracking, lifecycle, remotecommands, collect, tagmanagement, tests, sampleapps

[WIP] Try to add watchOS app extension
  builder/AutoTrackingWatchOSTest Extension/Assets.xcassets/Complication.complicationset/Circular.imageset/Contents.json
  builder/AutoTrackingWatchOSTest Extension/Assets.xcassets/Complication.complicationset/Contents.json
  builder/AutoTrackingWatchOSTest Extension/Assets.xcassets/Complication.complicationset/Extra Large.imageset/Contents.json
  builder/AutoTrackingWatchOSTest Extension/Assets.xcassets/Complication.complicationset/Graphic Bezel.imageset/Contents.json
  builder/AutoTrackingWatchOSTest Extension/Assets.xcassets/Complication.complicationset/Graphic Circular.imageset/Contents.json
  builder/AutoTrackingWatchOSTest Extension/Assets.xcassets/Complication.complicationset/Graphic Corner.imageset/Contents.json
  builder/AutoTrackingWatchOSTest Extension/Assets.xcassets/Complication.complicationset/Graphic Extra Large.imageset/Contents.json
  builder/AutoTrackingWatchOSTest Extension/Assets.xcassets/Complication.complicationset/Graphic Large Rectangular.imageset/Contents.json
  builder/AutoTrackingWatchOSTest Extension/Assets.xcassets/Complication.complicationset/Modular.imageset/Contents.json
  builder/AutoTrackingWatchOSTest Extension/Assets.xcassets/Complication.complicationset/Utilitarian.imageset/Contents.json
  builder/AutoTrackingWatchOSTest Extension/Assets.xcassets/Contents.json
  builder/AutoTrackingWatchOSTest Extension/ComplicationController.swift
  builder/AutoTrackingWatchOSTest Extension/ContentView.swift
  builder/AutoTrackingWatchOSTest Extension/Info.plist
  builder/AutoTrackingWatchOSTest Extension/Preview Content/Preview Assets.xcassets/Contents.json
  builder/AutoTrackingWatchOSTest Extension/tealium_swiftApp.swift
  builder/AutoTrackingWatchOSTest/Assets.xcassets/AccentColor.colorset/Contents.json
  builder/AutoTrackingWatchOSTest/Assets.xcassets/AppIcon.appiconset/Contents.json
  builder/AutoTrackingWatchOSTest/Assets.xcassets/Contents.json
  builder/AutoTrackingWatchOSTest/Info.plist
  builder/tealium-swift.xcodeproj/project.pbxproj
Labels: none

[MT-669] add referrer URL and APP identifier
  support/tests/test_tealium_core/datalayer/TealiumTraceTests.swift
  tealium/core/TealiumAppDelegateProxy.swift
  tealium/core/TealiumConstants.swift
  tealium/core/TealiumContext.swift
  tealium/core/datalayer/TealiumTrace.swift
Labels: core, datalayer, tests

[MT-746] avoid creating migrated_lifecycle entry in data layer
  support/tests/test_tealium_core/MigratorTests.swift
  tealium/core/utils/Migrator.swift
Labels: core, tests

[MT-746] Make LifecycleSession.wakeDate non optional
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/CoreMocks.swift
  support/tests/test_tealium_lifecycle/LifecycleSessionTests.swift
  support/tests/test_tealium_lifecycle/LifecycleTests.swift
  tealium/collectors/lifecycle/Lifecycle.swift
  tealium/collectors/lifecycle/LifecycleSession.swift
Labels: lifecycle, tests

[MT-746] Remove other force unwrapping in Lifecycle
  tealium/collectors/lifecycle/Lifecycle.swift
Labels: lifecycle

[MT-783] make config delegates weak
  tealium/collectors/visitorservice/VisitorServiceExtensions.swift
  tealium/core/utils/TealiumUtils.swift
  tealium/dispatchers/tagmanagement/TagManagementExtensions.swift
Labels: core, visitorservice, tagmanagement

[MT-783] add tests for weak delegates in config
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_tagmanagement/TagManagementConfigTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceConfigTests.swift
Labels: tests

[MT-782] avoid adding commands with the same ID
  support/tests/test_tealium_remotecommands/RemoteCommandsManagerTests.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
Labels: remotecommands, tests

[MT-782] fix test that was still sending two commands with same commandID
  support/tests/test_tealium_remotecommands/RemoteCommandsManagerTests.swift
Labels: tests

updated appdelegate proxy to use continueUserActivity for deep links
  tealium/core/TealiumAppDelegateProxy.swift
Labels: core

[MT-788] delete older query params for each deeplink handling
  support/tests/test_tealium_core/datalayer/TealiumTraceTests.swift
  tealium/core/datalayer/TealiumTrace.swift
Labels: core, datalayer, tests

[MT-793] fix app delegate tests
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/AppDelegateProxyTests.swift
  support/tests/test_tealium_core/TealiumAppDelegateProxyTests-iOS-Bridging-Header.h
  support/tests/test_tealium_core/UIApplication+ManualContinueActivity.h
  support/tests/test_tealium_core/UIApplication+ManualContinueActivity.m
Labels: tests

[MT-746] Import TealiumLifecycle in test files
  support/tests/test_tealium_core/MigratorTests.swift
Labels: tests

[MT-746] duplicate LifecycleKeys in CoreMocks to avoid importing LifecycleModule in each test target
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/MigratorTests.swift
Labels: tests

Make watchOS use the legacy connectiviyMonitor
  tealium/core/connectivity/ConnectivityModule.swift
  tealium/core/connectivity/NWPathMonitor.swift
Labels: core

Mt 783 (#211)
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_tagmanagement/TagManagementConfigTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceConfigTests.swift
  tealium/collectors/visitorservice/VisitorServiceExtensions.swift
  tealium/core/utils/TealiumUtils.swift
  tealium/dispatchers/tagmanagement/TagManagementExtensions.swift
Labels: core, visitorservice, tagmanagement, tests

Mt 782 (#212)
  support/tests/test_tealium_remotecommands/RemoteCommandsManagerTests.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
Labels: remotecommands, tests

Mt 746 (#213)
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/MigratorTests.swift
  support/tests/test_tealium_lifecycle/LifecycleSessionTests.swift
  support/tests/test_tealium_lifecycle/LifecycleTests.swift
  tealium/collectors/lifecycle/Lifecycle.swift
  tealium/collectors/lifecycle/LifecycleSession.swift
  tealium/core/utils/Migrator.swift
Labels: core, lifecycle, tests

Missing semicolon in xcode project
  builder/tealium-swift.xcodeproj/project.pbxproj
Labels: none

Make watchOS use the legacy connectiviyMonitor (#215)
  tealium/core/connectivity/ConnectivityModule.swift
  tealium/core/connectivity/NWPathMonitor.swift
Labels: core

Fix return position
  tealium/core/connectivity/ConnectivityModule.swift
Labels: core

Version 2.4.5
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

[MT-669] Improve cleanup of deeplink keys
  tealium/core/datalayer/TealiumTrace.swift
Labels: core, datalayer

wip
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/test/AppDelegate.swift
  builder/test/Assets.xcassets/AccentColor.colorset/Contents.json
  builder/test/Assets.xcassets/AppIcon.appiconset/Contents.json
  builder/test/Assets.xcassets/Contents.json
  builder/test/Base.lproj/LaunchScreen.storyboard
  builder/test/Base.lproj/Main.storyboard
  builder/test/Info.plist
  builder/test/SceneDelegate.swift
  builder/test/ViewController.swift
  builder/test/test.entitlements
  tealium/core/Tealium.swift
  tealium/core/TealiumAppDelegateProxy.swift
Labels: core

renamed appdelegate proxy
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/core/TealiumDelegateProxy.swift
Labels: core

removed comments
  tealium/core/TealiumDelegateProxy.swift
Labels: core

Mt 669 (#216)
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/AppDelegateProxyTests.swift
  support/tests/test_tealium_core/TealiumAppDelegateProxyTests-iOS-Bridging-Header.h
  support/tests/test_tealium_core/UIApplication+ManualContinueActivity.h
  support/tests/test_tealium_core/UIApplication+ManualContinueActivity.m
  support/tests/test_tealium_core/datalayer/TealiumTraceTests.swift
  tealium/core/TealiumAppDelegateProxy.swift
  tealium/core/TealiumConstants.swift
  tealium/core/TealiumContext.swift
  tealium/core/datalayer/TealiumTrace.swift
Labels: core, datalayer, tests

device names updated
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/core/devicedata/DeviceDataModelInfo.swift
  tealium/core/devicedata/device-names.json
Labels: core

updated podspec
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium-swift.podspec
Labels: none

updated package.swift
  Package.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/core/devicedata/DeviceNamesLookup.swift
Labels: core

updated package.swift to use swift 5.3
  Package.swift
Labels: none

cache device-names.json on first read
  tealium/core/devicedata/DeviceData.swift
  tealium/core/devicedata/DeviceDataModelInfo.swift
Labels: core

Mt 794 (#218)
  Package.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium-swift.podspec
  tealium/core/devicedata/DeviceData.swift
  tealium/core/devicedata/DeviceDataModelInfo.swift
  tealium/core/devicedata/DeviceNamesLookup.swift
  tealium/core/devicedata/device-names.json
Labels: core

updated package.swift resources path
  Package.swift
Labels: none

fixed bundle for swift package
  tealium/core/devicedata/DeviceData.swift
Labels: core

Updated iOS dependency to iOS 11 to resolve Xcode 13 build issue
  Package.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

Updated test iOS target versions
  builder/tealium-swift.xcodeproj/project.pbxproj
Labels: none

[MT-784] Fix session expiration for session expiry other than the session id
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/datalayer/DataLayerManagerTests.swift
  support/tests/test_tealium_core/datalayer/DataLayerTests.swift
  support/tests/test_tealium_core/datalayer/MockEventDataDiskStorage.swift
  support/tests/test_tealium_core/datalayer/SessionManagerTests.swift
  tealium/core/datalayer/DataLayer.swift
  tealium/core/datalayer/DataLayerCollection.swift
  tealium/core/datalayer/DataLayerManagerProtocol.swift
  tealium/core/datalayer/Expiry.swift
  tealium/core/datalayer/SessionManager.swift
Labels: core, datalayer, tests

[MT-784] Synchronize access to restartData on the same redWrite queue
  tealium/core/datalayer/DataLayer.swift
Labels: core, datalayer

[MT-784] add a few more tests for session data
  support/tests/test_tealium_core/datalayer/DataLayerManagerTests.swift
  support/tests/test_tealium_core/datalayer/DataLayerTests.swift
Labels: tests

.github/labeler.yml:

core:
  - tealium/core/**/*
datalayer:
  - tealium/core/datalayer/*     
consent:
  - tealium/core/consentmanager/*
storage:
  - tealium/core/storage/*
media:
  - tealium/collectors/media/*
visitorservice:
  - tealium/collectors/visitorservice/*
location:
  - tealium/collectors/location/*
attribution:
  - tealium/collectors/attribution/*
autotracking:
  - tealium/collectors/autotracking/*
lifecycle:
  - tealium/collectors/lifecycle/*
remotecommands:
  - tealium/dispatchers/remotecommands/*
collect:
  - tealium/dispatchers/collect/*
tagmanagement:
  - tealium/dispatchers/tagmanagement/*
tests:
  - support/tests/**/*
sampleapps:
  - samples/**/*
