Repository Tealium/tealium-swift, changes with the labels that .github/labeler.yml gives for each.
All labels: core, datalayer, consent, storage, media, visitorservice, location, attribution, autotracking, lifecycle, remotecommands, collect, tagmanagement, tests, sampleapps

.github/labeler.yml:

core:
  - tealium/core/**/*
datalayer:
  - tealium/core/datalayer/*     
consent:
  - tealium/core/consentmanager/*
storage:
  - tealium/core/storage/*
media:
  - tealium/collectors/media/*
visitorservice:
  - tealium/collectors/visitorservice/*
location:
  - tealium/collectors/location/*
attribution:
  - tealium/collectors/attribution/*
autotracking:
  - tealium/collectors/autotracking/*
lifecycle:
  - tealium/collectors/lifecycle/*
remotecommands:
  - tealium/dispatchers/remotecommands/*
collect:
  - tealium/dispatchers/collect/*
tagmanagement:
  - tealium/dispatchers/tagmanagement/*
tests:
  - support/tests/**/*
sampleapps:
  - samples/**/*

Create a first version of the PrivacyInfo manifest
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/core/PrivacyInfo.xcprivacy
Labels: core

Add privacy manifest to SPM and CocoaPods
  Package.swift
  tealium-swift.podspec
  tealium/core/PrivacyInfo.xcprivacy
Labels: core

[MT-1351] tvos disk location (#317)
  .github/workflows/pr-labeler.yml
  support/tests/test_tealium_core/TealiumDiskTests.swift
  tealium/core/storage/Disk/Disk+InternalHelpers.swift
  tealium/core/storage/Disk/Disk.swift
  tealium/core/storage/TealiumDiskStorage.swift
Labels: core, storage, tests

[MT-1437] Config.isEnabled implementation (#316)
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
  tealium/core/ModulesManager.swift
Labels: core, tests

Make containsAuditEvent easier to read and avoid lint warnings
  tealium/core/consentmanager/ConsentManagerModule.swift
Labels: core, consent

Make sure RemoteCommands error are correctly printed to the console
  support/tests/test_tealium_remotecommands/RemoteCommandConfigTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandExtensionsTests.swift
  support/tests/test_tealium_remotecommands/RemoteHTTPCommandTests.swift
  support/tests/test_tealium_remotecommands/TealiumRemoteCommandTests.swift
  tealium/core/TealiumConstants.swift
Labels: core, tests

Fix macOS import and add TealiumErrorEnum for all enum cases
  support/tests/test_tealium_attribution/TealiumAdClientTests.swift
  support/tests/test_tealium_collect/CollectModuleTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementUtilsTests.swift
  tealium/collectors/attribution/TealiumAdClient.swift
  tealium/collectors/autotracking/AutotrackingModule.swift
  tealium/core/TealiumConstants.swift
  tealium/core/connectivity/NWPathMonitor.swift
  tealium/core/storage/Disk/DiskError.swift
  tealium/core/utils/TealiumNetworkUtils.swift
  tealium/dispatchers/collect/CollectError.swift
  tealium/dispatchers/tagmanagement/TagManagementConstants.swift
Labels: core, attribution, autotracking, collect, tagmanagement, tests

Remove superfluous ternary operators in Publish Settings
  tealium/core/publishsettings/TealiumPublishSettings.swift
Labels: core

Remove iAd framework and TealiumAdClient
  support/tests/test_tealium_attribution/TealiumAdClientTests.swift
  tealium/collectors/attribution/AttributionData.swift
  tealium/collectors/attribution/TealiumAdClient.swift
Labels: attribution, tests

Fix old visitor profile tests
  support/tests/test_tealium_visitorservice/VisitorProfileTests.swift
Labels: tests

Make TealiumVisitorProfile accept a json with nullable properties both in the visitor and in the currentVisit
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_visitorservice/VisitorProfileTests.swift
  support/tests/test_tealium_visitorservice/stubs/visitor-properties-with-null.json
  tealium/collectors/visitorservice/TealiumVisitorProfile.swift
Labels: visitorservice, tests

Removed merges
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/device_data/DeviceDataTests.swift
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
  tealium/core/devicedata/DeviceDataModelInfo.swift
  tealium/core/storage/Disk/Disk+VolumeInformation.swift
Labels: core, tests

Revert to using macos 12 on CICD tests
  .github/workflows/test.yml
Labels: none

Revert XCode project code signing changes
  builder/tealium-swift.xcodeproj/project.pbxproj
Labels: none

Fix macos deployment target for core tests
  builder/tealium-swift.xcodeproj/project.pbxproj
Labels: none

Make macos core tests work on macos 12
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/TestTealiumHelper.swift
  support/tests/test_tealium_core/device_data/DeviceDataTests.swift
  tealium/core/devicedata/DeviceDataModelInfo.swift
Labels: core, tests

[MT-1359] Device Names
  .github/workflows/test.yml
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumTagManagementTests-iOS.xcscheme
  samples/TealiumSwiftExample/Podfile
  samples/TealiumSwiftExample/Podfile.lock
  support/tests/CoreMocks.swift
  support/tests/TestTealiumHelper.swift
  support/tests/test_tealium_core/device_data/DeviceDataTests.swift
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
  tealium/core/TealiumDelegateProxy.swift
  tealium/core/datalayer/DataLayerExtensions.swift
  tealium/core/devicedata/DeviceDataModelInfo.swift
  tealium/core/devicedata/device-names.json
  tealium/core/storage/Disk/Disk+VolumeInformation.swift
  tealium/core/utils/Migrator.swift
  tealium/core/utils/TealiumNetworkUtils.swift
  tealium/dispatchers/tagmanagement/TagManagementWKNavigationDelegate.swift
Labels: core, datalayer, tagmanagement, tests, sampleapps

[MT-1320] Allow TealiumVisitorProfile to accept json with nullable strings (#322)
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_visitorservice/VisitorProfileTests.swift
  support/tests/test_tealium_visitorservice/stubs/visitor-properties-with-null.json
  tealium/collectors/visitorservice/TealiumVisitorProfile.swift
Labels: visitorservice, tests

[MT-1368] Remove iAd framework and TealiumAdClient (#321)
  support/tests/test_tealium_attribution/TealiumAdClientTests.swift
  tealium/collectors/attribution/AttributionData.swift
  tealium/collectors/attribution/TealiumAdClient.swift
Labels: attribution, tests

Fix error enums and error description (#320)
  support/tests/test_tealium_attribution/TealiumAdClientTests.swift
  support/tests/test_tealium_collect/CollectModuleTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandConfigTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandExtensionsTests.swift
  support/tests/test_tealium_remotecommands/RemoteHTTPCommandTests.swift
  support/tests/test_tealium_remotecommands/TealiumRemoteCommandTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementUtilsTests.swift
  tealium/collectors/attribution/TealiumAdClient.swift
  tealium/collectors/autotracking/AutotrackingModule.swift
  tealium/core/TealiumConstants.swift
  tealium/core/connectivity/NWPathMonitor.swift
  tealium/core/publishsettings/TealiumPublishSettings.swift
  tealium/core/storage/Disk/DiskError.swift
  tealium/core/utils/TealiumNetworkUtils.swift
  tealium/dispatchers/collect/CollectError.swift
  tealium/dispatchers/tagmanagement/TagManagementConstants.swift
Labels: core, attribution, autotracking, collect, tagmanagement, tests

Version 2.11.0
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile.lock
  tealium-swift.podspec
Labels: sampleapps

[MT-1437] Config.isEnabled implementation (#316)
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
  tealium/core/ModulesManager.swift
Labels: core, tests

[MT-1320] Allow TealiumVisitorProfile to accept json with nullable strings (#322)
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_visitorservice/VisitorProfileTests.swift
  support/tests/test_tealium_visitorservice/stubs/visitor-properties-with-null.json
  tealium/collectors/visitorservice/TealiumVisitorProfile.swift
Labels: visitorservice, tests

Make containsAuditEvent easier to read and avoid lint warnings
  tealium/core/consentmanager/ConsentManagerModule.swift
Labels: core, consent

[MT-1359] Device Names
  .github/workflows/test.yml
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumTagManagementTests-iOS.xcscheme
  samples/TealiumSwiftExample/Podfile
  samples/TealiumSwiftExample/Podfile.lock
  support/tests/CoreMocks.swift
  support/tests/TestTealiumHelper.swift
  support/tests/test_tealium_core/device_data/DeviceDataTests.swift
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
  tealium/core/TealiumDelegateProxy.swift
  tealium/core/datalayer/DataLayerExtensions.swift
  tealium/core/devicedata/DeviceDataModelInfo.swift
  tealium/core/devicedata/device-names.json
  tealium/core/storage/Disk/Disk+VolumeInformation.swift
  tealium/core/utils/Migrator.swift
  tealium/core/utils/TealiumNetworkUtils.swift
  tealium/dispatchers/tagmanagement/TagManagementWKNavigationDelegate.swift
Labels: core, datalayer, tagmanagement, tests, sampleapps

Fix error enums and error description (#320)
  support/tests/test_tealium_attribution/TealiumAdClientTests.swift
  support/tests/test_tealium_collect/CollectModuleTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandConfigTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandExtensionsTests.swift
  support/tests/test_tealium_remotecommands/RemoteHTTPCommandTests.swift
  support/tests/test_tealium_remotecommands/TealiumRemoteCommandTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementUtilsTests.swift
  tealium/collectors/attribution/TealiumAdClient.swift
  tealium/collectors/autotracking/AutotrackingModule.swift
  tealium/core/TealiumConstants.swift
  tealium/core/connectivity/NWPathMonitor.swift
  tealium/core/publishsettings/TealiumPublishSettings.swift
  tealium/core/storage/Disk/DiskError.swift
  tealium/core/utils/TealiumNetworkUtils.swift
  tealium/dispatchers/collect/CollectError.swift
  tealium/dispatchers/tagmanagement/TagManagementConstants.swift
Labels: core, attribution, autotracking, collect, tagmanagement, tests

[MT-1368] Remove iAd framework and TealiumAdClient (#321)
  support/tests/test_tealium_attribution/TealiumAdClientTests.swift
  tealium/collectors/attribution/AttributionData.swift
  tealium/collectors/attribution/TealiumAdClient.swift
Labels: attribution, tests

[MT-1351] tvos disk location (#317)
  .github/workflows/pr-labeler.yml
  support/tests/test_tealium_core/TealiumDiskTests.swift
  tealium/core/storage/Disk/Disk+InternalHelpers.swift
  tealium/core/storage/Disk/Disk.swift
  tealium/core/storage/TealiumDiskStorage.swift
Labels: core, storage, tests

Version 2.11.0
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile.lock
  tealium-swift.podspec
Labels: sampleapps

Improve VisitorServiceModule intervalSince test
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
Labels: tests

Version 2.11.1
  Package.swift
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

[MT-1328] Privacy Manifest (#319)
  Package.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  tealium-swift.podspec
  tealium/core/PrivacyInfo.xcprivacy
Labels: core, tests

Update iOS/tvOS minimum version to 12 and macOS to 10.14 to support NWPathMonitor on XCode 15
  Package.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium-swift.podspec
  tealium/core/connectivity/ConnectivityModule.swift
  tealium/core/connectivity/NWPathMonitor.swift
Labels: core

Use macos-13 on github actions
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: none

Update samples
  .github/workflows/build.yml
  samples/ConsentManagerDemo/ConsentManagerDemo.xcodeproj/project.pbxproj
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile
  samples/VisitorServiceDemo/Podfile.lock
Labels: sampleapps

Use iPhone 15 in tests and fix build scheme and destination
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: none

Use iphone 14 instead of 15
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: none

Xcode 15 support (#323)
  .github/workflows/build.yml
  .github/workflows/test.yml
  Package.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  samples/ConsentManagerDemo/ConsentManagerDemo.xcodeproj/project.pbxproj
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile
  samples/VisitorServiceDemo/Podfile.lock
  tealium-swift.podspec
  tealium/core/connectivity/ConnectivityModule.swift
  tealium/core/connectivity/NWPathMonitor.swift
Labels: core, sampleapps

Remove the iAd framework keys that are now unused
  support/tests/test_tealium_attribution/TealiumAttributionDataTests.swift
  tealium/collectors/attribution/AttributionConstants.swift
  tealium/collectors/attribution/PersistentAttributionData.swift
Labels: attribution, tests

Fix warnings with TealiumDelegateProxy pointers and add surfile for creating the xcframeworks
  builder/SM/Surfile
  builder/tealium-swift.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  builder/xcframeworks.sh
  tealium/core/TealiumDelegateProxy.swift
Labels: core
