Repository Tealium/tealium-swift, changes with the labels that .github/labeler.yml gives for each.
All labels: core, datalayer, consent, storage, media, visitorservice, location, attribution, autotracking, lifecycle, remotecommands, collect, tagmanagement, tests, sampleapps

Remove GSPlayer and SPM usage in the media samples
  builder/iOSTealiumMediaTest/video/AVPlayer+Extensions.swift
  builder/iOSTealiumMediaTest/video/AVPlayerItem+Extensions.swift
  builder/iOSTealiumMediaTest/video/CustomVideoPlayer.swift
  builder/iOSTealiumMediaTest/video/String+Extensions.swift
  builder/iOSTealiumMediaTest/video/VideoPlayerView.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcworkspace/xcshareddata/swiftpm/Package.resolved
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumMediaExample/TealiumMediaExample.xcodeproj/project.pbxproj
  samples/TealiumMediaExample/TealiumMediaExample.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: sampleapps

Try to make CI clean and build until PIF is generated
  .github/workflows/build.yml
Labels: none

Fix build yaml
  .github/workflows/build.yml
Labels: none

[MT-1086] Improve TagManagement code + QueryParamProvider (#272)
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/TealiumExtensionTests.swift
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
  support/tests/test_tealium_tagmanagement/MockTagManagementWebView.swift
  support/tests/test_tealium_tagmanagement/TagManagementModuleTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementUrlBuilderTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementWKWebViewTests.swift
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
  tealium/core/TealiumContext.swift
  tealium/core/connectivity/LegacyConnectivityMonitor.swift
  tealium/core/dispatchmanager/DispatchManager.swift
  tealium/core/protocols/QueryParameterProvider.swift
  tealium/core/pubsub/PubSub.swift
  tealium/core/utils/URL+Tealium.swift
  tealium/dispatchers/tagmanagement/TagManagementModule.swift
  tealium/dispatchers/tagmanagement/TagManagementProtocol.swift
  tealium/dispatchers/tagmanagement/TagManagementUrlBuilder.swift
  tealium/dispatchers/tagmanagement/TagManagementWKNavigationDelegate.swift
  tealium/dispatchers/tagmanagement/TagManagementWKWebView.swift
Labels: core, tagmanagement, tests

[MT-1115] Default commandName mapping for remote commands (#274)
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_remotecommands/RemoteCommandsManagerTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandsModuleTests.swift
  support/tests/test_tealium_remotecommands/TealiumRemoteCommandTests.swift
  support/tests/test_tealium_remotecommands/stubs/allEventsCommands.json
  tealium/collectors/media/MediaDispatch.swift
  tealium/core/TealiumConstants.swift
  tealium/core/TealiumRequests.swift
  tealium/core/consentmanager/ConsentManager.swift
  tealium/core/datalayer/TealiumTrace.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
  tealium/dispatchers/tagmanagement/TagManagementModule.swift
Labels: core, datalayer, consent, media, remotecommands, tagmanagement, tests

Add ios host app to tagmanagement tests to make webview work in tests
  builder/tealium-swift.xcodeproj/project.pbxproj
Labels: none

[MT-1130] RequestVisitorProfile (#275)
  builder/iOSTealiumTest/ContentView.swift
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/MockInMemoryDataLayer.swift
  support/tests/test_tealium_core/appdata/VisitorIdProviderTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceManagerTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceRetrieverTests.swift
  support/tests/test_tealium_visitorservice/mocks/MockTealiumVisitorServiceManager.swift
  tealium/collectors/visitorservice/VisitorServiceManager.swift
  tealium/collectors/visitorservice/VisitorServiceModule.swift
  tealium/collectors/visitorservice/VisitorServiceRetriever.swift
Labels: visitorservice, tests

Make onVisitorId public on Tealium instance and avoid timeout on visitorProfile fetch when visitorId changes
  samples/TealiumSwiftExample/TealiumSwiftExample.xcworkspace/xcshareddata/swiftpm/Package.resolved
  support/tests/test_tealium_visitorservice/VisitorServiceManagerTests.swift
  tealium/collectors/visitorservice/VisitorServiceManager.swift
  tealium/core/TealiumContext.swift
  tealium/core/appdata/AppDataModuleExtensions.swift
  tealium/core/datalayer/DataLayerExtensions.swift
Labels: core, datalayer, visitorservice, tests, sampleapps

Add test host for tag management
  builder/tealium-swift.xcodeproj/project.pbxproj
Labels: none

Try to import webkit to make tests more reliable
  builder/iOSTealiumTest/TealiumHelper.swift
  support/tests/test_tealium_tagmanagement/TagManagementWKWebViewTests.swift
Labels: tests

Import webkit only on iOS
  builder/iOSTealiumTest/TealiumHelper.swift
Labels: none

Add a timeout to the query param providers to avoid delaying the initialization of the webview
  support/tests/test_tealium_tagmanagement/TagManagementUrlBuilderTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementUtilsTests.swift
  tealium/dispatchers/tagmanagement/TagManagementUrlBuilder.swift
  tealium/dispatchers/tagmanagement/TagManagementUtils.swift
Labels: tagmanagement, tests

SwiftLint improvements
  tealium/dispatchers/tagmanagement/TagManagementUtils.swift
Labels: tagmanagement

Release 2.8.0 polishing (#280)
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  samples/TealiumSwiftExample/TealiumSwiftExample.xcworkspace/xcshareddata/swiftpm/Package.resolved
  support/tests/test_tealium_tagmanagement/TagManagementUrlBuilderTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementUtilsTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementWKWebViewTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceManagerTests.swift
  tealium/collectors/visitorservice/VisitorServiceManager.swift
  tealium/core/TealiumContext.swift
  tealium/core/appdata/AppDataModuleExtensions.swift
  tealium/core/datalayer/DataLayerExtensions.swift
  tealium/dispatchers/tagmanagement/TagManagementUrlBuilder.swift
  tealium/dispatchers/tagmanagement/TagManagementUtils.swift
Labels: core, datalayer, visitorservice, tagmanagement, tests, sampleapps

Version 2.8.0
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

[MT-1115] Default commandName mapping for remote commands (#274)
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_remotecommands/RemoteCommandsManagerTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandsModuleTests.swift
  support/tests/test_tealium_remotecommands/TealiumRemoteCommandTests.swift
  support/tests/test_tealium_remotecommands/stubs/allEventsCommands.json
  tealium/collectors/media/MediaDispatch.swift
  tealium/core/TealiumConstants.swift
  tealium/core/TealiumRequests.swift
  tealium/core/consentmanager/ConsentManager.swift
  tealium/core/datalayer/TealiumTrace.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
  tealium/dispatchers/tagmanagement/TagManagementModule.swift
Labels: core, datalayer, consent, media, remotecommands, tagmanagement, tests

[MT-1086] Improve TagManagement code + QueryParamProvider (#272)
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/TealiumExtensionTests.swift
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
  support/tests/test_tealium_tagmanagement/MockTagManagementWebView.swift
  support/tests/test_tealium_tagmanagement/TagManagementModuleTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementUrlBuilderTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementWKWebViewTests.swift
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
  tealium/core/TealiumContext.swift
  tealium/core/connectivity/LegacyConnectivityMonitor.swift
  tealium/core/dispatchmanager/DispatchManager.swift
  tealium/core/protocols/QueryParameterProvider.swift
  tealium/core/pubsub/PubSub.swift
  tealium/core/utils/URL+Tealium.swift
  tealium/dispatchers/tagmanagement/TagManagementModule.swift
  tealium/dispatchers/tagmanagement/TagManagementProtocol.swift
  tealium/dispatchers/tagmanagement/TagManagementUrlBuilder.swift
  tealium/dispatchers/tagmanagement/TagManagementWKNavigationDelegate.swift
  tealium/dispatchers/tagmanagement/TagManagementWKWebView.swift
Labels: core, tagmanagement, tests

Release 2.8.0 polishing (#280)
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  samples/TealiumSwiftExample/TealiumSwiftExample.xcworkspace/xcshareddata/swiftpm/Package.resolved
  support/tests/test_tealium_tagmanagement/TagManagementUrlBuilderTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementUtilsTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementWKWebViewTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceManagerTests.swift
  tealium/collectors/visitorservice/VisitorServiceManager.swift
  tealium/core/TealiumContext.swift
  tealium/core/appdata/AppDataModuleExtensions.swift
  tealium/core/datalayer/DataLayerExtensions.swift
  tealium/dispatchers/tagmanagement/TagManagementUrlBuilder.swift
  tealium/dispatchers/tagmanagement/TagManagementUtils.swift
Labels: core, datalayer, visitorservice, tagmanagement, tests, sampleapps

Version 2.8.0
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

[MT-1130] RequestVisitorProfile (#275)
  builder/iOSTealiumTest/ContentView.swift
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/MockInMemoryDataLayer.swift
  support/tests/test_tealium_core/appdata/VisitorIdProviderTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceManagerTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceRetrieverTests.swift
  support/tests/test_tealium_visitorservice/mocks/MockTealiumVisitorServiceManager.swift
  tealium/collectors/visitorservice/VisitorServiceManager.swift
  tealium/collectors/visitorservice/VisitorServiceModule.swift
  tealium/collectors/visitorservice/VisitorServiceRetriever.swift
Labels: visitorservice, tests

Trying to remove compiler crashes
  tealium/core/pubsub/PubSub.swift
Labels: core

Remove default value on initializers to remove carthage crash
  tealium/core/pubsub/PubSub.swift
Labels: core

Version 2.8.1
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

Verrsion 2.8.1 (#282)
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
  tealium/core/pubsub/PubSub.swift
Labels: core

Condition the visitorProfile request after track calls on current visitorId
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  tealium/collectors/visitorservice/VisitorServiceModule.swift
Labels: visitorservice, tests

Version 2.8.2
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

Version 2.8.2 (#283)
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  tealium-swift.podspec
  tealium/collectors/visitorservice/VisitorServiceModule.swift
  tealium/core/TealiumConstants.swift
Labels: core, visitorservice, tests

[MT-1093] Experiment with a remote command to control conversion values
  tealium/dispatchers/remotecommands/RemoteCommandsModule.swift
Labels: remotecommands

[MT-1093] make remote commands accept statics configuration and replace {variables} with payload values
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandConfig.swift
Labels: remotecommands

[MT-1093] Test new Conversion Remote command with the statics and variables configurations
  builder/iOSTealiumTest/Info.plist
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/iOSTealiumTest/conversionRemoteCommand.json
  builder/tealium-swift.xcodeproj/project.pbxproj
Labels: none

Added new ad service api for ios 14.3+
  support/tests/test_tealium_attribution/MockAttributionData.swift
  support/tests/test_tealium_attribution/TealiumAttributionDataTests.swift
  tealium/collectors/attribution/AttributionConstants.swift
  tealium/collectors/attribution/AttributionData.swift
  tealium/collectors/attribution/PersistentAttributionData.swift
  tealium/collectors/attribution/TealiumAdClient.swift
Labels: attribution, tests

PR feedback updates
  tealium/collectors/attribution/AttributionConstants.swift
  tealium/collectors/attribution/AttributionData.swift
  tealium/collectors/attribution/TealiumAdClient.swift
Labels: attribution

[MT-1093] Add statics mapping parsing and command from other keys values
  builder/iOSTealiumTest/conversionRemoteCommand.json
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandConfig.swift
Labels: remotecommands

[MT-1093] complete conversion remote command
  builder/iOSTealiumTest/conversionRemoteCommand.json
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandsModule.swift
Labels: remotecommands

PR feedback, test updates, and attribution module updates
  builder/tealium-swift.xcodeproj/project.pbxproj
  samples/TealiumSwiftExample/Podfile.lock
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample (Notification).xcscheme
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample Extension.xcscheme
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample.xcscheme
  support/tests/test_tealium_attribution/TealiumAdClientTests.swift
  support/tests/test_tealium_attribution/TealiumAttributionDataTests.swift
  support/tests/test_tealium_attribution/TealiumSKAdAttributionTests.swift
  tealium/collectors/attribution/AttributionData.swift
  tealium/collectors/attribution/TealiumAdClient.swift
Labels: attribution, tests, sampleapps

Small updates to PersistentAttributionData and keys
  tealium/collectors/attribution/AttributionConstants.swift
  tealium/collectors/attribution/AttributionData.swift
  tealium/collectors/attribution/PersistentAttributionData.swift
  tealium/collectors/attribution/TealiumAdClient.swift
Labels: attribution

Small updates to PersistentAttributionData and keys
  tealium/collectors/attribution/AttributionConstants.swift
  tealium/collectors/attribution/AttributionData.swift
  tealium/collectors/attribution/PersistentAttributionData.swift
  tealium/collectors/attribution/TealiumAdClient.swift
Labels: attribution

PR feedback updates
  tealium/collectors/attribution/AttributionConstants.swift
  tealium/collectors/attribution/AttributionData.swift
  tealium/collectors/attribution/TealiumAdClient.swift
Labels: attribution

PR feedback, test updates, and attribution module updates
  builder/tealium-swift.xcodeproj/project.pbxproj
  samples/TealiumSwiftExample/Podfile.lock
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample (Notification).xcscheme
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample Extension.xcscheme
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample.xcscheme
  support/tests/test_tealium_attribution/TealiumAdClientTests.swift
  support/tests/test_tealium_attribution/TealiumAttributionDataTests.swift
  support/tests/test_tealium_attribution/TealiumSKAdAttributionTests.swift
  tealium/collectors/attribution/AttributionData.swift
  tealium/collectors/attribution/TealiumAdClient.swift
Labels: attribution, tests, sampleapps

Added new ad service api for ios 14.3+
  support/tests/test_tealium_attribution/MockAttributionData.swift
  support/tests/test_tealium_attribution/TealiumAttributionDataTests.swift
  tealium/collectors/attribution/AttributionConstants.swift
  tealium/collectors/attribution/AttributionData.swift
  tealium/collectors/attribution/PersistentAttributionData.swift
  tealium/collectors/attribution/TealiumAdClient.swift
Labels: attribution, tests

.github/labeler.yml:

core:
  - tealium/core/**/*
datalayer:
  - tealium/core/datalayer/*     
consent:
  - tealium/core/consentmanager/*
storage:
  - tealium/core/storage/*
media:
  - tealium/collectors/media/*
visitorservice:
  - tealium/collectors/visitorservice/*
location:
  - tealium/collectors/location/*
attribution:
  - tealium/collectors/attribution/*
autotracking:
  - tealium/collectors/autotracking/*
lifecycle:
  - tealium/collectors/lifecycle/*
remotecommands:
  - tealium/dispatchers/remotecommands/*
collect:
  - tealium/dispatchers/collect/*
tagmanagement:
  - tealium/dispatchers/tagmanagement/*
tests:
  - support/tests/**/*
sampleapps:
  - samples/**/*
