Repository Tealium/tealium-swift, changes with the labels that .github/labeler.yml gives for each.
All labels: core, datalayer, consent, storage, media, visitorservice, location, attribution, autotracking, lifecycle, remotecommands, collect, tagmanagement, tests, sampleapps

Updated referrer spelling, added package.swift and podspec
  Package.swift
  support/tests/test_tealium_moments_api/MomentsAPITests.swift
  tealium-swift.podspec
  tealium/collectors/momentsapi/MomentsAPI.swift
  tealium/collectors/momentsapi/MomentsAPIExtensions.swift
  tealium/collectors/momentsapi/MomentsAPIModule.swift
Labels: tests

fix test build issue
  builder/tealium-swift.xcodeproj/project.pbxproj
Labels: none

updated test.yml
  .github/workflows/test.yml
Labels: none

Updated project and fastlane config
  .github/workflows/test.yml
  builder/tealium-swift.xcodeproj/project.pbxproj
Labels: none

removed destination from test.yml
  .github/workflows/test.yml
Labels: none

re-added macOS test scheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumMomentsAPITests-macOS.xcscheme
Labels: none

updated test yaml
  .github/workflows/test.yml
Labels: none

fixed tests.yaml
  .github/workflows/test.yml
Labels: none

fixed tests.yaml
  .github/workflows/test.yml
Labels: none

changed simulator destination
  .github/workflows/test.yml
Labels: none

changed simulator destination for UI tests
  .github/workflows/test.yml
Labels: none

Updated podspec version
  tealium-swift.podspec
Labels: none

Updated podspec version
  tealium-swift.podspec
Labels: none

Fix tagManagement url construction
  tealium/dispatchers/tagmanagement/TagManagementConstants.swift
  tealium/dispatchers/tagmanagement/TagManagementExtensions.swift
Labels: tagmanagement

Avoid test duplications for Scene and Tealium Delegate proxy tests
  support/tests/test_tealium_core/delegate_proxy/SceneDelegateProxyTests.swift
  support/tests/test_tealium_core/delegate_proxy/TealiumDelegateProxyTests.swift
Labels: tests

Test webview url construction
  support/tests/test_tealium_tagmanagement/TagManagementConfigTests.swift
Labels: tests

Update github actions workflow
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: none

Fix TagManagement url construction (#339)
  .github/workflows/build.yml
  .github/workflows/test.yml
  support/tests/test_tealium_core/delegate_proxy/SceneDelegateProxyTests.swift
  support/tests/test_tealium_core/delegate_proxy/TealiumDelegateProxyTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementConfigTests.swift
  tealium/dispatchers/tagmanagement/TagManagementConstants.swift
  tealium/dispatchers/tagmanagement/TagManagementExtensions.swift
Labels: tagmanagement, tests

[MT-1636] Make UTF8 data conversion to string safe again
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
  tealium/core/utils/network/TealiumNetworkUtils.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
Labels: core, remotecommands

Version 2.14.1
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile.lock
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core, sampleapps

[MT-1636] Make UTF8 data conversion to string safe again
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
  tealium/core/utils/network/TealiumNetworkUtils.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
Labels: core, remotecommands

Fix TagManagement url construction (#339)
  .github/workflows/build.yml
  .github/workflows/test.yml
  support/tests/test_tealium_core/delegate_proxy/SceneDelegateProxyTests.swift
  support/tests/test_tealium_core/delegate_proxy/TealiumDelegateProxyTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementConfigTests.swift
  tealium/dispatchers/tagmanagement/TagManagementConstants.swift
  tealium/dispatchers/tagmanagement/TagManagementExtensions.swift
Labels: tagmanagement, tests

Version 2.14.1
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile.lock
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core, sampleapps

fix swiftlint issues
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/core/TealiumConfig+PublishSettings.swift
  tealium/core/TealiumConfig.swift
Labels: core

Generate optional deep link event when a deep link is tracked
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/datalayer/TealiumTraceTests.swift
  tealium/core/Tealium.swift
  tealium/core/TealiumConfig.swift
  tealium/core/TealiumConstants.swift
  tealium/core/TealiumInstanceManager.swift
  tealium/core/datalayer/TealiumTrace.swift
  tealium/core/logger/TealiumLoggerExtensions.swift
Labels: core, datalayer, tests

update setup-xcode version - set v1
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: none

return Collect import back in TealiumTraceTests
  support/tests/test_tealium_core/datalayer/TealiumTraceTests.swift
Labels: tests

move TealiumTraceTests to separate step
  .github/workflows/test.yml
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/datalayer/TealiumTraceTests.swift
Labels: tests

fix minor code issues: doc comment and constant namespace
  support/tests/test_tealium_core/datalayer/TealiumTraceTests.swift
  tealium/core/TealiumConstants.swift
  tealium/core/datalayer/TealiumTrace.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
Labels: core, datalayer, remotecommands, tests

Version 2.15.0
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile.lock
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core, sampleapps

refine the RemoteCommandType documentation
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandsConstants.swift
Labels: remotecommands

VisitorServiceModuleTests: reset mockVisitorServiceManager on each test
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
Labels: tests

refactor VisitorServiceModule initializers
  tealium/collectors/visitorservice/VisitorServiceManager.swift
  tealium/collectors/visitorservice/VisitorServiceModule.swift
Labels: visitorservice

remove redundant(?) queueing and setUp method in VisitorServiceModuleTests
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
Labels: tests

fix deprecation warnings and remove redundant code in TealiumLocationTests
  support/tests/test_tealium_location/TealiumLocationTests.swift
Labels: tests

refactor WKWebViewIntegrationTests
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
Labels: tests

refactor TealiumLocationTests, add tests for new methods
  support/tests/test_tealium_location/TealiumLocationTests.swift
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
Labels: tests

[MT-1553] Generate optional deep link event when a deep link is tracked (#342)
  .github/workflows/build.yml
  .github/workflows/test.yml
  builder/tealium-swift.xcodeproj/project.pbxproj
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile.lock
  support/tests/test_tealium_core/datalayer/TealiumTraceTests.swift
  support/tests/test_tealium_location/TealiumLocationTests.swift
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  tealium-swift.podspec
  tealium/collectors/visitorservice/VisitorServiceManager.swift
  tealium/collectors/visitorservice/VisitorServiceModule.swift
  tealium/core/Tealium.swift
  tealium/core/TealiumConfig+PublishSettings.swift
  tealium/core/TealiumConfig.swift
  tealium/core/TealiumConstants.swift
  tealium/core/TealiumInstanceManager.swift
  tealium/core/datalayer/TealiumTrace.swift
  tealium/core/logger/TealiumLoggerExtensions.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandsConstants.swift
Labels: core, datalayer, visitorservice, remotecommands, tests, sampleapps

[MT-1553] Generate optional deep link event when a deep link is tracked (#342)
  .github/workflows/build.yml
  .github/workflows/test.yml
  builder/tealium-swift.xcodeproj/project.pbxproj
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile.lock
  support/tests/test_tealium_core/datalayer/TealiumTraceTests.swift
  support/tests/test_tealium_location/TealiumLocationTests.swift
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  tealium-swift.podspec
  tealium/collectors/visitorservice/VisitorServiceManager.swift
  tealium/collectors/visitorservice/VisitorServiceModule.swift
  tealium/core/Tealium.swift
  tealium/core/TealiumConfig+PublishSettings.swift
  tealium/core/TealiumConfig.swift
  tealium/core/TealiumConstants.swift
  tealium/core/TealiumInstanceManager.swift
  tealium/core/datalayer/TealiumTrace.swift
  tealium/core/logger/TealiumLoggerExtensions.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandsConstants.swift
Labels: core, datalayer, visitorservice, remotecommands, tests, sampleapps

Fix connectivity spelling
  support/tests/test_tealium_core/connectivity/TealiumConnectivityTests.swift
  tealium/core/connectivity/ConnectivityModule.swift
  tealium/core/connectivity/LegacyConnectivityMonitor.swift
  tealium/core/connectivity/NWPathMonitor.swift
Labels: core, tests

.github/labeler.yml:

core:
  - tealium/core/**/*
datalayer:
  - tealium/core/datalayer/*     
consent:
  - tealium/core/consentmanager/*
storage:
  - tealium/core/storage/*
media:
  - tealium/collectors/media/*
visitorservice:
  - tealium/collectors/visitorservice/*
location:
  - tealium/collectors/location/*
attribution:
  - tealium/collectors/attribution/*
autotracking:
  - tealium/collectors/autotracking/*
lifecycle:
  - tealium/collectors/lifecycle/*
remotecommands:
  - tealium/dispatchers/remotecommands/*
collect:
  - tealium/dispatchers/collect/*
tagmanagement:
  - tealium/dispatchers/tagmanagement/*
tests:
  - support/tests/**/*
sampleapps:
  - samples/**/*
