Repository Tealium/tealium-swift, changes with the labels that .github/labeler.yml gives for each.
All labels: core, datalayer, consent, storage, media, visitorservice, location, attribution, autotracking, lifecycle, remotecommands, collect, tagmanagement, tests, sampleapps

[MT-1144] Use new Apple Search Ads API for iOS 14.5+ (#284)
  builder/tealium-swift.xcodeproj/project.pbxproj
  samples/TealiumSwiftExample/Podfile.lock
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample (Notification).xcscheme
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample Extension.xcscheme
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample.xcscheme
  support/tests/test_tealium_attribution/MockAttributionData.swift
  support/tests/test_tealium_attribution/TealiumAdClientTests.swift
  support/tests/test_tealium_attribution/TealiumAttributionDataTests.swift
  support/tests/test_tealium_attribution/TealiumSKAdAttributionTests.swift
  tealium/collectors/attribution/AttributionConstants.swift
  tealium/collectors/attribution/AttributionData.swift
  tealium/collectors/attribution/PersistentAttributionData.swift
  tealium/collectors/attribution/TealiumAdClient.swift
Labels: attribution, tests, sampleapps

Create a JSONRemoteCommandPayloadBuilder
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcbaselines/D788A541231989DF00BC6D60.xcbaseline/48B9474C-7B49-4B06-A23C-3F66EBB6BAE2.plist
  builder/tealium-swift.xcodeproj/xcshareddata/xcbaselines/D788A541231989DF00BC6D60.xcbaseline/Info.plist
  support/tests/test_tealium_remotecommands/JSONRemoteCommandPayloadBuilderTests.swift
  support/tests/test_tealium_remotecommands/NameAndVersionRemoteCommandTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandExtensionsTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandsManagerTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandsModuleTests.swift
  support/tests/test_tealium_remotecommands/TealiumRemoteCommandTests.swift
  support/tests/test_tealium_remotecommands/mocks/MockJSONRemoteCommand.swift
  support/tests/test_tealium_remotecommands/mocks/MockWebViewRemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
Labels: remotecommands, tests

Reorganize remote commands
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium/dispatchers/remotecommands/JSONRemoteCommandPayloadBuilder.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandsModule.swift
Labels: remotecommands

[MT-1093] make compoundKey be tried first as is in order to not break previous implementations
  support/tests/test_tealium_remotecommands/JSONRemoteCommandPayloadBuilderTests.swift
  tealium/dispatchers/remotecommands/JSONRemoteCommandPayloadBuilder.swift
  tealium/dispatchers/remotecommands/RemoteCommandsModule.swift
Labels: remotecommands, tests

[MT-1093] remove skadnetwork remote command from the sample
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/iOSTealiumTest/conversionRemoteCommand.json
  builder/tealium-swift.xcodeproj/project.pbxproj
Labels: none

Remove remoteCommands from tealiumhelper for macos
  builder/iOSTealiumTest/TealiumHelper.swift
Labels: none

[MT-1093] RemoteCommands static objects (#286)
  builder/iOSTealiumTest/Info.plist
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcbaselines/D788A541231989DF00BC6D60.xcbaseline/48B9474C-7B49-4B06-A23C-3F66EBB6BAE2.plist
  builder/tealium-swift.xcodeproj/xcshareddata/xcbaselines/D788A541231989DF00BC6D60.xcbaseline/Info.plist
  support/tests/test_tealium_remotecommands/JSONRemoteCommandPayloadBuilderTests.swift
  support/tests/test_tealium_remotecommands/NameAndVersionRemoteCommandTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandExtensionsTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandsManagerTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandsModuleTests.swift
  support/tests/test_tealium_remotecommands/TealiumRemoteCommandTests.swift
  support/tests/test_tealium_remotecommands/mocks/MockJSONRemoteCommand.swift
  support/tests/test_tealium_remotecommands/mocks/MockWebViewRemoteCommand.swift
  tealium/dispatchers/remotecommands/JSONRemoteCommandPayloadBuilder.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandConfig.swift
  tealium/dispatchers/remotecommands/RemoteCommandsModule.swift
Labels: remotecommands, tests

Update device-names.json
  tealium/core/devicedata/device-names.json
Labels: core

Update device-names.json
  tealium/core/devicedata/device-names.json
Labels: core

Update device-names.json
  tealium/core/devicedata/device-names.json
Labels: core

Update device-names.json
  tealium/core/devicedata/device-names.json
Labels: core

Updated Device Names (#288)
  tealium/core/devicedata/device-names.json
Labels: core

Version 2.9.0
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile.lock
  tealium-swift.podspec
  tealium/collectors/attribution/AttributionConstants.swift
  tealium/collectors/attribution/PersistentAttributionData.swift
  tealium/core/TealiumConstants.swift
  tealium/core/devicedata/DeviceData.swift
Labels: core, attribution, sampleapps

[MT-1093] RemoteCommands static objects (#286)
  builder/iOSTealiumTest/Info.plist
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcbaselines/D788A541231989DF00BC6D60.xcbaseline/48B9474C-7B49-4B06-A23C-3F66EBB6BAE2.plist
  builder/tealium-swift.xcodeproj/xcshareddata/xcbaselines/D788A541231989DF00BC6D60.xcbaseline/Info.plist
  support/tests/test_tealium_remotecommands/JSONRemoteCommandPayloadBuilderTests.swift
  support/tests/test_tealium_remotecommands/NameAndVersionRemoteCommandTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandExtensionsTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandsManagerTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandsModuleTests.swift
  support/tests/test_tealium_remotecommands/TealiumRemoteCommandTests.swift
  support/tests/test_tealium_remotecommands/mocks/MockJSONRemoteCommand.swift
  support/tests/test_tealium_remotecommands/mocks/MockWebViewRemoteCommand.swift
  tealium/dispatchers/remotecommands/JSONRemoteCommandPayloadBuilder.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandConfig.swift
  tealium/dispatchers/remotecommands/RemoteCommandsModule.swift
Labels: remotecommands, tests

Updated Device Names (#288)
  tealium/core/devicedata/device-names.json
Labels: core

Version 2.9.0
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile.lock
  tealium-swift.podspec
  tealium/collectors/attribution/AttributionConstants.swift
  tealium/collectors/attribution/PersistentAttributionData.swift
  tealium/core/TealiumConstants.swift
  tealium/core/devicedata/DeviceData.swift
Labels: core, attribution, sampleapps

[MT-1144] Use new Apple Search Ads API for iOS 14.5+ (#284)
  builder/tealium-swift.xcodeproj/project.pbxproj
  samples/TealiumSwiftExample/Podfile.lock
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample (Notification).xcscheme
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample Extension.xcscheme
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample.xcscheme
  support/tests/test_tealium_attribution/MockAttributionData.swift
  support/tests/test_tealium_attribution/TealiumAdClientTests.swift
  support/tests/test_tealium_attribution/TealiumAttributionDataTests.swift
  support/tests/test_tealium_attribution/TealiumSKAdAttributionTests.swift
  tealium/collectors/attribution/AttributionConstants.swift
  tealium/collectors/attribution/AttributionData.swift
  tealium/collectors/attribution/PersistentAttributionData.swift
  tealium/collectors/attribution/TealiumAdClient.swift
Labels: attribution, tests, sampleapps

Make disk storage fallback to a legacy JSON decoder once the new one fails
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/TealiumDiskTests.swift
  tealium/core/storage/Disk/Disk+Codable.swift
  tealium/core/utils/JSONEncoderDecoder.swift
Labels: core, tests

[MT-1195] Add support for changing keys delimiters for remote commands
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_remotecommands/JSONRemoteCommandPayloadBuilderTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandConfigTests.swift
  support/tests/test_tealium_remotecommands/TealiumRemoteCommandTests.swift
  support/tests/test_tealium_remotecommands/stubs/keysDelimiter.json
  support/tests/test_tealium_remotecommands/stubs/statics.json
  tealium/dispatchers/remotecommands/JSONRemoteCommandPayloadBuilder.swift
  tealium/dispatchers/remotecommands/RemoteCommandConfig.swift
Labels: remotecommands, tests

Remove duplicated legacyJsonEncoder in Disk tests
  support/tests/test_tealium_core/TealiumDiskTests.swift
Labels: tests

Move keys name into constant file
  tealium/dispatchers/remotecommands/RemoteCommandConfig.swift
  tealium/dispatchers/remotecommands/RemoteCommandsConstants.swift
Labels: remotecommands

[MT-1194] Fix json decoder for migrations (#289)
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/TealiumDiskTests.swift
  tealium/core/storage/Disk/Disk+Codable.swift
  tealium/core/utils/JSONEncoderDecoder.swift
Labels: core, tests

[MT-1195] Remote command keys delimiters override (#290)
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_remotecommands/JSONRemoteCommandPayloadBuilderTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandConfigTests.swift
  support/tests/test_tealium_remotecommands/TealiumRemoteCommandTests.swift
  support/tests/test_tealium_remotecommands/stubs/keysDelimiter.json
  support/tests/test_tealium_remotecommands/stubs/statics.json
  tealium/dispatchers/remotecommands/JSONRemoteCommandPayloadBuilder.swift
  tealium/dispatchers/remotecommands/RemoteCommandConfig.swift
  tealium/dispatchers/remotecommands/RemoteCommandsConstants.swift
Labels: remotecommands, tests

[MT-1194] Fix json decoder for migrations (#289)
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/TealiumDiskTests.swift
  tealium/core/storage/Disk/Disk+Codable.swift
  tealium/core/utils/JSONEncoderDecoder.swift
Labels: core, tests

[MT-1195] Remote command keys delimiters override (#290)
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_remotecommands/JSONRemoteCommandPayloadBuilderTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandConfigTests.swift
  support/tests/test_tealium_remotecommands/TealiumRemoteCommandTests.swift
  support/tests/test_tealium_remotecommands/stubs/keysDelimiter.json
  support/tests/test_tealium_remotecommands/stubs/statics.json
  tealium/dispatchers/remotecommands/JSONRemoteCommandPayloadBuilder.swift
  tealium/dispatchers/remotecommands/RemoteCommandConfig.swift
  tealium/dispatchers/remotecommands/RemoteCommandsConstants.swift
Labels: remotecommands, tests

Version 2.9.1
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

Use contains predicate instead of exact match to evaluate autotracking views
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingIOSUITests.swift
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingMacOSUITests.swift
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingTvOSUITests.swift
Labels: tests

Use generic predicate for iOS/tvOS/macOS
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingIOSUITests.swift
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingMacOSUITests.swift
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingTvOSUITests.swift
  support/tests/test_tealium_autotracking/ui_tests/XCUIApplication+AssertTextExists.swift
Labels: tests

[MT-1230] Improve datalayer performances
  tealium/core/ModulesManager.swift
  tealium/core/appdata/VisitorIdMigrator.swift
  tealium/core/datalayer/DataLayer.swift
  tealium/core/datalayer/TealiumTrace.swift
Labels: core, datalayer

Fix publish settings read from cache not being propagated correctly
  tealium/core/ModulesManager.swift
  tealium/dispatchers/tagmanagement/TagManagementModule.swift
Labels: core, tagmanagement

Create some tests for ModulesManager initialization with cached publishSettings
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
  tealium/core/ModulesManager.swift
  tealium/core/publishsettings/TealiumPublishSettings.swift
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
Labels: core, tests

Add more tests for modules manager interaction with mocked RemotePublishSettingsProvider
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
Labels: tests

Make logger be updated with the new config
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/TealiumModulesManagerTests.swift
  tealium/core/publishsettings/TealiumPublishSettings.swift
Labels: core, tests

Fix tests by waiting synchronously on the background queue for DataLayer to refresh the session
  support/tests/test_tealium_core/datalayer/DataLayerManagerTests.swift
  support/tests/test_tealium_core/datalayer/SessionManagerTests.swift
  tealium/core/datalayer/DataLayer.swift
  tealium/core/datalayer/TealiumTrace.swift
Labels: core, datalayer, tests

Fix some warnings in tests
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/MigratorTests.swift
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
Labels: tests

Use etag to avoid replacing cached settings
  tealium/core/publishsettings/TealiumPublishSettings.swift
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
Labels: core

Test etag headers
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/PublishSettingsTests.swift
  support/tests/test_tealium_core/URLResponseTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
Labels: tests

Test that publishsettings refresh carry the latest etag
  support/tests/test_tealium_core/MockURLSessionPublishSettings.swift
  support/tests/test_tealium_core/PublishSettingsTests.swift
Labels: tests

Fix test for latest etag
  support/tests/test_tealium_core/PublishSettingsTests.swift
Labels: tests

Avoid possible TimedScheduler crash
  tealium/core/TimedEventScheduler.swift
Labels: core

.github/labeler.yml:

core:
  - tealium/core/**/*
datalayer:
  - tealium/core/datalayer/*     
consent:
  - tealium/core/consentmanager/*
storage:
  - tealium/core/storage/*
media:
  - tealium/collectors/media/*
visitorservice:
  - tealium/collectors/visitorservice/*
location:
  - tealium/collectors/location/*
attribution:
  - tealium/collectors/attribution/*
autotracking:
  - tealium/collectors/autotracking/*
lifecycle:
  - tealium/collectors/lifecycle/*
remotecommands:
  - tealium/dispatchers/remotecommands/*
collect:
  - tealium/dispatchers/collect/*
tagmanagement:
  - tealium/dispatchers/tagmanagement/*
tests:
  - support/tests/**/*
sampleapps:
  - samples/**/*
