Repository Tealium/tealium-swift, changes with the labels that .github/labeler.yml gives for each.
All labels: core, datalayer, consent, storage, media, visitorservice, location, attribution, autotracking, lifecycle, remotecommands, collect, tagmanagement, tests, sampleapps

Fix warnings for non mutated weak vars
  support/tests/test_tealium_core/network/ResourceRefresherTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementWKWebViewTests.swift
  tealium/core/TealiumDelegateProxy.swift
  tealium/dispatchers/remotecommands/RemoteHTTPCommand.swift
Labels: core, remotecommands, tests

Make LocationManagerProtocol method respect `@Sendable` from the CLLocationManager API
  support/tests/test_tealium_location/MockLocationManager.swift
  tealium/collectors/location/LocationManagerProtocols.swift
Labels: location, tests

Fix warnings in tests
  builder/iOSTealiumMediaTest/video/VideoPlayerView.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
  support/tests/test_tealium_location/TealiumLocationTests.swift
Labels: tests

Avoid priority inversion in DelegateProxy tests by using new async/await instead of semaphores
  support/tests/test_tealium_core/delegate_proxy/SceneDelegateProxyTests.swift
  support/tests/test_tealium_core/delegate_proxy/TealiumDelegateProxyTests.swift
Labels: tests

Make sure createTealium in test always has access to a tealium instance
  support/tests/test_tealium_core/delegate_proxy/TealiumDelegateProxyTests.swift
  support/tests/test_tealium_location/MockLocationManager.swift
Labels: tests

Revert availability guard
  tealium/core/TealiumDelegateProxy.swift
Labels: core

make memory usage fields be integers
  support/tests/test_tealium_core/device_data/DeviceDataTests.swift
  tealium/core/devicedata/DeviceDataCollection.swift
  tealium/core/devicedata/DeviceDataMemoryInfo.swift
Labels: core, tests

trying to fix flaky tests
  support/tests/test_tealium_tagmanagement/TagManagementUrlBuilderTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementWKWebViewTests.swift
Labels: tests

trying to fix flaky tests, again
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
Labels: tests

memoryUsage: switch from Int to Int64
  support/tests/test_tealium_core/device_data/DeviceDataTests.swift
  tealium/core/devicedata/DeviceDataCollection.swift
  tealium/core/devicedata/DeviceDataMemoryInfo.swift
Labels: core, tests

[MT-2193] Make memory usage fields be integers (#366)
  support/tests/test_tealium_core/device_data/DeviceDataTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementUrlBuilderTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementWKWebViewTests.swift
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
  tealium/core/devicedata/DeviceDataCollection.swift
  tealium/core/devicedata/DeviceDataMemoryInfo.swift
Labels: core, tests

[MT-2125] Support XCode 26 (#365)
  builder/iOSTealiumMediaTest/video/VideoPlayerView.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
  support/tests/test_tealium_core/delegate_proxy/SceneDelegateProxyTests.swift
  support/tests/test_tealium_core/delegate_proxy/TealiumDelegateProxyTests.swift
  support/tests/test_tealium_core/network/ResourceRefresherTests.swift
  support/tests/test_tealium_location/MockLocationManager.swift
  support/tests/test_tealium_location/TealiumLocationTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementWKWebViewTests.swift
  tealium/collectors/location/LocationManagerProtocols.swift
  tealium/core/TealiumDelegateProxy.swift
  tealium/dispatchers/remotecommands/RemoteHTTPCommand.swift
Labels: core, location, remotecommands, tests

Version 2.19.0
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

update social media URL
  tealium-swift.podspec
Labels: none

Release 2.19.0 (#367)
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

.github/labeler.yml:

core:
  - tealium/core/**/*
datalayer:
  - tealium/core/datalayer/*     
consent:
  - tealium/core/consentmanager/*
storage:
  - tealium/core/storage/*
media:
  - tealium/collectors/media/*
visitorservice:
  - tealium/collectors/visitorservice/*
location:
  - tealium/collectors/location/*
attribution:
  - tealium/collectors/attribution/*
autotracking:
  - tealium/collectors/autotracking/*
lifecycle:
  - tealium/collectors/lifecycle/*
remotecommands:
  - tealium/dispatchers/remotecommands/*
collect:
  - tealium/dispatchers/collect/*
tagmanagement:
  - tealium/dispatchers/tagmanagement/*
tests:
  - support/tests/**/*
sampleapps:
  - samples/**/*
