Repository Tealium/tealium-swift, changes with the labels that .github/labeler.yml gives for each.
All labels: core, datalayer, consent, storage, media, visitorservice, location, attribution, autotracking, lifecycle, remotecommands, collect, tagmanagement, tests, sampleapps

.github/labeler.yml:

core:
  - tealium/core/**/*
datalayer:
  - tealium/core/datalayer/*     
consent:
  - tealium/core/consentmanager/*
storage:
  - tealium/core/storage/*
media:
  - tealium/collectors/media/*
visitorservice:
  - tealium/collectors/visitorservice/*
location:
  - tealium/collectors/location/*
attribution:
  - tealium/collectors/attribution/*
autotracking:
  - tealium/collectors/autotracking/*
lifecycle:
  - tealium/collectors/lifecycle/*
remotecommands:
  - tealium/dispatchers/remotecommands/*
collect:
  - tealium/dispatchers/collect/*
tagmanagement:
  - tealium/dispatchers/tagmanagement/*
tests:
  - support/tests/**/*
sampleapps:
  - samples/**/*

Add test for Tracking Authorization Status changed
  support/tests/test_tealium_attribution/TealiumAttributionDataTests.swift
Labels: tests

Make attributionData be evaluated every time
  tealium/collectors/attribution/AttributionData.swift
Labels: attribution

Add tests for changing IDFA tracking
  support/tests/TestTealiumHelper.swift
  support/tests/test_tealium_attribution/MockAttributionData.swift
  support/tests/test_tealium_attribution/TealiumAttributionDataTests.swift
Labels: tests

Make AttributionData.idfa a computed property
  tealium/collectors/attribution/AttributionData.swift
Labels: attribution

Polish attributionDataProtocl from testing variables
  support/tests/test_tealium_attribution/MockAttributionData.swift
  support/tests/test_tealium_attribution/TealiumAttributionDataTests.swift
  tealium/collectors/attribution/AttributionData.swift
  tealium/collectors/attribution/AttributionDataProtocol.swift
Labels: attribution, tests

Change shouldMigratePersistentData default value to true
  samples/TealiumMediaExample/Podfile.lock
  tealium/core/TealiumConfig.swift
Labels: core, sampleapps

Version 2.4.1
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

Fix "migration default should run" test
  support/tests/test_tealium_core/MigratorTests.swift
Labels: tests

Bug/mt 673 (#204)
  samples/TealiumMediaExample/Podfile.lock
  support/tests/TestTealiumHelper.swift
  support/tests/test_tealium_attribution/MockAttributionData.swift
  support/tests/test_tealium_attribution/TealiumAttributionDataTests.swift
  support/tests/test_tealium_core/MigratorTests.swift
  tealium-swift.podspec
  tealium/collectors/attribution/AttributionData.swift
  tealium/collectors/attribution/AttributionDataProtocol.swift
  tealium/core/TealiumConfig.swift
  tealium/core/TealiumConstants.swift
Labels: core, attribution, tests, sampleapps

Make non lazy variables in TealiumASIdentifierManagerTests too
  builder/tealium-swift.xcodeproj/project.pbxproj
  samples/ConsentManagerDemo/Podfile.lock
  support/tests/test_tealium_attribution/TealiumASIdentifierManagerTests.swift
  tealium/collectors/attribution/TealiumASIdentifierManager.swift
Labels: attribution, tests, sampleapps

Create TealiumATTrackingManager class for handling authorization status
  support/tests/test_tealium_attribution/TealiumAttributionDataTests.swift
  tealium/collectors/attribution/TealiumASIdentifierManager.swift
Labels: attribution, tests

Version 2.4.2
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
Labels: core

Try to speedup TealiumConnectivityTest by specifying the DispatchWorkItem QoS
  support/tests/TestTealiumHelper.swift
  support/tests/test_tealium_core/connectivity/TealiumConnectivityTests.swift
Labels: tests

Revert "Try to speedup TealiumConnectivityTest by specifying the DispatchWorkItem QoS"
  support/tests/TestTealiumHelper.swift
  support/tests/test_tealium_core/connectivity/TealiumConnectivityTests.swift
Labels: tests

Comment out a test that fails due to timeout on CICD
  support/tests/test_tealium_core/connectivity/TealiumConnectivityTests.swift
Labels: tests

Add button to show ATT form in TealiumSwiftExample
  samples/TealiumSwiftExample/TealiumSwiftExample/ContentView.swift
  samples/TealiumSwiftExample/TealiumSwiftExample/Info.plist
Labels: sampleapps

Try to use a different queue for delay
  support/tests/test_tealium_core/connectivity/TealiumConnectivityTests.swift
Labels: tests

Increase timeout of a slow test + fix samples for ATT
  builder/iOSTealiumTest/ContentView.swift
  builder/iOSTealiumTest/Info.plist
  samples/TealiumSwiftExample/TealiumSwiftExample/ContentView.swift
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
Labels: tests, sampleapps

disabled xcframeworks job
  .github/workflows/release.yml
  .github/workflows/xcframeworks.yml
Labels: none

Bug/mt 692 (#205)
  .github/workflows/release.yml
  .github/workflows/xcframeworks.yml
  builder/iOSTealiumTest/ContentView.swift
  builder/iOSTealiumTest/Info.plist
  builder/tealium-swift.xcodeproj/project.pbxproj
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumSwiftExample/TealiumSwiftExample/ContentView.swift
  samples/TealiumSwiftExample/TealiumSwiftExample/Info.plist
  support/tests/test_tealium_attribution/TealiumASIdentifierManagerTests.swift
  support/tests/test_tealium_attribution/TealiumAttributionDataTests.swift
  support/tests/test_tealium_core/connectivity/TealiumConnectivityTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  tealium-swift.podspec
  tealium/collectors/attribution/TealiumASIdentifierManager.swift
  tealium/core/TealiumConstants.swift
Labels: core, attribution, tests, sampleapps

Add a small portion of tests around AnyCodable class
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/AnyCodableTests.swift
Labels: tests

Improve codable tests
  support/tests/test_tealium_core/AnyCodableTests.swift
  support/tests/test_tealium_core/TealiumDiskTests.swift
Labels: tests

Improve NSNumber tests
  support/tests/test_tealium_core/AnyCodableTests.swift
Labels: tests

Imrove AnyCodable equality checks and use it to test AnyCodable decoded objects
  support/tests/test_tealium_core/AnyCodableTests.swift
  tealium/core/utils/AnyCodable/AnyCodable.swift
Labels: core, tests

Fix arrays tests
  support/tests/test_tealium_core/AnyCodableTests.swift
Labels: tests

Improve Dictionary and Array tests
  support/tests/test_tealium_core/AnyCodableTests.swift
Labels: tests

Improve AnyEncodable handling and reduce it's complexity
  tealium/core/utils/AnyCodable/AnyEncodable.swift
Labels: core

Reuse a common method for Equality checks on AnyCodable, AnyEncodable, AnyDecodable
  tealium/core/utils/AnyCodable/AnyCodable.swift
  tealium/core/utils/AnyCodable/AnyDecodable.swift
  tealium/core/utils/AnyCodable/AnyEncodable.swift
Labels: core

Exclude unmonitored geofences from tracking
  tealium/collectors/location/TealiumLocationManager.swift
Labels: location

location fixes & device_logical_resolution
  builder/iOSTealiumTest/Info.plist
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/device_data/DeviceDataTests.swift
  support/tests/test_tealium_location/TealiumLocationTests.swift
  tealium/collectors/location/TealiumLocationManager.swift
  tealium/core/TealiumConstants.swift
  tealium/core/devicedata/DeviceDataModule.swift
  tealium/core/devicedata/DeviceDataScreenInfo.swift
Labels: core, location, tests

comment fix
  tealium/collectors/location/TealiumLocationManager.swift
Labels: location

location geofence update
  tealium/collectors/location/TealiumLocationManager.swift
Labels: location

geofence improvements
  support/tests/test_tealium_location/TealiumLocationTests.swift
  tealium/collectors/location/TealiumLocationManager.swift
Labels: location, tests

disabled release workflow
  .github/workflows/release.txt
Labels: none

disabled xcframework workflow
  .github/workflows/xcframeworks.txt
Labels: none

Create observables classes and tests
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/ObservableTests.swift
  tealium/core/Observable.swift
Labels: core, tests

2.4.3
  .github/workflows/release.txt
  .github/workflows/xcframeworks.txt
  builder/iOSTealiumTest/Info.plist
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/device_data/DeviceDataTests.swift
  support/tests/test_tealium_location/TealiumLocationTests.swift
  tealium/collectors/location/TealiumLocationManager.swift
  tealium/core/TealiumConstants.swift
  tealium/core/devicedata/DeviceDataModule.swift
  tealium/core/devicedata/DeviceDataScreenInfo.swift
Labels: core, location, tests

Fix behavior subject observable and improve Void publishers
  support/tests/test_tealium_core/ObservableTests.swift
  tealium/core/Observable.swift
Labels: core, tests

Handle deepLinks on backgroundSerialQueue so we wait for tealium enableCompletion
  support/tests/test_tealium_core/datalayer/TealiumTraceTests.swift
  tealium/core/datalayer/TealiumTrace.swift
Labels: core, datalayer, tests

Change of loggerType will change the actual logger instance in the config
  support/tests/test_tealium_core/TealiumConfigTests.swift
  tealium/core/logger/TealiumLoggerExtensions.swift
Labels: core, tests
