Repository Tealium/tealium-swift, pull requests merged in 2021-12, with the labels that each got.

#244 [MT-876] add dispatch on backgroundSerialQueue
  support/tests/test_tealium_core/PublishSettingsTests.swift
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
Labels: core, tests

#243 Mt 857
  support/tests/test_tealium_core/TealiumInstanceManagerTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementModuleTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  tealium/collectors/visitorservice/VisitorServiceModule.swift
  tealium/core/consentmanager/ConsentPreferencesStorage.swift
  tealium/core/utils/TealiumNetworkUtils.swift
  tealium/core/utils/TealiumRepeatingTimer.swift
  tealium/dispatchers/tagmanagement/TagManagementModule.swift
  tealium/dispatchers/tagmanagement/TagManagementWKWebView.swift
Labels: core, consent, tagmanagement, tests, visitorservice

#241 fixed url swallowing issue
  .github/workflows/test.yml
  builder/tealium-swift.xcodeproj/project.pbxproj
  samples/VisitorServiceDemo/TealiumVisitorProfileDemoUITests/TealiumVisitorProfileDemoUITests.swift
  support/tests/test_tealium_autotracking/ui_tests/AutoTrackingTvOSUITests.swift
  support/tests/test_tealium_core/PublishSettingsTests.swift
  support/tests/test_tealium_core/TealiumInstanceManagerTests.swift
  support/tests/test_tealium_tagmanagement/TagManagementModuleTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceModuleTests.swift
  tealium-swift.podspec
  tealium/collectors/autotracking/objc/UIViewController+TealiumTracker.m
  tealium/collectors/visitorservice/VisitorServiceModule.swift
  tealium/core/TealiumConstants.swift
  tealium/core/TealiumDelegateProxy.swift
  tealium/core/consentmanager/ConsentPreferencesStorage.swift
  tealium/core/objc/TealiumDelegateProxy+Swizzle.m
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
  tealium/core/utils/TealiumNetworkUtils.swift
  tealium/core/utils/TealiumRepeatingTimer.swift
  tealium/dispatchers/tagmanagement/TagManagementModule.swift
  tealium/dispatchers/tagmanagement/TagManagementWKWebView.swift
Labels: core, consent, tagmanagement, tests, sampleapps, visitorservice
