Repository Tealium/tealium-swift, pull requests merged in 2021-11, with the labels that each got.

#234 Changed all the force unwraps to safely check the values first
  samples/TealiumSwiftExample/Podfile.lock
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample Extension.xcscheme
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample.xcscheme
  tealium/collectors/lifecycle/Lifecycle.swift
  tealium/collectors/visitorservice/VisitorServiceRetriever.swift
  tealium/core/TealiumDelegateProxy.swift
  tealium/core/connectivity/LegacyConnectivityMonitor.swift
  tealium/core/datalayer/DataLayerCollection.swift
  tealium/core/datalayer/Expiry.swift
  tealium/core/publishsettings/TealiumPublishSettingsRetriever.swift
  tealium/core/storage/Disk/Disk+InternalHelpers.swift
  tealium/core/utils/Data+Gzip/Data+Gzip.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
  tealium/dispatchers/remotecommands/RemoteHTTPCommand.swift
Labels: core, sampleapps, datalayer, remotecommands, visitorservice, lifecycle

#233 Mt 821
  support/tests/test_tealium_core/AnyCodableTests.swift
  tealium/core/utils/AnyCodable/AnyEncodable.swift
Labels: core, tests

#235 Mt 687
  support/tests/test_tealium_core/consent_manager/ConsentManagerModuleTests.swift
  support/tests/test_tealium_core/consent_manager/ConsentManagerTests.swift
  support/tests/test_tealium_core/dispatch_manager/DispatchManagerTests.swift
  tealium/core/ModulesManager.swift
  tealium/core/consentmanager/ConsentConstants.swift
  tealium/core/consentmanager/ConsentManager.swift
  tealium/core/consentmanager/ConsentManagerExtensions.swift
  tealium/core/consentmanager/ConsentManagerModule.swift
  tealium/core/consentmanager/ConsentPolicies.swift
Labels: core, consent, tests

#242 [MT-875] fix import of Swift files from Obj-C in case of static library
  tealium/collectors/autotracking/objc/UIViewController+TealiumTracker.m
  tealium/core/objc/TealiumDelegateProxy+Swizzle.m
Labels: core
