Repository Tealium/tealium-swift, pull requests merged in 2021-10, with the labels that each got.

#221 Mt 784
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/datalayer/DataLayerManagerTests.swift
  support/tests/test_tealium_core/datalayer/DataLayerTests.swift
  support/tests/test_tealium_core/datalayer/MockEventDataDiskStorage.swift
  support/tests/test_tealium_core/datalayer/SessionManagerTests.swift
  tealium/core/datalayer/DataLayer.swift
  tealium/core/datalayer/DataLayerCollection.swift
  tealium/core/datalayer/DataLayerManagerProtocol.swift
  tealium/core/datalayer/Expiry.swift
  tealium/core/datalayer/SessionManager.swift
Labels: core, tests, datalayer

#222 [MT-797] make RemoteHTTPCommand use the relative manager url Session
  support/tests/test_tealium_remotecommands/RemoteCommandsModuleTests.swift
  support/tests/test_tealium_remotecommands/RemoteHTTPCommandTests.swift
  support/tests/test_tealium_remotecommands/mocks/MockRemoteCommandsManager.swift
  support/tests/test_tealium_remotecommands/mocks/MockURLSession.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandProtocols.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
  tealium/dispatchers/remotecommands/RemoteCommandsModule.swift
  tealium/dispatchers/remotecommands/RemoteHTTPCommand.swift
Labels: tests, remotecommands

#224 [MT-796] only register for lowPowerModeNotification is batterySaver is enabled
  support/tests/test_tealium_core/dispatch_manager/DispatchManagerTests.swift
  tealium/core/dispatchmanager/TealiumDispatchQueueExtensions.swift
Labels: core, tests

#225 Mt 798
  support/tests/test_tealium_core/consent_manager/ConsentManagerTests.swift
  support/tests/test_tealium_core/consent_manager/MockConsentDelegate.swift
  tealium/core/consentmanager/ConsentManager.swift
Labels: core, consent, tests

#226 2.4.6
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumSwiftExample/Podfile.lock
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftExample.xcscheme
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample Extension.xcscheme
  samples/TealiumSwiftExample/TealiumSwiftExample.xcodeproj/xcshareddata/xcschemes/TealiumSwiftWatchExample.xcscheme
  samples/VisitorServiceDemo/Podfile.lock
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/datalayer/DataLayerManagerTests.swift
  support/tests/test_tealium_core/datalayer/DataLayerTests.swift
  support/tests/test_tealium_core/datalayer/MockEventDataDiskStorage.swift
  support/tests/test_tealium_core/datalayer/SessionManagerTests.swift
  support/tests/test_tealium_core/dispatch_manager/DispatchManagerTests.swift
  support/tests/test_tealium_remotecommands/RemoteCommandsModuleTests.swift
  support/tests/test_tealium_remotecommands/RemoteHTTPCommandTests.swift
  support/tests/test_tealium_remotecommands/mocks/MockRemoteCommandsManager.swift
  support/tests/test_tealium_remotecommands/mocks/MockURLSession.swift
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
  tealium/core/datalayer/DataLayer.swift
  tealium/core/datalayer/DataLayerCollection.swift
  tealium/core/datalayer/DataLayerManagerProtocol.swift
  tealium/core/datalayer/Expiry.swift
  tealium/core/datalayer/SessionManager.swift
  tealium/core/dispatchmanager/TealiumDispatchQueueExtensions.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandProtocols.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
  tealium/dispatchers/remotecommands/RemoteCommandsModule.swift
  tealium/dispatchers/remotecommands/RemoteHTTPCommand.swift
Labels: core, tests, sampleapps, datalayer, remotecommands
