Repository Tealium/tealium-swift, pull requests merged in 2021-09, with the labels that each got.

#208 Mt 703
  .github/workflows/release.txt
  .github/workflows/xcframeworks.txt
  builder/iOSTealiumTest/Info.plist
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/device_data/DeviceDataTests.swift
  support/tests/test_tealium_location/TealiumLocationTests.swift
  tealium/collectors/location/TealiumLocationManager.swift
  tealium/core/TealiumConstants.swift
  tealium/core/devicedata/DeviceDataModule.swift
  tealium/core/devicedata/DeviceDataScreenInfo.swift
Labels: core, tests, location

#209 Synchronize deep link & Fix loggerType not changing actual logger Instance
  support/tests/test_tealium_core/TealiumConfigTests.swift
  support/tests/test_tealium_core/datalayer/TealiumTraceTests.swift
  tealium/core/datalayer/TealiumTrace.swift
  tealium/core/logger/TealiumLoggerExtensions.swift
Labels: core, tests, datalayer

#207 Feature/mt 707
  .github/workflows/release.txt
  .github/workflows/xcframeworks.txt
  builder/iOSTealiumTest/Info.plist
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/AnyCodableTests.swift
  support/tests/test_tealium_core/TealiumConfigTests.swift
  support/tests/test_tealium_core/TealiumDiskTests.swift
  support/tests/test_tealium_core/datalayer/TealiumTraceTests.swift
  support/tests/test_tealium_core/device_data/DeviceDataTests.swift
  support/tests/test_tealium_location/TealiumLocationTests.swift
  tealium-swift.podspec
  tealium/collectors/location/TealiumLocationManager.swift
  tealium/core/TealiumConstants.swift
  tealium/core/datalayer/TealiumTrace.swift
  tealium/core/devicedata/DeviceDataModule.swift
  tealium/core/devicedata/DeviceDataScreenInfo.swift
  tealium/core/logger/TealiumLoggerExtensions.swift
  tealium/core/utils/AnyCodable/AnyCodable.swift
  tealium/core/utils/AnyCodable/AnyDecodable.swift
  tealium/core/utils/AnyCodable/AnyEncodable.swift
Labels: core, tests, datalayer, location

#210 2.4.4
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/iOSTealiumMediaTest.xcscheme
  samples/ConsentManagerDemo/Podfile.lock
  samples/TealiumMediaExample/Podfile.lock
  samples/TealiumMediaExample/TealiumMediaExample.xcodeproj/xcshareddata/xcschemes/TealiumMediaExample.xcscheme
  samples/TealiumSwiftExample/Podfile.lock
  samples/VisitorServiceDemo/Podfile.lock
  support/tests/test_tealium_core/AnyCodableTests.swift
  support/tests/test_tealium_core/TealiumUtilsTests.swift
  support/tests/test_tealium_core/device_data/DeviceDataTests.swift
  support/tests/test_tealium_tagmanagement/WKWebViewIntegrationTests.swift
  tealium-swift.podspec
  tealium/core/TealiumConstants.swift
  tealium/core/devicedata/DeviceDataScreenInfo.swift
  tealium/core/logger/TealiumLogRequest.swift
  tealium/core/protocols/LoggingDataToStringConverter.swift
  tealium/core/utils/AnyCodable/AnyCodable.swift
  tealium/core/utils/AnyCodable/AnyEncodable.swift
  tealium/core/utils/Date+Tealium.swift
  tealium/core/utils/JSONEncoderDecoder.swift
  tealium/core/utils/Tealium+Encodable.swift
  tealium/core/utils/TealiumNetworkUtils.swift
  tealium/dispatchers/collect/CollectEventDispatcher.swift
  tealium/dispatchers/tagmanagement/TagManagementUtils.swift
  tealium/dispatchers/tagmanagement/TagManagementWKWebView.swift
Labels: core, tagmanagement, tests, sampleapps, collect

#211 Mt 783
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_tagmanagement/TagManagementConfigTests.swift
  support/tests/test_tealium_visitorservice/VisitorServiceConfigTests.swift
  tealium/collectors/visitorservice/VisitorServiceExtensions.swift
  tealium/core/utils/TealiumUtils.swift
  tealium/dispatchers/tagmanagement/TagManagementExtensions.swift
Labels: core, tagmanagement, tests, visitorservice

#212 Mt 782
  support/tests/test_tealium_remotecommands/RemoteCommandsManagerTests.swift
  tealium/dispatchers/remotecommands/RemoteCommandsManager.swift
Labels: tests, remotecommands

#213 Mt 746
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/MigratorTests.swift
  support/tests/test_tealium_lifecycle/LifecycleSessionTests.swift
  support/tests/test_tealium_lifecycle/LifecycleTests.swift
  tealium/collectors/lifecycle/Lifecycle.swift
  tealium/collectors/lifecycle/LifecycleSession.swift
  tealium/core/utils/Migrator.swift
Labels: core, tests, lifecycle

#215 Make watchOS use the legacy connectiviyMonitor
  tealium/core/connectivity/ConnectivityModule.swift
  tealium/core/connectivity/NWPathMonitor.swift
Labels: core

#216 Mt 669
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_core/AppDelegateProxyTests.swift
  support/tests/test_tealium_core/TealiumAppDelegateProxyTests-iOS-Bridging-Header.h
  support/tests/test_tealium_core/UIApplication+ManualContinueActivity.h
  support/tests/test_tealium_core/UIApplication+ManualContinueActivity.m
  support/tests/test_tealium_core/datalayer/TealiumTraceTests.swift
  tealium/core/TealiumAppDelegateProxy.swift
  tealium/core/TealiumConstants.swift
  tealium/core/TealiumContext.swift
  tealium/core/datalayer/TealiumTrace.swift
Labels: core, tests, datalayer

#218 Mt 794
  Package.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  tealium-swift.podspec
  tealium/core/devicedata/DeviceData.swift
  tealium/core/devicedata/DeviceDataModelInfo.swift
  tealium/core/devicedata/DeviceNamesLookup.swift
  tealium/core/devicedata/device-names.json
Labels: core
