Repository Tealium/tealium-swift, pull requests merged in 2022-05, with the labels that each got.

#263 Remote commands fix
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_remotecommands/NameAndVersionRemoteCommandTests.swift
  tealium/dispatchers/remotecommands/RemoteCommand.swift
  tealium/dispatchers/remotecommands/RemoteCommandProtocols.swift
Labels: core, tests, datalayer, remotecommands, visitorservice

#261 Added background location config option to the location module
  builder/AutoTrackingIOSTest/Info.plist
  builder/iOSTealiumTest/Info.plist
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_location/MockLocationManager.swift
  support/tests/test_tealium_location/TealiumLocationTests.swift
  tealium/collectors/location/LocationManagerProtocols.swift
  tealium/collectors/location/TealiumLocationExtensions.swift
  tealium/collectors/location/TealiumLocationManager.swift
Labels: tests, location

#266 2.6.5
  .swiftlint.yml
  tealium-swift.podspec
  tealium/collectors/autotracking/AutotrackingModule.swift
  tealium/collectors/location/TealiumLocationManager.swift
  tealium/core/TealiumConstants.swift
  tealium/core/TealiumInstanceManager.swift
  tealium/core/appdata/AppDataModule.swift
Labels: core, location, autotracking
