Repository Tealium/tealium-swift, pull requests merged in 2022-01, with the labels that each got.

#248 [MT-879] add a workaround for lowPowerModeEnabled internal crash in iOS
  tealium/core/dispatchmanager/TealiumDispatchQueueExtensions.swift
Labels: core

#251 Mt 904
  support/tests/CoreMocks.swift
  support/tests/test_tealium_core/MigratorTests.swift
  tealium/core/Tealium.swift
  tealium/core/storage/LegacyConsentConfiguration.swift
  tealium/core/storage/LegacyStorageProtocols.swift
  tealium/core/utils/Migrator.swift
Labels: core, tests, storage

#247 Feature/mt 870
  builder/iOSTealiumTest/TealiumHelper.swift
  builder/tealium-swift.xcodeproj/project.pbxproj
  support/tests/test_tealium_lifecycle/LifecycleModuleTests.swift
  tealium/collectors/lifecycle/LifecycleModule.swift
  tealium/collectors/media/MediaModule.swift
  tealium/core/dispatchmanager/DispatchManager.swift
  tealium/core/dispatchmanager/TealiumDispatchQueueExtensions.swift
  tealium/core/utils/TealiumLifecycleEventsDelegate.swift
  tealium/core/utils/TealiumLifecycleListeners.swift
Labels: core, media, tests, lifecycle

#253 CICD Fixes
  builder/tealium-swift.xcodeproj/project.pbxproj
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumInAppPurchaseTests-iOS.xcscheme
  builder/tealium-swift.xcodeproj/xcshareddata/xcschemes/TealiumInAppPurchaseTests-tvOS.xcscheme
  support/tests/test_tealium_inapppurchase/TealiumInAppPurchaseModuleTests.swift
Labels: tests
